<div style="margin-bottom:20px;">
  <mat-card>

    <img mat-card-image src="/assets/img/logo.png"
      alt="Card image cap" style="height: 200px;
      width: 250px;
      margin: auto;">
      <mat-card-content>
        <div *ngIf="currentFileUpload && !(typeOfFile === OTHER_TYPE)">
          <div class="progress-bar progress-bar-info progress-bar-striped" style="margin-top: 20px; color: white; background-color: #3f51b5 !important;" role="progressbar"
                attr.aria-valuenow="{{progress.percentage}}" aria-valuemin="0" aria-valuemax="100"
                [ngStyle]="{width:progress.percentage+'%'}">
                {{progress.percentage}}%
              </div>    
        </div>
            <div class="btn-group-vertical">
              <div *ngIf="selectedFile && !message" style="color: #3f51b5; margin-top: 20px;
              margin-bottom: -20px; text-align: center;">
                {{ selectedFile.name }}</div>
              <div *ngIf="message" style="color: #3f51b5;
              font-size: 12px;
              font-weight: 600;
              text-align: center;
              margin-top: 15px;
              margin-bottom: -30px;">
                <p>{{ message }}</p>
              </div>
              <input id="myInput" type="file" style="visibility:hidden;" (change)="selectFile($event)"
                multiple="multiple" accept=".zip" class="form-control" />
              <button mat-raised-button color="primary" class="btn-block" onclick="document.getElementById('myInput').click()">Alege Fisier</button>
              <div *ngIf="typeOfFile === OTHER_TYPE" style="color: red;
                font-size: 12px;
                font-weight: 600;
                margin-top: 15px;">
                <p>Acest tip de fisier nu poate fi transferat.</p>
                <p>Selecteaza alt fisier</p>
              </div>
              <div *ngIf="errorMessageFromServer" style="color: red;
                font-size: 12px;
                font-weight: 600;
                margin-top: 15px;">
                <p>{{ errorMessageFromServer }}</p>
              </div>
              <button [disabled]="!selectedFiles || typeOfFile === OTHER_TYPE" mat-raised-button color="primary" class="btn-block" (click)="upload()">Incarca Fisier</button>
            </div>
      </mat-card-content>
</mat-card>
</div>