<h2 mat-dialog-title>Eroare</h2>
<mat-dialog-content>
  <div>
    <mat-icon style="font-size: 40px;
    height: 40px;
    width: 40px;
    color: red;">error</mat-icon>
    <mat-label style="    margin-left: 10px;
    font-size: 17px;
    position: relative;
    top: 3px;
    letter-spacing: 0.5px;">{{error}}</mat-label>
  </div>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions style="    margin-top: 20px;
margin-bottom: -10px;" align="center">
  <button mat-raised-button color="primary" mat-dialog-close style="font-size: 18px;">
    Inchide
  </button>
</mat-dialog-actions>