<mat-card style="margin-bottom: 20px;">
    <mat-card-header>
        <mat-card-title>Informatii Cont</mat-card-title>
        <mat-card-subtitle>{{user.username}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/img/lifting-colour-400px.png">
    <mat-divider></mat-divider>
    <mat-card-content style="text-align: center;">
        <mat-list>
            <mat-list-item>
                {{ user.firstName }}
            </mat-list-item>
            <mat-list-item>
                {{ user.lastName }}
            </mat-list-item>
            <mat-list-item>
                {{ user.email }}
            </mat-list-item>
            <mat-list-item>
                {{ user.phoneNumber }}
            </mat-list-item>
            <mat-list-item>
                {{ user.bornDate }}
            </mat-list-item>
            <mat-list-item>
                {{ user.gender }}
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>