<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Curriculum Vitae</title>
<base href="/">
<link th:href="@{vendor/bootstrap-4.1/bootstrap.min.css}"
	rel="stylesheet" media="all">
	<script src="https://kit.fontawesome.com/8f58d13ed0.js"
	crossorigin="anonymous"></script>
<link th:href="@{css/theme.css}" rel="stylesheet" media="all">
<link rel="stylesheet" type="text/css" th:href="@{css/style.css}" />
</head>
<body>
	<div th:each="role, iterStat : ${account.roles}">
		<div class="page-wrapper">
			<header style="background-color: white;"
				class="header-mobile d-block d-lg-none">
				<div class="header-mobile__bar">
					<div class="container-fluid">
						<div class="header-mobile-inner">
							<a class="logo" href="index.html"> <img
								src="/images/logo/Screenshot_18.png">
							</a>
							<button class="hamburger hamburger--slider" type="button">
								<span class="hamburger-box"> <span
									class="hamburger-inner"></span>
								</span>
							</button>
						</div>
					</div>
				</div>
				<nav class="navbar-mobile">
					<div class="container-fluid">
						<ul class="navbar-mobile__list list-unstyled">
							<th:block th:if="${role.name eq 'ROLE_NUTRITIONIST'}">
								<li><a href="/trainer" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/home.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Home</span></a></li>
								<li><a href="/view_learners" class="links" style=""><img
										style="height: 40px; width: 40px; background-color: #4A7AFF; border-radius: 30px; border: 3px solid #4A7AFF;"
										width="800" height="800" src="/images/avatar/man.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Cursanti</span></a></li>
								<li><a href="/diet_plans" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/popsicle.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Diete</span></a></li>
								<li><a href="/create_diet_plan" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/kcalaccumulated.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Creeaza
											Dieta</span></a></li>
								<li><a href="/purchased_diet_plans" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/burn.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Diete
											Vandute</span></a></li>
								<li><a href="/view_feedbacks" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/positive-vote.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Feedback-uri
											Cursanti</span></a></li>
								<li><a href="/logout" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/logout.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Logout</span></a></li>
							</th:block>
							<th:block th:if="${role.name eq 'ROLE_TRAINER'}">
								<li><a href="/trainer" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/home.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Home</span></a></li>
								<li><a href="/view_learners" class="links" style=""><img
										style="height: 40px; width: 40px; background-color: #4A7AFF; border-radius: 30px; border: 3px solid #4A7AFF;"
										width="800" height="800" src="/images/avatar/man.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Cursanti</span></a></li>
								<li><a href="/training_plans" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/exercise.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Antrenamente</span></a></li>
								<li><a href="/create_training_plan" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/diet.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Creeaza
											Antrenament</span></a></li>
								<li><a href="/purchased_training_plans" class="links"
									style=""><img style="height: 40px; width: 40px;"
										width="800" height="800" src="/images/logo/gym-ex.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Antrenamente
											Vandute</span></a></li>
								<li><a href="/view_feedbacks" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/positive-vote.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Feedback-uri
											Cursanti</span></a></li>
								<li><a href="/logout" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/logout.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Logout</span></a></li>
							</th:block>
						</ul>
					</div>
				</nav>
			</header>
			<aside style="background-color: white;"
				class="menu-sidebar d-none d-lg-block">
				<div class="logo">
					<a href="#"> <img src="/images/logo/Screenshot_18.png">
					</a>
				</div>
				<div class="menu-sidebar__content js-scrollbar1">
					<nav class="navbar-sidebar">
						<ul class="list-unstyled navbar__list" style="padding-left: 0px;">
								<th:block th:if="${role.name eq 'ROLE_NUTRITIONIST'}">
								<li><a href="/trainer" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/home.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Home</span></a></li>
								<li><a href="/view_learners" class="links" style=""><img
										style="height: 40px; width: 40px; background-color: #4A7AFF; border-radius: 30px; border: 3px solid #4A7AFF;"
										width="800" height="800" src="/images/avatar/man.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Cursanti</span></a></li>
								<li><a href="/diet_plans" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/popsicle.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Diete</span></a></li>
								<li><a href="/create_diet_plan" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/kcalaccumulated.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Creeaza
											Dieta</span></a></li>
								<li><a href="/purchased_diet_plans" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/burn.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Diete
											Vandute</span></a></li>
								<li><a href="/view_feedbacks" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/positive-vote.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Feedback-uri
											Cursanti</span></a></li>
								<li><a href="/logout" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/logout.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Logout</span></a></li>
							</th:block>
							<th:block th:if="${role.name eq 'ROLE_TRAINER'}">
								<li><a href="/trainer" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/home.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Home</span></a></li>
								<li><a href="/view_learners" class="links" style=""><img
										style="height: 40px; width: 40px; background-color: #4A7AFF; border-radius: 30px; border: 3px solid #4A7AFF;"
										width="800" height="800" src="/images/avatar/man.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Cursanti</span></a></li>
								<li><a href="/training_plans" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/exercise.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Antrenamente</span></a></li>
								<li><a href="/create_training_plan" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/diet.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Creeaza
											Antrenament</span></a></li>
								<li><a href="/purchased_training_plans" class="links"
									style=""><img style="height: 40px; width: 40px;"
										width="800" height="800" src="/images/logo/gym-ex.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Antrenamente
											Vandute</span></a></li>
								<li><a href="/view_feedbacks" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/positive-vote.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Feedback-uri
											Cursanti</span></a></li>
								<li><a href="/logout" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/logout.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Logout</span></a></li>
							</th:block>
						</ul>
					</nav>
				</div>
			</aside>
			<div class="page-container">
				<div class="main-content">
					<div class="section__content section__content--p30">
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-12">
									<form class="form-horizontal" role="form" method="POST"
										th:action="@{/curriculumVitaeSave}"
										th:object="${curriculumVitae}">
										<div
											style="text-align: center; font-size: 70px; color: white; font-weight: 700;">Curriculum
											Vitae</div>
										<input type="hidden" name="accountId"
											th:value="${account.accountId}" />
										<div class="col-md-10 mx-auto">
											<div class="row" style="position: relative; left: 85px;">
												<div class="col-lg-5" style="margin-bottom: 50px;">
													<label
														style="font-size: 35px; color: white; font-weight: 600;">Descriere</label>
													<div class="input-group mb-2 mr-sm-2 mb-sm-0">
														<textarea rows="3" cols="20" th:field="*{description}"
															class="form-control validation"
															style="resize: none; border-radius: 15px; border: none; padding: 20px;"
															id="description"
															placeholder="Descrie-te in cateva randuri..." autofocus></textarea>
													</div>
													<div th:unless="${#fields.hasErrors('description')}">
														<p
															style="color: white; font-size: 12px; margin-top: 10px;"
															class="errorMessage"></p>
													</div>
													<div
														style="color: white; font-size: 12px; margin-top: 10px;"
														th:if="${#fields.hasErrors('description')}"
														th:errors="*{description}"></div>
												</div>
												<div class="col-lg-5" style="margin-bottom: 50px;">
													<label
														style="font-size: 35px; color: white; font-weight: 600;">Obiectivul
														Job-ului</label>
													<div class="input-group mb-2 mr-sm-2 mb-sm-0">
														<textarea rows="3" cols="20" th:field="*{jobObiective}"
															class="form-control validation"
															style="resize: none; border-radius: 15px; border: none; padding: 20px;"
															id="jobObiective" placeholder="De ce vrei acest job?"
															autofocus></textarea>
													</div>
													<div th:unless="${#fields.hasErrors('jobObiective')}">
														<p
															style="color: white; font-size: 12px; margin-top: 10px;"
															class="errorMessage"></p>
													</div>
													<div
														style="color: white; font-size: 12px; margin-top: 10px;"
														th:if="${#fields.hasErrors('jobObiective')}"
														th:errors="*{jobObiective}"></div>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-10 mx-auto" style="margin-bottom: 50px;">
													<div class="au-card" style="min-height: 100%;">
														<div class="au-card-inner">
															<div class="education"
																style="display: flex; justify-content: center; align-items: center;">
																<h1
																	style="font-size: 45px; float: left; color: #7300e6;">Educatie</h1>
																<button onclick="addEducation()"
																	style="float: right; margin: 0px !important; position: absolute; right: 50px; top: 50px;"
																	type="button" data-toggle="modal"
																	data-target="#addEducation" data-backdrop="static"
																	data-keyboard="false">
																	<i class="fas fa-plus edit-about"></i>
																</button>
															</div>
															<div id="educationList">
																<div class="content" style="left: -25px;">
																	<div class="left-content">
																		<th:block
																			th:each="edu, status : ${curriculumVitae.education}">
																			<th:block th:if="${edu}">
																				<div class="row item" style="width: 750px;">
																					<div class="col">
																						<label class="labels">Nume</label> <input
																							th:field="*{education[__${status.index}__].name}"
																							type="text" class="form-control input-border"
																							th:classappend="${#fields.hasErrors('education[__${status.index}__].name')} ? red-border">
																					</div>
																					<div class="col">
																						<label class="labels">Oras</label> <input
																							th:field="*{education[__${status.index}__].city}"
																							type="text" class="form-control input-border"
																							th:classappend="${#fields.hasErrors('education[__${status.index}__].city')} ? red-border">
																					</div>
																					<div class="col">
																						<label class="labels">Start</label> <input
																							th:field="*{education[__${status.index}__].start}"
																							type="text" class="form-control input-border"
																							th:classappend="${#fields.hasErrors('education[__${status.index}__].start')} ? red-border">
																					</div>
																					<div class="col">
																						<label class="labels">Sfarsit</label> <input
																							th:field="*{education[__${status.index}__].end}"
																							type="text" class="form-control input-border"
																							th:classappend="${#fields.hasErrors('education[__${status.index}__].end')} ? red-border">
																					</div>
																				</div>
																			</th:block>
																			<th:block th:unless="${edu}">
																				<div class="row item">
																					<div class="col wid">
																						<input
																							th:field="*{education[__${status.index}__].name}"
																							type="text" class="form-control">
																					</div>
																					<div class="col wid">
																						<input
																							th:field="*{education[__${status.index}__].city}"
																							type="text" class="form-control">
																					</div>
																					<div class="col wid">
																						<input
																							th:field="*{education[__${status.index}__].start}"
																							type="text" class="form-control">
																					</div>
																					<div class="col wid">
																						<input
																							th:field="*{education[__${status.index}__].end}"
																							type="text" class="form-control">
																					</div>
																				</div>
																			</th:block>
																			<div class="row" style="margin-top: 20px;">
																				<div class="alert alert-danger alert-customize"
																					th:if="${#fields.hasErrors('education[__${status.index}__].name')}"
																					th:errors="*{education[__${status.index}__].name}"></div>
																			</div>
																			<div class="row">
																				<div class="alert alert-danger alert-customize"
																					th:if="${#fields.hasErrors('education[__${status.index}__].city')}"
																					th:errors="*{education[__${status.index}__].city}"></div>
																			</div>
																			<div class="row">
																				<div class="alert alert-danger alert-customize"
																					th:if="${#fields.hasErrors('education[__${status.index}__].start')}"
																					th:errors="*{education[__${status.index}__].start}">
																				</div>
																			</div>
																			<div class="row">
																				<div class="alert alert-danger alert-customize"
																					th:if="${#fields.hasErrors('education[__${status.index}__].end')}"
																					th:errors="*{education[__${status.index}__].end}"></div>
																			</div>
																		</th:block>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-10 mx-auto" style="margin-bottom: 50px;">
													<div class="au-card" style="min-height: 100%;">
														<div class="au-card-inner">
															<div class="education"
																style="display: flex; justify-content: center; align-items: center;">
																<h1
																	style="font-size: 45px; float: left; color: #7300e6;">Experienta</h1>
																<button onclick="addExperience()"
																	style="float: right; margin: 0px !important; position: absolute; right: 50px; top: 50px;"
																	type="button" data-toggle="modal"
																	data-target="#addEducation" data-backdrop="static"
																	data-keyboard="false">
																	<i class="fas fa-plus edit-about"></i>
																</button>
															</div>
															<div id="experienceList">
																<div class="content" style="left: -25px;">
																	<div class="left-content">
																		<th:block
																			th:each="exp, status : ${curriculumVitae.experiences}">
																			<th:block th:if="${exp}">
																				<div class="row item" style="width: 750px;">
																					<div class="col">
																						<label class="labels">Nume</label> <input
																							th:field="*{experiences[__${status.index}__].name}"
																							type="text" class="form-control input-border"
																							th:classappend="${#fields.hasErrors('experiences[__${status.index}__].name')} ? red-border">
																					</div>
																					<div class="col">
																						<label class="labels">Oras</label> <input
																							th:field="*{experiences[__${status.index}__].city}"
																							type="text" class="form-control input-border"
																							th:classappend="${#fields.hasErrors('experiences[__${status.index}__].city')} ? red-border">
																					</div>
																					<div class="col">
																						<label class="labels">Start</label> <input
																							th:field="*{experiences[__${status.index}__].start}"
																							type="text" class="form-control input-border"
																							th:classappend="${#fields.hasErrors('experiences[__${status.index}__].start')} ? red-border">
																					</div>
																					<div class="col">
																						<label class="labels">Sfarsit</label> <input
																							th:field="*{experiences[__${status.index}__].end}"
																							type="text" class="form-control input-border"
																							th:classappend="${#fields.hasErrors('experiences[__${status.index}__].end')} ? red-border">
																					</div>
																				</div>
																			</th:block>
																			<th:block th:unless="${exp}">
																				<div class="row item">
																					<div class="col wid">
																						<input
																							th:field="*{experiences[__${status.index}__].name}"
																							type="text" class="form-control">
																					</div>
																					<div class="col wid">
																						<input
																							th:field="*{experiences[__${status.index}__].city}"
																							type="text" class="form-control">
																					</div>
																					<div class="col wid">
																						<input
																							th:field="*{experiences[__${status.index}__].start}"
																							type="text" class="form-control">
																					</div>
																					<div class="col wid">
																						<input
																							th:field="*{experiences[__${status.index}__].end}"
																							type="text" class="form-control">
																					</div>
																				</div>
																			</th:block>
																			<div class="row" style="margin-top: 20px;">
																				<div class="alert alert-danger alert-customize"
																					th:if="${#fields.hasErrors('experiences[__${status.index}__].name')}"
																					th:errors="*{experiences[__${status.index}__].name}"></div>
																			</div>
																			<div class="row">
																				<div class="alert alert-danger alert-customize"
																					th:if="${#fields.hasErrors('experiences[__${status.index}__].city')}"
																					th:errors="*{experiences[__${status.index}__].city}"></div>
																			</div>
																			<div class="row">
																				<div class="alert alert-danger alert-customize"
																					th:if="${#fields.hasErrors('experiences[__${status.index}__].start')}"
																					th:errors="*{experiences[__${status.index}__].start}">
																				</div>
																			</div>
																			<div class="row">
																				<div class="alert alert-danger alert-customize"
																					th:if="${#fields.hasErrors('experiences[__${status.index}__].end')}"
																					th:errors="*{experiences[__${status.index}__].end}"></div>
																			</div>
																		</th:block>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-10 mx-auto" style="margin-bottom: 50px;">
													<div class="au-card" style="min-height: 100%;">
														<div class="au-card-inner">
															<div
																style="display: flex; justify-content: center; align-items: center;">
																<h1
																	style="font-size: 45px; float: left; color: #7300e6;">Abilitate</h1>
																<button onclick="addSkill()"
																	style="float: right; margin: 0px !important; position: absolute; right: 50px; top: 50px;"
																	type="button" data-toggle="modal"
																	data-target="#addEducation" data-backdrop="static"
																	data-keyboard="false">
																	<i class="fas fa-plus edit-about"></i>
																</button>
															</div>
															<div id="skillList">
																<div class="content" style="left: -25px;">
																	<div class="left-content">
																		<th:block
																			th:each="skill, status : ${curriculumVitae.skills}">
																			<th:block th:if="${skill}">
																				<div class="row item" style="width: 750px;">
																					<div class="col">
																						<label class="labels">Descriere</label> <input
																							th:field="*{skills[__${status.index}__].description}"
																							type="text" class="form-control input-border"
																							th:classappend="${#fields.hasErrors('experiences[__${status.index}__].name')} ? red-border">
																					</div>
																				</div>
																			</th:block>
																			<th:block th:unless="${skill}">
																				<div class="row item">
																					<div class="col wid">
																						<input
																							th:field="*{skills[__${status.index}__].description}"
																							type="text" class="form-control">
																					</div>
																				</div>
																			</th:block>
																			<div class="row" style="margin-top: 20px;">
																				<div class="alert alert-danger alert-customize"
																					th:if="${#fields.hasErrors('skills[__${status.index}__].description')}"
																					th:errors="*{skills[__${status.index}__].description}"></div>
																			</div>
																		</th:block>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<button type="submit" class="btnn2"
											style="position: relative; left: -100px; color: #7300e6; background-color: white; font-size: 25px; margin-bottom: 50px !important;">Trimite</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script th:inline="javascript">
	let addSkill = function () {
        let listName = 'skills'; //list name in Catalog.class
        let fieldsNames = ['description']; //field names from Movie.class
        let rowIndex = document.querySelectorAll('.item').length; //we can add mock class to each movie-row

        let row = document.createElement('div');
        row.classList.add('row', 'item');

        fieldsNames.forEach((fieldName) => {
            let col = document.createElement('div');
            col.classList.add('col', 'form-group');

            let label = document.createElement('label');
            label.classList.add('labels');
            label.innerHTML = 'Descriere';
            
            let input = document.createElement('input');
            input.type = 'text';
            input.classList.add('form-control', 'input-border');
            input.id = listName + rowIndex + '.' + fieldName;
            input.setAttribute('name', listName + '[' + rowIndex + '].' + fieldName);

            col.appendChild(label);
            col.appendChild(input);
            row.appendChild(col);
        });

        document.getElementById('skillList').appendChild(row);
};

let addEducation = function () {
    let listName = 'education'; //list name in Catalog.class
    let fieldsNames = ['name', 'city', 'start', 'end']; //field names from Movie.class
    let rowIndex = document.querySelectorAll('.item').length; //we can add mock class to each movie-row

    let row = document.createElement('div');
    row.classList.add('row', 'item');

    fieldsNames.forEach((fieldName) => {
        let col = document.createElement('div');
        col.classList.add('col', 'wid');
        if (fieldName === 'id') {
            col.classList.add('d-none'); //field with id - hidden
        }
        
        let label = document.createElement('label');
        label.classList.add('labels');
        
		if(fieldName === 'name') {
			label.innerHTML = 'Nume';
		} else if(fieldName === 'city') {
			label.innerHTML = 'Oras';
		} else if(fieldName === 'start') {
			label.innerHTML = 'Inceput';
		} else if(fieldName === 'end') {
			label.innerHTML = 'Sfarsit';
		}
		
		
        let input = document.createElement('input');
        input.type = 'text';
        input.classList.add('form-control', 'input-border');
        input.id = listName + rowIndex + '.' + fieldName;
        input.setAttribute('name', listName + '[' + rowIndex + '].' + fieldName);

        col.appendChild(label);
        col.appendChild(input);
        row.appendChild(col);
    });

    document.getElementById('educationList').appendChild(row);
};

let addExperience = function () {
	console.log("A intrat aici 3");
    let listName = 'experiences'; //list name in Catalog.class
    let fieldsNames2 = ['name', 'city', 'start', 'end']; //field names from Movie.class
    let rowIndex = document.querySelectorAll('.item').length; //we can add mock class to each movie-row

    let row = document.createElement('div');
    row.classList.add('row', 'item');

    fieldsNames2.forEach((fieldName) => {
        let col = document.createElement('div');
        col.classList.add('col', 'wid');
        if (fieldName === 'id') {
            col.classList.add('d-none'); //field with id - hidden
        }
        
        let label = document.createElement('label');
        label.classList.add('labels');
        
        if(fieldName === 'name') {
			label.innerHTML = 'Nume';
		} else if(fieldName === 'city') {
			label.innerHTML = 'Oras';
		} else if(fieldName === 'start') {
			label.innerHTML = 'Inceput';
		} else if(fieldName === 'end') {
			label.innerHTML = 'Sfarsit';
		}

        let input = document.createElement('input');
        input.type = 'text';
        input.classList.add('form-control', 'input-border');
        input.id = listName + rowIndex + '.' + fieldName;
        input.setAttribute('name', listName + '[' + rowIndex + '].' + fieldName);

        col.appendChild(label);
        col.appendChild(input);
        row.appendChild(col);
    });

    document.getElementById('experienceList').appendChild(row);
};

	</script>
</body>
</html>