<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Helper Feedback</title>
<link th:href="@{vendor/bootstrap-4.1/bootstrap.min.css}"
	rel="stylesheet" media="all">
<link th:href="@{../css/theme.css}" rel="stylesheet" media="all">
<link th:href="@{../css/cart.css}" rel="stylesheet" media="all">
</head>
<body>
	<th:block th:each="role : ${account.roles}">
		<div class="page-wrapper">
			<header style="background-color: white;"
				class="header-mobile d-block d-lg-none">
				<div class="header-mobile__bar">
					<div class="container-fluid">
						<div class="header-mobile-inner">
							<a class="logo" href="index.html"> <img
								src="/images/logo/Screenshot_18.png">
							</a>
							<button class="hamburger hamburger--slider" type="button">
								<span class="hamburger-box"> <span
									class="hamburger-inner"></span>
								</span>
							</button>
						</div>
					</div>
				</div>
				<nav class="navbar-mobile">
					<div class="container-fluid">
						<ul class="navbar-mobile__list list-unstyled">
							<th:block th:if="${role.name eq 'ROLE_NUTRITIONIST'}">
								<li><a href="/trainer" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/home.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Home</span></a></li>
								<li><a href="/view_learners" class="links" style=""><img
										style="height: 40px; width: 40px; background-color: #4A7AFF; border-radius: 30px; border: 3px solid #4A7AFF;"
										width="800" height="800" src="/images/avatar/man.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Cursanti</span></a></li>
								<li><a href="/diet_plans" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/popsicle.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Diete</span></a></li>
								<li><a href="/create_diet_plan" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/kcalaccumulated.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Creeaza
											Dieta</span></a></li>
								<li><a href="/purchased_diet_plans" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/burn.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Diete
											Vandute</span></a></li>
								<li><a href="/view_feedbacks" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/positive-vote.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Feedback-uri
											Cursanti</span></a></li>
								<li><a href="/logout" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/logout.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Logout</span></a></li>
							</th:block>
							<th:block th:if="${role.name eq 'ROLE_TRAINER'}">
								<li><a href="/trainer" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/home.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Home</span></a></li>
								<li><a href="/view_learners" class="links" style=""><img
										style="height: 40px; width: 40px; background-color: #4A7AFF; border-radius: 30px; border: 3px solid #4A7AFF;"
										width="800" height="800" src="/images/avatar/man.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Cursanti</span></a></li>
								<li><a href="/training_plans" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/exercise.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Antrenamente</span></a></li>
								<li><a href="/create_training_plan" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/diet.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Creeaza
											Antrenament</span></a></li>
								<li><a href="/purchased_training_plans" class="links"
									style=""><img style="height: 40px; width: 40px;"
										width="800" height="800" src="/images/logo/gym-ex.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Antrenamente
											Vandute</span></a></li>
								<li><a href="/view_feedbacks" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/positive-vote.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Feedback-uri
											Cursanti</span></a></li>
								<li><a href="/logout" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/logout.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Logout</span></a></li>
							</th:block>
						</ul>
					</div>
				</nav>
			</header>
			<aside style="background-color: white;"
				class="menu-sidebar d-none d-lg-block">
				<div class="logo">
					<a href="#"> <img src="/images/logo/Screenshot_18.png">
					</a>
				</div>
				<div class="menu-sidebar__content js-scrollbar1">
					<nav class="navbar-sidebar">
						<ul class="list-unstyled navbar__list" style="padding-left: 0px;">
							<th:block th:if="${role.name eq 'ROLE_NUTRITIONIST'}">
								<li><a href="/trainer" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/home.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Home</span></a></li>
								<li><a href="/view_learners" class="links" style=""><img
										style="height: 40px; width: 40px; background-color: #4A7AFF; border-radius: 30px; border: 3px solid #4A7AFF;"
										width="800" height="800" src="/images/avatar/man.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Cursanti</span></a></li>
								<li><a href="/diet_plans" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/popsicle.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Diete</span></a></li>
								<li><a href="/create_diet_plan" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/kcalaccumulated.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Creeaza
											Dieta</span></a></li>
								<li><a href="/purchased_diet_plans" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/burn.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Diete
											Vandute</span></a></li>
								<li><a href="/view_feedbacks" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/positive-vote.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Feedback-uri
											Cursanti</span></a></li>
								<li><a href="/logout" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/logout.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Logout</span></a></li>
							</th:block>
							<th:block th:if="${role.name eq 'ROLE_TRAINER'}">
								<li><a href="/trainer" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/home.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Home</span></a></li>
								<li><a href="/view_learners" class="links" style=""><img
										style="height: 40px; width: 40px; background-color: #4A7AFF; border-radius: 30px; border: 3px solid #4A7AFF;"
										width="800" height="800" src="/images/avatar/man.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Cursanti</span></a></li>
								<li><a href="/training_plans" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/exercise.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Antrenamente</span></a></li>
								<li><a href="/create_training_plan" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/diet.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Creeaza
											Antrenament</span></a></li>
								<li><a href="/purchased_training_plans" class="links"
									style=""><img style="height: 40px; width: 40px;"
										width="800" height="800" src="/images/logo/gym-ex.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Antrenamente
											Vandute</span></a></li>
								<li><a href="/view_feedbacks" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/positive-vote.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Feedback-uri
											Cursanti</span></a></li>
								<li><a href="/logout" class="links" style=""><img
										style="height: 40px; width: 40px;" width="800" height="800"
										src="/images/logo/logout.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px;">Logout</span></a></li>
							</th:block>
						</ul>
					</nav>
				</div>
			</aside>
			<div class="page-container">
				<div class="main-content">
					<div class="section__content section__content--p30">
						<h3
							style="text-align: center; font-size: 60px; margin-top: 30px; color: white; font-weight: 700; margin-bottom: 100px;">Feedback
							Cursant</h3>
						<div class="row" style="margin-bottom: 100px;">
							<div class="col-md-9 mx-auto">
								<form
									style="border-radius: 30px; filter: drop-shadow(5px -5px 5px black) drop-shadow(-5px 0px 5px black) drop-shadow(0px 5px 5px black); background-color: white; padding: 50px; height: 550px;"
									id="ratingForm" th:action="@{/helper_offers_feedback_save}"
									method="post">
									<input type="hidden" name="learnerId" th:value="${learnerId}" />
									<h3 style="text-align: center; font-size: 40px; color: black;">
										Ofera <span style="font-size: 60px; color: #7300e6;">feedback</span>
									</h3>
									<div class="parent"
										style="position: relative; top: 50px; display: flex;">
										<div style="float: left; height: 300px;">
											<img style="width: 350px; height: 300px;"
												src="../images/logo/positive-vote.png">
										</div>
										<div style="width: 400px; position: relative; left: 70px;">
											<div class="form-group" style="width: 245px;">
												<label
													style="color: #7300e6; font-weight: 600; font-size: 20px;">Calificativ</label>
												<select class="form-control" style="display: block;"
													name="qualifying">
													<option th:each="qualifying : ${qualifyings}"
														th:text="${qualifying.getQualifying()}"
														th:value="${qualifying}"></option>
												</select>
											</div>
											<div class="form-group"
												style="margin-top: 20px; margin-bottom: 40px;">
												<label
													style="color: #7300e6; font-weight: 600; font-size: 20px;">Motivul</label>
												<input type="text" name="reason"
													class="form-control validation input-edit2" />
											</div>
											<div class="btn-group">
												<button
													style="position: relative; top: 20px; margin-right: 40px; padding-left: 25px; padding-right: 25px; height: 44px;"
													type="submit" class="btnn2">Trimite</button>
												<a th:href="@{/trainer}"
													style="margin-right: 40px; padding-left: 25px; padding-right: 25px; margin: 20px 0;"
													type="submit" class="btnn2 no-thanks">Nu Trimite</a>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>