<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sign up</title>
<base href="/">
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" th:href="@{css/style.css}" />
<style>
ul.menu li {
	display: inline;
}
</style>
</head>
<body>
	<a th:href="@{/logout}">Logout</a>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 mx-auto">
				<div class="about-me">
					<h1>Despre mine</h1>
					<p th:text="${account.accountInformation.description}"></p>
				</div>
				<div class="experiences">
					<h1>Experienta profesionala</h1>
					<ul class="menu"
						th:each="experience : ${account.accountInformation.experiences}">
						<li th:text="${experience.name}"></li>
						<li th:text="${experience.city}"></li>
						<li th:text="${experience.start}"></li>
						<li th:text="${experience.end}"></li>
						<button data-toggle="modal" data-target="#modal-experience"
							th:attr="data-target='#modal-experience'+${experience.experienceId}">
							<span class="glyphicon glyphicon-trash"></span>Editeaza experienta
						</button>
						<button data-toggle="modal" data-target="#modal-experience-delete"
							th:attr="data-target='#modal-experience-delete'+${experience.experienceId}">
							<span class="glyphicon glyphicon-trash"></span>Sterge experienta
						</button>
						<form th:action="@{/delete_experience}" method="post">
						<input type="hidden" name="experienceId" th:value="${experience.experienceId}"/>
						<div class="modal modal-experience-delete fade in" th:id="modal-experience-delete+${experience.experienceId}" >
    						<div class="modal-dialog">
        					<div class="modal-content">
            				<div class="modal-header">
                				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    				<span aria-hidden="true">×</span></button>
                					<h5 class="modal-title">Sterge experienta</h5>
            				</div>
            				<div class="modal-body">
                				<h3>Esti sigur ca vrei sa faci asta?</h3>
            				</div>
            				<div class="modal-footer">
                				<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                				<button type="submit" class="btn btn-danger">Yes</button>
            				</div>
        				</div>
    					</div>
						</div>
						</form>
						<form th:action="@{/update_experience}" method="post">	
						<input type="hidden" name="experienceId" th:value="${experience.experienceId}"/>
						<div class="modal modal-experience fade in"
							th:id="modal-experience+${experience.experienceId}">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">×</span>
										</button>
										<h5 class="modal-title">Editeaza experienta</h5>
									</div>
									<div class="modal-body">
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Nume</label>
													<div class="input-group mb-2 mr-sm-2 mb-sm-0">
														<input type="text" name="name" th:value="${experience.name}"
														class="form-control validation"
														autofocus>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Oras</label>
													<div class="input-group mb-2 mr-sm-2 mb-sm-0">
														<input type="text" name="city" th:value="${experience.city}"
														class="form-control validation"
														autofocus>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Inceput</label>
													<div class="input-group mb-2 mr-sm-2 mb-sm-0">
														<input type="text" name="start" th:value="${experience.start}"
														class="form-control validation"
														autofocus>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Sfarsit</label>
													<div class="input-group mb-2 mr-sm-2 mb-sm-0">
														<input type="text" name="end" th:value="${experience.end}"
														class="form-control validation"
														autofocus>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
										<button type="submit" class="btn btn-success">Salveaza</button>
									</div>
								</div>
							</div>
						</div>
						</form>
					</ul>
				</div>
				<div class="education">
					<h1>Educatie</h1>
					<ul class="menu"
						th:each="ed : ${account.accountInformation.education}">
						<li th:text="${ed.name}"></li>
						<li th:text="${ed.city}"></li>
						<li th:text="${ed.start}"></li>
						<li th:text="${ed.end}"></li>
						<button data-toggle="modal" data-target="#modal-education"
							th:attr="data-target='#modal-education'+${ed.educationId}">
							<span class="glyphicon glyphicon-trash"></span>Editeaza educatia
						</button>
						<button data-toggle="modal" data-target="#modal-education-delete"
							th:attr="data-target='#modal-education-delete'+${ed.educationId}">
							<span class="glyphicon glyphicon-trash"></span>Sterge educatia
						</button>
						<form th:action="@{/delete_education}" method="post">
						<input type="hidden" name="educationId" th:value="${ed.educationId}"/>
						<div class="modal modal-education-delete fade in" th:id="modal-education-delete+${ed.educationId}" >
    						<div class="modal-dialog">
        					<div class="modal-content">
            				<div class="modal-header">
                				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    				<span aria-hidden="true">×</span></button>
                					<h5 class="modal-title">Sterge educatia</h5>
            				</div>
            				<div class="modal-body">
                				<h3>Esti sigur ca vrei sa faci asta?</h3>
            				</div>
            				<div class="modal-footer">
                				<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                				<button type="submit" class="btn btn-danger">Yes</button>
            				</div>
        				</div>
    					</div>
						</div>
						</form>
						<form th:action="@{/update_education}" method="post">	
						<input type="hidden" name="educationId" th:value="${ed.educationId}"/>
						<div class="modal modal-education fade in"
							th:id="modal-education+${ed.educationId}">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">×</span>
										</button>
										<h5 class="modal-title">Editeaza educatia</h5>
									</div>
									<div class="modal-body">
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Nume</label>
													<div class="input-group mb-2 mr-sm-2 mb-sm-0">
														<input type="text" name="name" th:value="${ed.name}"
														class="form-control validation"
														autofocus>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Oras</label>
													<div class="input-group mb-2 mr-sm-2 mb-sm-0">
														<input type="text" name="city" th:value="${ed.city}"
														class="form-control validation"
														autofocus>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Inceput</label>
													<div class="input-group mb-2 mr-sm-2 mb-sm-0">
														<input type="text" name="start" th:value="${ed.start}"
														class="form-control validation"
														autofocus>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Sfarsit</label>
													<div class="input-group mb-2 mr-sm-2 mb-sm-0">
														<input type="text" name="end" th:value="${ed.end}"
														class="form-control validation"
														autofocus>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
										<button type="submit" class="btn btn-success">Salveaza</button>
									</div>
								</div>
							</div>
						</div>
						</form>
					</ul>
				</div>
				<div class="skills">
					<h1>Abilitati</h1>
					<ul class="menu"
						th:each="skill : ${account.accountInformation.skills}">
						<li th:text="${skill.description}"></li>
						<button data-toggle="modal" data-target="#modal-skill"
							th:attr="data-target='#modal-skill'+${skill.skillId}">
							<span class="glyphicon glyphicon-trash"></span>Editeaza abilitatea
						</button>
						<button data-toggle="modal" data-target="#modal-skill-delete"
							th:attr="data-target='#modal-skill-delete'+${skill.skillId}">
							<span class="glyphicon glyphicon-trash"></span>Sterge abilitatea
						</button>
						<form th:action="@{/delete_skill}" method="post">
						<input type="hidden" name="skillId" th:value="${skill.skillId}"/>
						<div class="modal modal-skill-delete fade in" th:id="modal-skill-delete+${skill.skillId}" >
    						<div class="modal-dialog">
        					<div class="modal-content">
            				<div class="modal-header">
                				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    				<span aria-hidden="true">×</span></button>
                					<h5 class="modal-title">Sterge educatia</h5>
            				</div>
            				<div class="modal-body">
                				<h3>Esti sigur ca vrei sa faci asta?</h3>
            				</div>
            				<div class="modal-footer">
                				<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                				<button type="submit" class="btn btn-danger">Yes</button>
            				</div>
        				</div>
    					</div>
						</div>
						</form>
						<form th:action="@{/update_skill}" method="post">	
						<input type="hidden" name="skillId" th:value="${skill.skillId}"/>
						<div class="modal modal-skill fade in"
							th:id="modal-skill+${skill.skillId}">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">×</span>
										</button>
										<h5 class="modal-title">Editeaza abilitatea</h5>
									</div>
									<div class="modal-body">
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Descriere</label>
													<div class="input-group mb-2 mr-sm-2 mb-sm-0">
														<input type="text" name="description" th:value="${skill.description}"
														class="form-control validation"
														autofocus>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
										<button type="submit" class="btn btn-success">Salveaza</button>
									</div>
								</div>
							</div>
						</div>
						</form>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>