<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<style>
div.gallery {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 180px;
}

div.gallery:hover {
	border: 1px solid #777;
}

div.gallery img {
	width: 100%;
	height: auto;
}

div.desc {
	padding: 15px;
	text-align: center;
}
</style>
<title>Admin</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<div th:if="${inexistentValue}">
	Valoarea introdusa nu exista
</div>
<div th:unless="${inexistentValue}">
<div th:each="role, iterStat : ${account.roles}">
	<div th:if="${role.name == 'ROLE_USER'}">
	<div th:if="${attentionToCalories}"><h4 th:text="${'Atentie ! Deja ai mancat ' + sumOfAccumulatedCaloriesToday + ' calorii pana acum'}"></h4></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 mx-auto">
				<h1>Poze Aliment</h1>
					<div class="gallery" th:each="photo, iterStat : ${food.images}">
						<img th:src="@{${'/images/' + photo.fileName}}" alt="Cinque Terre" width="600" height="400">
					</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 mx-auto">
				<h1>Recomandari Aliment</h1>
					<ul th:each="adv, iterStat : ${food.recommendations}">
						<li th:text="${adv.recommendation}"></li>
					</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 mx-auto">
				<form th:action="@{/eat_this_food}" method="post">
					<input type="hidden" name="foodId" th:value="${food.foodId}"/>
					<input type="hidden" name="accountId" th:value="${account.accountId}"/>
					<button type="submit" class="btn btn-success">Mananca acest aliment</button>
				</form>
			</div>
		</div>
	</div>
	</div>
	<div th:if="${role.name == 'ROLE_NUTRITIONIST'}">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 mx-auto">
				<div class="photos">
					<h1>Poze Aliment</h1>
					<button type="button" data-toggle="modal" data-target="#addPhoto"
						data-backdrop="static" data-keyboard="false"
						class="btn btn-primary">Adauga Poza</button>
					<form class="photo" th:action="@{/add_photo_for_food_save}"
						th:object="${foodImage}" method="POST"
						enctype="multipart/form-data">
						<div class="modal fade" id="addPhoto" tabindex="-1" role="dialog"
							aria-labelledby="addPhotoLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="addPhotoLabel">Adauga Poza</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<input type="hidden" name="foodImageId"
											th:field="*{foodImageId}"> <input type="hidden"
											th:value="${food.foodId}" name="foodId" /> <input
											type="file" name="imageFile">
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Close</button>
										<button class="btn btn-primary">Save changes</button>
									</div>
								</div>
							</div>
						</div>
					</form>
					<div class="gallery"
						th:each="photo, iterStat : ${food.images}">
						<img th:src="@{${'/images/' + photo.fileName}}" alt="Cinque Terre"
							width="600" height="400">
						<div class="desc">
							<form method="post" th:action="@{/delete_photo_from_food}">
								<input type="hidden" name="photoId"
									th:value="${photo.foodImageId}" /> <input type="hidden"
									name="foodId" th:value="${food.foodId}" />
								<button type="submit">Sterge Poza</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 mx-auto">
				<div class="advices">
					<h1>Recomandari Aliment</h1>
					<button type="button" data-toggle="modal" data-target="#advice"
						data-backdrop="static" data-keyboard="false"
						class="btn btn-primary">Adauga Recomandari</button>
					<form id="aboutMe" class="advice" th:action="@{/add_recommendation_for_food_save}"
						th:object="${foodRecommendation}" method="POST">
						<div class="modal fade" id="advice" tabindex="-1" role="dialog"
							aria-labelledby="adviceLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="advice">Adauga Recomandare</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<input type="text" id="descriptionAccountInformation" name="recommendation" th:field="*{recommendation}">
  										<input type="hidden" name="foodId" th:value="${food.foodId}"/>
  										<div id="showErrorAboutMe"></div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Close</button>
										<button class="btn btn-primary">Save changes</button>
									</div>
								</div>
							</div>
						</div>
					</form>
					<ul th:each="adv, iterStat : ${foodRecommendationSorted}">
						<li th:text="${adv.recommendation}"></li>
						<button th:onclick="|selecteazaSfat('${adv.foodRecommendationId}', '${food.foodId}')|" data-toggle="modal" data-target="#modal-edit-advice" th:attr="data-target='#modal-edit-advice'+${adv.foodRecommendationId}">Editeaza Recomandare</button>
						<form class="editAdvice" th:action="@{/edit_recommendation_food}" method="post">
							<div class="modal modal-edit-advice fade in"
								th:id="modal-edit-advice+${adv.foodRecommendationId}">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">×</span>
											</button>
											<h5 class="modal-title">Editeaza Recomandare</h5>
										</div>
										<div class="modal-body">
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label>Recomandare</label>
														<div class="input-group mb-2 mr-sm-2 mb-sm-0" th:id="validName+${adv.foodRecommendationId}">
															<input type="text" id="description2" name="editName" th:value="${adv.recommendation}">
															<input type="hidden" name="recommendationId" th:value="${adv.foodRecommendationId}"/>
															<input type="hidden" th:value="${food.foodId}" name="foodId"/>
															<div th:id="showError+${adv.foodRecommendationId}"></div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-outline pull-left"
												data-dismiss="modal">Close</button>
											<button type="submit">Save</button>
										</div>
									</div>
								</div>
							</div>
						</form>
						<form th:action="@{/delete_recommendation_food}" method="post">
							<input type="hidden" name="recommendationId" th:value="${adv.foodRecommendationId}"/>
							<input type="hidden" th:value="${food.foodId}" name="foodId"/>
							<button type="submit">Sterge Recomandare</button>
						</form>
					</ul>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
</div>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<script type="text/javascript" th:src="@{/js/validationcv.js}"></script>
</body>
</html>
