<div class="col-md-6">
    <h2 class="text-center">Login User</h2>
  <form>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" [(ngModel)]="user.userName" placeholder="User Name" name="username" class="form-control" id="username">
    </div>
  
    <div class="form-group">
      <label for="password">Password:</label>
      <input [(ngModel)]="user.password" placeholder="password" name="password" class="form-control" id="password">
    </div>
  
  
    <button class="btn btn-success" (click)="loginUser()">Login</button>
  </form>
  </div>
  