<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sign up</title>
<base href="/">
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" th:href="@{css/style.css}" />
</head>
<body>
<h1>Cumpara Cantar</h1>
<p>Descriere Descriere Descriere</p>
<p>Bratara bratara bratara</p>
<p>Descriere Descriere Descriere</p>
<p>Bratara bratara bratara</p>
<p>Descriere Descriere Descriere</p>
<p>Bratara bratara bratara</p>
<p>Descriere Descriere Descriere</p>
<form th:action="@{/add_to_shopping_cart}" method="post">
	<input type="hidden" name="accountId" th:value="${account.accountId}" />
	<input type="hidden" name="deviceId" th:value="${device.deviceId}" />
	<button type="submit">Adauga in Cos</button>
</form>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" th:src="@{/js/validationcv.js}"></script>
</body>
</html>