<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Admin</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<div th:unless="${#lists.size(exercisesDone)}">
	Nu ai facut niciun exercitiu pana acum !
</div>
	<div th:if="${#lists.size(exercisesDone)}">
		<h3
			style="text-align: center; font-size: 40px; margin-top: 30px; margin-bottom: 30px;">Exercitii Efectuate</h3>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-10 mx-auto">
							<table class="table table-striped">
								<thead class="center-align">
									<tr>
										<th>Nume Exercitiu</th>
										<th>Nume Antrenament</th>
										<th>Nume Antrenor</th>
									</tr>
								</thead>
								<tbody class="center-align">
									<th:block
										th:each="ex, iterStat : ${exercisesDone}">
										<tr>
											<td th:text="${ex.exercise.name}"></td>
											<td th:text="${ex.exercise.trainingPlan.name}"></td>
											<td th:text="${ex.exercise.trainingPlan.trainer.username}"></td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>
</body>
</html>