<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Foods Eaten</title>
<link th:href="@{vendor/bootstrap-4.1/bootstrap.min.css}"
	rel="stylesheet" media="all">
<link th:href="@{css/theme.css}" rel="stylesheet" media="all">
</head>
<body>
	<div class="page-wrapper">
		<header style="background-color: white;"
			class="header-mobile d-block d-lg-none">
			<div class="header-mobile__bar">
				<div class="container-fluid">
					<div class="header-mobile-inner">
						<a class="logo" href="index.html"> <img
							src="images/logo/Screenshot_18.png">
						</a>
						<button class="hamburger hamburger--slider" type="button">
							<span class="hamburger-box"> <span class="hamburger-inner"></span>
							</span>
						</button>
					</div>
				</div>
			</div>
			<nav class="navbar-mobile">
				<div class="container-fluid">
					<ul class="navbar-mobile__list list-unstyled">
						<li><a href="/home" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/home.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Home</span></a></li>
						<li><a href="/choose_helper" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/trainer.jpg"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Alege
									Experti</span></a></li>
						<li><a href="/choose_plan" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/strategy.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Alege
									Planuri</span></a></li>
						<li><a href="/choose_device" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/smartwatch2.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Alege
									Dispozitive</span></a></li>
						<li><a href="/shopping_cart" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/supermarket.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Cos
									Cumparaturi</span></a></li>
						<li><a href="/view_user_plans" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/fitness-plan.jpg"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Planuri
									Cumparate</span></a></li>
						<li><a href="/view_user_devices" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/smartwatch3.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Dispozitive
									Cumparate</span></a></li>
						<li><a href="/foods_eaten" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/popsicle.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Alimente
									Consumate</span></a></li>
						<li><a href="/exercises_done" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/exercise.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Exercitii
									Efectuate</span></a></li>
						<li><a href="/logout" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/logout.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Logout</span></a></li>
					</ul>
				</div>
			</nav>
		</header>
		<aside style="background-color: white;"
			class="menu-sidebar d-none d-lg-block">
			<div class="logo">
				<a href="#"> <img src="images/logo/Screenshot_18.png">
				</a>
			</div>
			<div class="menu-sidebar__content js-scrollbar1">
				<nav class="navbar-sidebar">
					<ul class="list-unstyled navbar__list" style="padding-left: 0px;">
						<li><a href="/home" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/home.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Home</span></a></li>
						<li><a href="/choose_helper" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/trainer.jpg"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Alege
									Experti</span></a></li>
						<li><a href="/choose_plan" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/strategy.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Alege
									Planuri</span></a></li>
						<li><a href="/choose_device" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/smartwatch2.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Alege
									Dispozitive</span></a></li>
						<li><a href="/shopping_cart" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/supermarket.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Cos
									Cumparaturi</span></a></li>
						<li><a href="/view_user_plans" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/fitness-plan.jpg"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Planuri
									Cumparate</span></a></li>
						<li><a href="/view_user_devices" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/smartwatch3.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Dispozitive
									Cumparate</span></a></li>
						<li><a href="/foods_eaten" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/popsicle.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Alimente
									Consumate</span></a></li>
						<li><a href="/exercises_done" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/exercise.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Exercitii
									Efectuate</span></a></li>
						<li><a href="/logout" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/logout.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Logout</span></a></li>
					</ul>
				</nav>
			</div>
		</aside>
		<div class="page-container">
			<div class="main-content">
				<div class="section__content section__content--p30">
					<div th:unless="${#lists.size(foodEaten)}"
						style="font-size: 90px; color: white; font-weight: 800; text-align: center; position: relative; top: 200px;">Nu
						ai consumat niciun aliment pana acum!</div>
					<div th:if="${#lists.size(foodEaten)}">
						<div
							style="text-align: center; font-size: 60px; margin-top: 30px; margin-bottom: 30px; color: white; font-weight: 700;">
							Alimente Consumate</div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-12">
									<div class="row">
										<div class="col-md-4" style="margin-bottom: 25px;"
											th:each="fe, iterStat : ${foodEaten}">
											<div class="card-type-2"
												style="position: relative; height: 450px;">
												<div class="img-c"
													style="padding-top: 100%; top: -50px; position: relative; height: 500px;">
													<th:block th:if="${fe.food.images.size() > 0}">
														<img style="height: 300px;" class="img" width="800" height="800"
															th:src="@{'images/plans/diets/'+${fe.food.images[0].fileName}}">
													</th:block>
													<th:block th:if="${fe.food.images.size() eq 0}">
														<img style="height: 300px;" class="img" width="800" height="800"
															th:src="@{'images/di.png'}">
													</th:block>
												</div>
												<div class="overlay-food">
													<div class="text">
														<div
															style="font-size: 45px; color: #7300e6; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden;"
															th:text="${fe.food.name}"></div>
														<span style="font-size: 15px; color: black; font-weight: 600; display: block;">Data Consumarii</span>
														<span style="font-size: 15px; color: gray; font-weight: 100;" th:text="${fe.dateOfExecution}"></span>
														<div class="posts" style="margin-top: 10px;">
															<div class="one" style="font-weight: 100;">
																<span style="display: block;">Calorii</span> <span
																	style="display: inline-block; font-size: 35px; color: #7300e6; font-weight: 700;"
																	th:text="${fe.food.calories}"></span> <img
																	style="left: 2px; height: 40px; width: 40px; position: relative; top: -5px;"
																	src="/images/logo/meal.png">
															</div>
															<div class="two" style="font-weight: 100;">
																<span style="display: block;">Proteine</span> <span
																	style="display: inline-block; font-size: 35px; color: #7300e6; font-weight: 700;"
																	th:text="${fe.food.protein}"></span> <img
																	style="left: 2px; height: 40px; width: 40px; position: relative; top: -5px;"
																	src="/images/logo/proteins.png">
															</div>
															<div class="two" style="font-weight: 100;">
																<span style="display: block;">Gramaj</span> <span
																	style="display: inline-block; font-size: 35px; color: #7300e6; font-weight: 700;"
																	th:text="${fe.food.weight}"></span> <img
																	style="left: 2px; height: 40px; width: 40px; position: relative; top: -5px;"
																	src="/images/logo/scale.png">
															</div>
														</div>
														<div class="posts" style="margin-top: 10px;">
															<div class="one" style="font-weight: 100;">
																<span style="display: block;">Fibre</span> <span
																	style="display: inline-block; font-size: 35px; color: #7300e6; font-weight: 700;"
																	th:text="${fe.food.fiber}"></span> <img
																	style="left: 2px; height: 40px; width: 40px; position: relative; top: -5px;"
																	src="/images/logo/vegetable.png">
															</div>
															<div class="two" style="font-weight: 100;">
																<span style="display: block;">Carbohidrati</span> <span
																	style="display: inline-block; font-size: 35px; color: #7300e6; font-weight: 700;"
																	th:text="${fe.food.carbohydrates}"></span> <img
																	style="left: 2px; height: 40px; width: 40px; position: relative; top: -5px;"
																	src="/images/logo/potato.png">
															</div>
															<div class="one" style="font-weight: 100;">
																<span style="display: block;">Lipide</span> <span
																	style="display: inline-block; font-size: 35px; color: #7300e6; font-weight: 700;"
																	th:text="${fe.food.lipids}"></span> <img
																	style="left: 2px; height: 40px; width: 40px; position: relative; top: -5px;"
																	src="/images/logo/trans-fat.png">
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>
</body>
</html>
