<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
<link th:href="@{vendor/bootstrap-4.1/bootstrap.min.css}"
	rel="stylesheet" media="all">
<link
	th:href="@{vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}"
	rel="stylesheet" media="all">
<link th:href="@{css/theme.css}" rel="stylesheet" media="all">
<link th:href="@{css/cart.css}" rel="stylesheet" media="all">
<style>
.table tbody td, .table tbody th {
	border: 0;
	padding: 15px;
}

tr:nth-last-child(-n+1) td:nth-last-child(-n+3) {
	border: 0 !important;
}

.table-hover>tbody>tr:hover {
	background-color: #e6ccff;
}

thead tr:nth-child(1) th {
	background: white;
	position: sticky;
	top: 0;
	z-index: 10;
	border-bottom: 0;
}

.table-responsive {
	height: 350px;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: white;
	border-radius: 30px;
	overflow-x: hidden;
	background-color: white;
}

table {
	border-spacing: 0;
	width: 100%;
	display: table;
	border-collapse: separate;
}

.modal-backdrop {
	display: none;
}

.modal {
	background: rgba(0, 0, 0, 0.5);
}
</style>
</head>
<body>
	<div class="page-wrapper">
		<header style="background-color: white;"
			class="header-mobile d-block d-lg-none">
			<div class="header-mobile__bar">
				<div class="container-fluid">
					<div class="header-mobile-inner">
						<a class="logo" href="index.html"> <img
							src="images/logo/Screenshot_18.png">
						</a>
						<button class="hamburger hamburger--slider" type="button">
							<span class="hamburger-box"> <span class="hamburger-inner"></span>
							</span>
						</button>
					</div>
				</div>
			</div>
			<nav class="navbar-mobile">
				<div class="container-fluid">
					<ul class="navbar-mobile__list list-unstyled">
						<li><a href="/home" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/home.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Home</span></a></li>
						<li><a href="/choose_helper" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/trainer.jpg"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Alege
									Experti</span></a></li>
						<li><a href="/choose_plan" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/strategy.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Alege
									Planuri</span></a></li>
						<li><a href="/choose_device" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/smartwatch2.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Alege
									Dispozitive</span></a></li>
						<li><a href="/shopping_cart" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/supermarket.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Cos
									Cumparaturi</span></a></li>
						<li><a href="/view_user_plans" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/fitness-plan.jpg"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Planuri
									Cumparate</span></a></li>
						<li><a href="/view_user_devices" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/smartwatch3.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Dispozitive
									Cumparate</span></a></li>
						<li><a href="/foods_eaten" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/popsicle.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Alimente
									Consumate</span></a></li>
						<li><a href="/exercises_done" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/exercise.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Exercitii
									Efectuate</span></a></li>
						<li><a href="/logout" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/logout.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Logout</span></a></li>
					</ul>
				</div>
			</nav>
		</header>
		<aside style="background-color: white;"
			class="menu-sidebar d-none d-lg-block">
			<div class="logo">
				<a href="#"> <img src="images/logo/Screenshot_18.png">
				</a>
			</div>
			<div class="menu-sidebar__content js-scrollbar1">
				<nav class="navbar-sidebar">
					<ul class="list-unstyled navbar__list" style="padding-left: 0px;">
						<li><a href="/home" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/home.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Home</span></a></li>
						<li><a href="/choose_helper" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/trainer.jpg"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Alege
									Experti</span></a></li>
						<li><a href="/choose_plan" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/strategy.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Alege
									Planuri</span></a></li>
						<li><a href="/choose_device" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/smartwatch2.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Alege
									Dispozitive</span></a></li>
						<li><a href="/shopping_cart" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/supermarket.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Cos
									Cumparaturi</span></a></li>
						<li><a href="/view_user_plans" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/fitness-plan.jpg"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Planuri
									Cumparate</span></a></li>
						<li><a href="/view_user_devices" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/smartwatch3.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Dispozitive
									Cumparate</span></a></li>
						<li><a href="/foods_eaten" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/popsicle.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Alimente
									Consumate</span></a></li>
						<li><a href="/exercises_done" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/exercise.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Exercitii
									Efectuate</span></a></li>
						<li><a href="/logout" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/logout.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Logout</span></a></li>
					</ul>
				</nav>
			</div>
		</aside>
		<div class="page-container">
			<div class="main-content">
				<div class="section__content section__content--p30">
					<div th:if="${user.active == false}">
						<div
							th:if="${passedTenDaysFoodEaten and passedTenDaysExerciseDone}">
							<div
								style="text-align: center; font-size: 70px; margin-bottom: 60px; color: white; font-weight: 700;">Cont
								Dezactivat</div>
							<div class="col-md-6 mx-auto">
								<ul style="list-style: hangul-consonant;">
									<th:block th:if="${passedTenDaysFoodEaten}">
										<li
											style="color: white; font-size: 25px; letter-spacing: 2px;">Au
											trecut 10 zile de cand ai consumat un aliment propus de unul
											dintre nutritionistii tai</li>
									</th:block>
									<th:block th:if="${passedTenDaysExerciseDone}">
										<li
											style="color: white; font-size: 25px; letter-spacing: 2px;">Au
											trecut 10 zile de cand ai efectuat un exercitiu propus de
											unul dintre antrenorii tai</li>
									</th:block>
								</ul>
								<div style="color: white; font-size: 25px; letter-spacing: 2px;">
									Pentru activare intra <a class="activate"
										th:href="@{/action_activate_account}">aici</a>
								</div>
							</div>
						</div>
						<div
							style="text-align: center; font-size: 70px; margin-bottom: 60px; color: white; font-weight: 700;"
							th:unless="${passedTenDaysFoodEaten and passedTenDaysExerciseDone}">
							Cont Dezactivat</div>
					</div>
					<div th:if="${user.active == true}">
						<th:block th:each="ex: ${exercisesDoneToday}">
							<input type="hidden" th:value="${ex.exercise.caloriesBurned}" />
						</th:block>
						<th:block th:each="fd: ${foodsEatenToday}">
							<input type="hidden" th:value="${fd.food.calories}" />
						</th:block>
						<div class="alert" id="attentionToCalories"
							th:if="${#aggregates.sum(foodsEatenToday.![food.calories]) > #aggregates.sum(exercisesDoneToday.![exercise.caloriesBurned])}">
							<div
								style="float: left; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 250px;">
								<h5
									style="font-weight: 900; font-size: 20px; margin-bottom: 5px; color: red;">ATENTIE</h5>
								<p style="font-size: 13px; width: 270px; letter-spacing: 0.2px;">Astazi numarul
									caloriilor acumulate este <br> mai mare decat cel al caloriilor
									arse!</p>
							</div>
							<div style="float: right;">
								<span
									style="position: relative; top: -15px; right: -15px; font-size: 40px;"
									class="closebtn"
									onclick="document.getElementById('attentionToCalories').style.display = 'none';">&times;</span>
							</div>
						</div>
						<div
							style="text-align: center; font-size: 70px; margin-bottom: 60px; color: white; font-weight: 700;"
							th:text="${user.username}"></div>
						<div class="container-fluid">
							<div class="row"
								style="margin-bottom: 70px; position: relative; left: 150px; top: -15px;">
								<div class="col-md-3" style="margin-bottom: 25px;">
									<div class="card-type-2"
										style="height: 265px; border-radius: 37px; position: relative; float: left; padding: 30px;">
										<img
											style="height: 60px; width: 60px; position: relative; left: -20px; top: -20px;"
											width="800" height="800"
											th:src="@{'images/logo/transaction.png'}">
										<div
											style="position: relative; top: -5px; justify-content: center; align-items: center; font-weight: 700; color: black; font-size: 20px; text-align: center;">
											<div
												style="font-size: 30px; color: #7300e6; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden;">
												<a href="/transaction_history" class="choose">Istoric
													Tranzactii</a>
											</div>
											<span
												style="font-size: 12px; color: gray; font-weight: 100; display: block; margin-top: -15px; margin-bottom: 10px; letter-spacing: 2px;">Acceseaza
												istoricul de tranzactii pentru a vizualiza informatii despre
												produsele pe care le-ai achizitionat</span>
										</div>
									</div>
								</div>
								<div class="col-md-3" style="margin-bottom: 25px;">
									<div class="card-type-2"
										style="height: 265px; border-radius: 37px; position: relative; float: left; padding: 30px;">
										<img
											style="height: 60px; width: 60px; position: relative; left: -20px; top: -20px;"
											width="800" height="800" th:src="@{'images/logo/wallet.png'}">
										<div
											style="position: relative; top: -5px; justify-content: center; align-items: center; font-weight: 700; color: black; font-size: 20px; text-align: center;">
											<div
												style="font-size: 30px; color: #7300e6; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden;">
												<a href="/wallet" class="choose">Verifica Portofel</a>
											</div>
											<span
												style="font-size: 12px; color: gray; font-weight: 100; display: block; margin-top: -15px; margin-bottom: 10px; letter-spacing: 2px;">Verifica-ti
												portofelul pentru a-ti putea vizualiza fondul curent si
												pentru a adauga bani</span>
										</div>
									</div>
								</div>
								<div class="col-md-3" style="margin-bottom: 25px;">
									<div class="card-type-2"
										style="height: 265px; border-radius: 37px; position: relative; float: left; padding: 30px;">
										<img
											style="height: 60px; width: 60px; position: relative; left: -20px; top: -20px;"
											width="800" height="800"
											th:src="@{'images/logo/profile.png'}">
										<div
											style="position: relative; top: -5px; justify-content: center; align-items: center; font-weight: 700; color: black; font-size: 20px; text-align: center;">
											<div
												style="font-size: 30px; color: #7300e6; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden;">
												<a href="/view_profile" class="choose">Profilul Tau</a>
											</div>
											<span
												style="font-size: 12px; color: gray; font-weight: 100; display: block; margin-top: -15px; margin-bottom: 10px; letter-spacing: 2px;">Acceseaza-ti
												profilul pentru vizualizarea si modificarea informatiilor
												contului tau.</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row" style="position: relative; left: 150px;">
							<div class="col-md-6"
								style="border-radius: 30px; padding: 50px; margin-bottom: 60px; height: 650px; background-color: white;">
								<div class="avatarr"
									style="position: absolute; width: 130px; height: 130px; background-color: white; top: -70px; left: 250px; border-radius: 50%; box-shadow: 0px 0px 0px 7px black; display: flex; justify-content: center; align-items: center;">
									<img style="width: 80px; height: 80px;"
										src="/images/logo/journal.png">
								</div>
								<h3
									style="text-align: center; font-size: 60px; margin-top: 30px; color: #7300e6; font-weight: 700;">Activitate
									Astazi</h3>
								<div style="float: left">
									<div class="product-info"
										style="position: relative; width: auto; height: 350px;">
										<div class="product-text"
											style="z-index: 2; color: black; text-align: center; font-size: 15px; position: relative;">
											<div
												style="display: inline-flex; align-items: baseline; font-size: 20px;">
												Calorii Arse:
												<th:block th:if="${exercisesDoneToday.size() > 0}">
													<div
														style="color: #7300e6; margin-left: 5px; margin-right: 10px; font-size: 60px; font-weight: 900;"
														th:text="${#aggregates.sum(exercisesDoneToday.![exercise.caloriesBurned])}"></div>
												</th:block>
												<th:block th:if="${exercisesDoneToday.size() eq 0}">
													<div
														style="color: #7300e6; margin-left: 5px; margin-right: 10px; font-size: 60px; font-weight: 900;">0</div>
												</th:block>
												<img style="width: 40px; height: 40px;"
													src="/images/logo/burning.png">
											</div>
											<br>
											<div
												style="display: inline-flex; align-items: baseline; font-size: 20px;">
												Calorii Acumulate:
												<th:block th:if="${foodsEatenToday.size() > 0}">
													<div
														style="color: #7300e6; margin-left: 5px; margin-right: 10px; font-size: 60px; font-weight: 900;"
														th:text="${#aggregates.sum(foodsEatenToday.![food.calories])}"></div>
												</th:block>
												<th:block th:if="${foodsEatenToday.size() eq 0}">
													<div
														style="color: #7300e6; margin-left: 5px; margin-right: 10px; font-size: 60px; font-weight: 900;">0</div>
												</th:block>
												<img style="width: 40px; height: 40px;"
													src="/images/logo/meal.png">
											</div>
											<br>
											<div
												style="display: inline-flex; align-items: baseline; font-size: 20px;">
												Exercitii Efectuate:
												<button data-toggle="modal"
													data-target="#modal-exercises-done-today"
													th:attr="data-target='#modal-exercises-done-today'"
													class="view-ex-or-food"
													th:text="${exercisesDoneToday.size()}"
													style="margin-left: 5px; margin-right: 10px; font-size: 60px; font-weight: 900;"></button>
												<div class="modal modal-exercises-done-today fade in"
													th:id="modal-exercises-done-today">
													<div class="modal-dialog"
														style="overflow-y: initial !important;">
														<div class="modal-content"
															style="box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6); border-radius: 12px; width: 950px; position: relative; left: -50px;">
															<div class="modal-body"
																style="height: 680px; overflow-y: auto; overflow-x: hidden;">
																<div style="text-align: center; color: #7300e6;">
																	<h2
																		style="color: #7300e6; font-size: 45px; margin-bottom: 40px; margin-top: 20px;">Exercitii
																		Efectuate Astazi</h2>
																</div>
																<div class="row" style="position: relative; left: 65px;">
																	<div class="col-md-5"
																		th:each="ex, iterStat : ${exercisesDoneToday}">
																		<div class="card-type-2"
																			style="position: relative; height: 450px; background-color: #f6f6f6; border-radius: 30px; border: 0; margin-bottom: 25px;">
																			<div class="img-c"
																				style="padding-top: 100%; top: -50px; position: relative; height: 500px;">
																				<th:block
																					th:if="${ex.exercise.exerciseImages.size() > 0 and ex.exercise.trainingPlan.forWho.getGender() eq 'Barbat'}">
																					<img style="height: 300px;" class="img" width="800"
																						height="800"
																						th:src="@{'images/plans/trainings/man/exercise/'+${ex.exercise.exerciseImages[0].fileName}}">
																				</th:block>
																				<th:block
																					th:if="${ex.exercise.exerciseImages.size() > 0 and ex.exercise.trainingPlan.forWho.getGender() eq 'Femeie'}">
																					<img style="height: 300px;" class="img" width="800"
																						height="800"
																						th:src="@{'images/plans/trainings/woman/exercise/'+${ex.exercise.exerciseImages[0].fileName}}">
																				</th:block>
																				<th:block
																					th:if="${ex.exercise.exerciseImages.size() eq 0}">
																					<img style="height: 300px;" class="img" width="800"
																						height="800" th:src="@{'images/di.png'}">
																				</th:block>
																			</div>
																			<div class="overlay-food"
																				style="background-color: #f6f6f6;">
																				<div class="text" style="left: 47%;">
																					<div
																						style="font-size: 45px; color: #7300e6; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden;"
																						th:text="${ex.exercise.name}"></div>
																					<span
																						style="font-size: 15px; color: black; font-weight: 600; display: block;">Data
																						Executiei</span> <span
																						style="font-size: 15px; color: gray; font-weight: 100;"
																						th:text="${ex.dateOfExecution}"></span>
																					<div class="posts" style="margin-top: 10px;">
																						<div class="one" style="font-weight: 100;">
																							<span style="display: block;">Calorii Arse</span>
																							<span
																								style="display: inline-block; font-size: 35px; color: #7300e6; font-weight: 700;"
																								th:text="${ex.exercise.caloriesBurned}"></span>
																							<img
																								style="left: 2px; height: 40px; width: 40px; position: relative; top: -5px;"
																								src="/images/logo/burning.png">
																						</div>
																						<div class="two" style="font-weight: 100;">
																							<span style="display: block;">Numar Serii</span>
																							<span
																								style="display: inline-block; font-size: 35px; color: #7300e6; font-weight: 700;"
																								th:text="${ex.exercise.numberOfSeries}"></span>
																							<img
																								style="left: 2px; height: 40px; width: 40px; position: relative; top: -5px;"
																								src="/images/logo/gym.png">
																						</div>
																						<div class="two" style="font-weight: 100;">
																							<span style="display: block;">Numar
																								Repetari</span> <span
																								style="display: inline-block; font-size: 35px; color: #7300e6; font-weight: 700;"
																								th:text="${ex.exercise.numberOfReps}"></span> <img
																								style="left: 2px; height: 40px; width: 40px; position: relative; top: -5px;"
																								src="/images/logo/muscle.png">
																						</div>
																					</div>
																					<div class="posts" style="margin-top: 10px;">
																						<div class="one" style="font-weight: 100;">
																							<span style="display: block;">Grupa Muschi</span>
																							<span
																								style="display: inline-block; font-size: 35px; color: #7300e6; font-weight: 700;"
																								th:text="${ex.exercise.trainedMuscleGroup.getMuscleGroup()}"></span>
																							<img
																								style="left: 2px; height: 40px; width: 40px; position: relative; top: -5px;"
																								src="/images/logo/treadmill.png">
																						</div>
																						<div class="two" style="font-weight: 100;">
																							<span style="display: block;">Categorie</span> <span
																								style="display: inline-block; font-size: 35px; color: #7300e6; font-weight: 700;"
																								th:text="${ex.exercise.exerciseCategory}"></span>
																							<img
																								style="left: 2px; height: 40px; width: 40px; position: relative; top: -5px;"
																								src="/images/logo/ssss.png">
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<img style="width: 40px; height: 40px;"
													src="/images/logo/ssss.png">
											</div>
											<br>
											<div
												style="display: inline-flex; align-items: baseline; font-size: 20px;">
												Alimente Consumate:
												<button data-toggle="modal"
													data-target="#modal-foods-eaten-today"
													th:attr="data-target='#modal-foods-eaten-today'"
													class="view-ex-or-food" th:text="${foodsEatenToday.size()}"
													style="margin-left: 5px; margin-right: 10px; font-size: 60px; font-weight: 900;"></button>
												<div class="modal modal-foods-eaten-today fade in"
													th:id="modal-foods-eaten-today">
													<div class="modal-dialog"
														style="overflow-y: initial !important;">
														<div class="modal-content"
															style="box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6); border-radius: 12px; width: 950px; position: relative; left: -50px;">
															<div class="modal-body"
																style="height: 680px; overflow-y: auto; overflow-x: hidden;">
																<div style="text-align: center; color: #7300e6;">
																	<h2
																		style="color: #7300e6; font-size: 45px; margin-bottom: 40px; margin-top: 20px;">Alimente
																		Consumate Astazi</h2>
																</div>
																<div class="row" style="position: relative; left: 65px;">
																	<div class="col-md-5"
																		th:each="fe, iterStat : ${foodsEatenToday}">
																		<div class="card-type-2"
																			style="position: relative; height: 450px; background-color: #f6f6f6; border-radius: 30px; border: 0; margin-bottom: 25px;">
																			<div class="img-c"
																				style="padding-top: 100%; top: -50px; position: relative; height: 500px;">
																				<th:block th:if="${fe.food.images.size() > 0}">
																					<img style="height: 300px;" class="img" width="800"
																						height="800"
																						th:src="@{'images/plans/diets/'+${fe.food.images[0].fileName}}">
																				</th:block>
																				<th:block th:if="${fe.food.images.size() eq 0}">
																					<img style="height: 300px;" class="img" width="800"
																						height="800" th:src="@{'images/di.png'}">
																				</th:block>
																			</div>
																			<div class="overlay-food"
																				style="background-color: #f6f6f6;">
																				<div class="text" style="left: 47%;">
																					<div
																						style="font-size: 45px; color: #7300e6; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden;"
																						th:text="${fe.food.name}"></div>
																					<span
																						style="font-size: 15px; color: black; font-weight: 600; display: block;">Data
																						Consumarii</span> <span
																						style="font-size: 15px; color: gray; font-weight: 100;"
																						th:text="${fe.dateOfExecution}"></span>
																					<div class="posts" style="margin-top: 10px;">
																						<div class="one" style="font-weight: 100;">
																							<span style="display: block;">Calorii</span> <span
																								style="display: inline-block; font-size: 35px; color: #7300e6; font-weight: 700;"
																								th:text="${fe.food.calories}"></span> <img
																								style="left: 2px; height: 40px; width: 40px; position: relative; top: -5px;"
																								src="/images/logo/meal.png">
																						</div>
																						<div class="two" style="font-weight: 100;">
																							<span style="display: block;">Proteine</span> <span
																								style="display: inline-block; font-size: 35px; color: #7300e6; font-weight: 700;"
																								th:text="${fe.food.protein}"></span> <img
																								style="left: 2px; height: 40px; width: 40px; position: relative; top: -5px;"
																								src="/images/logo/proteins.png">
																						</div>
																						<div class="two" style="font-weight: 100;">
																							<span style="display: block;">Gramaj</span> <span
																								style="display: inline-block; font-size: 35px; color: #7300e6; font-weight: 700;"
																								th:text="${fe.food.weight}"></span> <img
																								style="left: 2px; height: 40px; width: 40px; position: relative; top: -5px;"
																								src="/images/logo/scale.png">
																						</div>
																					</div>
																					<div class="posts" style="margin-top: 10px;">
																						<div class="one" style="font-weight: 100;">
																							<span style="display: block;">Fibre</span> <span
																								style="display: inline-block; font-size: 35px; color: #7300e6; font-weight: 700;"
																								th:text="${fe.food.fiber}"></span> <img
																								style="left: 2px; height: 40px; width: 40px; position: relative; top: -5px;"
																								src="/images/logo/vegetable.png">
																						</div>
																						<div class="two" style="font-weight: 100;">
																							<span style="display: block;">Carbohidrati</span>
																							<span
																								style="display: inline-block; font-size: 35px; color: #7300e6; font-weight: 700;"
																								th:text="${fe.food.carbohydrates}"></span> <img
																								style="left: 2px; height: 40px; width: 40px; position: relative; top: -5px;"
																								src="/images/logo/potato.png">
																						</div>
																						<div class="one" style="font-weight: 100;">
																							<span style="display: block;">Lipide</span> <span
																								style="display: inline-block; font-size: 35px; color: #7300e6; font-weight: 700;"
																								th:text="${fe.food.lipids}"></span> <img
																								style="left: 2px; height: 40px; width: 40px; position: relative; top: -5px;"
																								src="/images/logo/trans-fat.png">
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<img style="width: 40px; height: 40px;"
													src="/images/logo/vegetable.png">
											</div>
											<div
												style="display: inline-flex; align-items: baseline; font-size: 20px;">
												Masuratori Calculate:
												<button data-toggle="modal"
													data-target="#modal-foods-eaten-today"
													th:attr="data-target='#modal-measurements-today'"
													class="view-ex-or-food"
													th:text="${measurementsToday.size()}"
													style="margin-left: 5px; margin-right: 10px; font-size: 60px; font-weight: 900;"></button>
												<div class="modal modal-measurements-today fade in"
													th:id="modal-measurements-today">
													<div class="modal-dialog"
														style="overflow-y: initial !important;">
														<div class="modal-content"
															style="box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6); border-radius: 12px; width: 950px; position: relative; left: -50px;">
															<div class="modal-body"
																style="height: 680px; overflow-y: auto; overflow-x: hidden;">
																<div style="text-align: center; color: #7300e6;">
																	<h2
																		style="color: #7300e6; font-size: 45px; margin-bottom: 40px; margin-top: 20px;">Masuratori
																		Calculate Astazi</h2>
																</div>
																<div class="row" style="position: relative; left: 75px;">
																	<div class="col-md-5"
																		th:each="measure: ${measurementsToday}"
																		style="margin-bottom: 25px;">
																		<div class="card-type-2"
																			style="height: 265px; border-radius: 37px; position: relative; float: left; padding: 30px; background-color: #7300e6;">
																			<th:block th:switch="${measure.name}">
																				<th:block
																					th:case="'HKQuantityTypeIdentifierActiveEnergyAccumulated'">
																					<img
																						style="height: 60px; width: 60px; position: relative; left: -125px; top: -15px;"
																						width="800" height="800"
																						th:src="@{'images/logo/kcalaccumulated.png'}">
																				</th:block>
																				<th:block
																					th:case="'HKQuantityTypeIdentifierActiveEnergyBurned'">
																					<img
																						style="height: 60px; width: 60px; position: relative; left: -125px; top: -15px;"
																						width="800" height="800"
																						th:src="@{'images/logo/burn.png'}">
																				</th:block>
																				<th:block
																					th:case="'HKQuantityTypeIdentifierHeartRate'">
																					<img
																						style="height: 60px; width: 60px; position: relative; left: -125px; top: -15px;"
																						width="800" height="800"
																						th:src="@{'images/logo/heart.png'}">
																				</th:block>
																				<th:block
																					th:case="'HKCategoryValueSleepAnalysisAsleep'">
																					<img
																						style="height: 60px; width: 60px; position: relative; left: -125px; top: -15px;"
																						width="800" height="800"
																						th:src="@{'images/logo/sleep.png'}">
																				</th:block>
																				<th:block
																					th:case="'HKQuantityTypeIdentifierStepCount'">
																					<img
																						style="height: 60px; width: 60px; position: relative; left: -125px; top: -15px;"
																						width="800" height="800"
																						th:src="@{'images/logo/runner.png'}">
																				</th:block>
																				<th:block th:case="'HKQuantityTypeIdentifierHeight'">
																					<img
																						style="height: 60px; width: 60px; position: relative; left: -125px; top: -15px;"
																						width="800" height="800"
																						th:src="@{'images/logo/height.png'}">
																				</th:block>
																				<th:block
																					th:case="'HKQuantityTypeIdentifierBodyFatPercentage'">
																					<img
																						style="height: 60px; width: 60px; position: relative; left: -125px; top: -15px;"
																						width="800" height="800"
																						th:src="@{'images/logo/body-mass.png'}">
																				</th:block>
																				<th:block
																					th:case="'HKQuantityTypeIdentifierLeanBodyMass'">
																					<img
																						style="height: 60px; width: 60px; position: relative; left: -125px; top: -15px;"
																						width="800" height="800"
																						th:src="@{'images/logo/liposuction.png'}">
																				</th:block>
																				<th:block
																					th:case="'HKQuantityTypeIdentifierBodyMassIndex'">
																					<img
																						style="height: 60px; width: 60px; position: relative; left: -125px; top: -15px;"
																						width="800" height="800"
																						th:src="@{'images/logo/bathroom-scale.png'}">
																				</th:block>
																				<th:block
																					th:case="'HKQuantityTypeIdentifierBodyMass'">
																					<img
																						style="height: 60px; width: 60px; position: relative; left: -125px; top: -15px;"
																						width="800" height="800"
																						th:src="@{'images/logo/body.png'}">
																				</th:block>
																			</th:block>
																			<div
																				style="position: relative; top: -5px; justify-content: center; align-items: center; font-weight: 700; color: black; font-size: 20px; text-align: center; width: 300px;">
																				<th:block th:switch="${measure.name}">
																					<th:block
																						th:case="'HKQuantityTypeIdentifierActiveEnergyAccumulated'">
																						<div
																							style="margin-bottom: 15px; font-size: 25px; color: white; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden;">Calorii
																							Acumulate</div>
																					</th:block>
																					<th:block
																						th:case="'HKQuantityTypeIdentifierActiveEnergyBurned'">
																						<div
																							style="margin-bottom: 15px; font-size: 25px; color: white; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden;">Calorii
																							Arse</div>
																					</th:block>
																					<th:block
																						th:case="'HKQuantityTypeIdentifierHeartRate'">
																						<div
																							style="margin-bottom: 15px; font-size: 25px; color: white; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden;">Ritm
																							Cardiac</div>
																					</th:block>
																					<th:block
																						th:case="'HKCategoryValueSleepAnalysisAsleep'">
																						<div
																							style="margin-bottom: 15px; font-size: 25px; color: white; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden;">Analiza
																							Somn</div>
																					</th:block>
																					<th:block
																						th:case="'HKQuantityTypeIdentifierStepCount'">
																						<div
																							style="margin-bottom: 15px; font-size: 25px; color: white; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden;">Pasi
																							Parcursi</div>
																					</th:block>
																					<th:block
																						th:case="'HKQuantityTypeIdentifierHeight'">
																						<div
																							style="margin-bottom: 15px; font-size: 25px; color: white; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden;">Inaltime</div>
																					</th:block>
																					<th:block
																						th:case="'HKQuantityTypeIdentifierBodyFatPercentage'">
																						<div
																							style="margin-bottom: 15px; font-size: 25px; color: white; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden;">Procentaj
																							Grasime Corporala</div>
																					</th:block>
																					<th:block
																						th:case="'HKQuantityTypeIdentifierLeanBodyMass'">
																						<div
																							style="margin-bottom: 15px; font-size: 25px; color: white; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden;">Masa
																							Corporala Slaba</div>
																					</th:block>
																					<th:block
																						th:case="'HKQuantityTypeIdentifierBodyMassIndex'">
																						<div
																							style="margin-bottom: 15px; font-size: 25px; color: white; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden;">Index
																							Masa Corporala</div>
																					</th:block>
																					<th:block
																						th:case="'HKQuantityTypeIdentifierBodyMass'">
																						<div
																							style="margin-bottom: 15px; font-size: 25px; color: white; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden;">Masa
																							Corporala</div>
																					</th:block>
																				</th:block>
																				<span
																					th:text="${'Data Calculare: ' + measure.startDate}"
																					style="font-size: 12px; color: white; font-weight: 100; display: block; margin-top: -15px; margin-bottom: 10px; letter-spacing: 2px;"></span>
																				<span th:text="${measure.value}"
																					style="font-size: 45px; color: white; font-weight: 700; display: inline-block; margin-top: -15px; margin-bottom: 10px; letter-spacing: 2px;"></span>
																				<span th:text="${measure.unitOfMeasurement}"
																					style="font-size: 20px; color: white; font-weight: 100; display: inline-block; margin-top: -15px; margin-bottom: 10px; letter-spacing: 2px;"></span>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<img style="width: 40px; height: 40px;"
													src="/images/logo/smartwatch.png">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4" style="position: relative; top: 45px;">
								<div class="row">
									<div class="col-md-3" style="margin-bottom: 25px;">
										<div class="card-type-2"
											style="height: 265px; border-radius: 37px; position: relative; float: left; padding: 30px;">
											<img
												style="height: 60px; width: 60px; position: relative; left: -20px; top: -20px;"
												width="800" height="800"
												th:src="@{'images/logo/responsive.png'}">
											<div
												style="position: relative; top: -5px; justify-content: center; align-items: center; font-weight: 700; color: black; font-size: 20px; text-align: center;">
												<div
													style="font-size: 45px; color: #7300e6; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden;">
													<a href="/choose_device" class="choose">Dispozitive</a>
												</div>
												<span
													style="font-size: 12px; color: gray; font-weight: 100; display: block; margin-top: -15px; margin-bottom: 10px; letter-spacing: 2px;">Alege-ti
													unul dintre dispozitivele disponibile pentru a-ti calcula
													diferite tipuri de masuratori</span>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3" style="margin-bottom: 25px;">
										<div class="card-type-2"
											style="height: 265px; border-radius: 37px; position: relative; float: left; padding: 30px;">
											<img
												style="height: 50px; width: 50px; position: relative; left: -15px; top: -15px;"
												width="800" height="800"
												th:src="@{'images/logo/sketch.png'}">
											<div
												style="position: relative; justify-content: center; align-items: center; font-weight: 700; color: black; font-size: 20px; text-align: center;">
												<div
													style="font-size: 45px; color: #7300e6; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden;">
													<a href="/choose_plans" class="choose">Planuri</a>
												</div>
												<span
													style="font-size: 12px; color: gray; font-weight: 100; display: block; margin-top: -15px; margin-bottom: 10px; letter-spacing: 2px;">Alege-ti
													unul dintre planurile disponibile puse la dispozitie de
													experii nostri</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div
							style="text-align: center; font-size: 70px; margin-bottom: 30px; color: white; font-weight: 700;">
							Expertii tai --- <span><a href="choose_helper"
								class="choose-helper">Alege Expert</a></span>
						</div>
						<div class="row" style="margin-bottom: 50px;">
							<div class="col-md-4" style="margin-bottom: 25px;"
								th:each="helper, iterStat : ${user.helpers}">
								<div class="card-type-2"
									style="height: 350px; border-radius: 37px; position: relative; float: left; padding: 30px;">
									<th:block th:if="${helper.gender.getGender() eq 'Barbat'}">
										<th:block th:each="role: ${helper.roles}">
											<th:block th:if="${role.name eq 'ROLE_TRAINER'}">
												<img
													style="height: 60px; width: 60px; position: relative; left: -25px; top: -25px;"
													width="800" height="800"
													th:src="@{'images/logo/helper-trainer-man.png'}">
											</th:block>
											<th:block th:if="${role.name eq 'ROLE_NUTRITIONIST'}">
												<img
													style="height: 60px; width: 60px; position: relative; left: -25px; top: -25px;"
													width="800" height="800"
													th:src="@{'images/logo/helper-nutritionist-man.png'}">
											</th:block>
										</th:block>
									</th:block>
									<th:block th:if="${helper.gender.getGender() eq 'Femeie'}">
										<th:block th:each="role: ${helper.roles}">
											<th:block th:if="${role.name eq 'ROLE_TRAINER'}">
												<img
													style="height: 60px; width: 60px; position: relative; left: -25px; top: -25px;"
													width="800" height="800"
													th:src="@{'images/logo/helper-trainer-woman.png'}">
											</th:block>
											<th:block th:if="${role.name eq 'ROLE_NUTRITIONIST'}">
												<img
													style="height: 60px; width: 60px; position: relative; left: -25px; top: -25px;"
													width="800" height="800"
													th:src="@{'images/logo/helper-nutritionist-woman.png'}">
											</th:block>
										</th:block>
									</th:block>
									<div
										style="position: relative; top: -35px; justify-content: center; align-items: center; font-weight: 700; color: black; font-size: 20px; text-align: center;">
										<div
											style="font-size: 45px; color: #7300e6; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden;"
											th:text="${helper.username}"></div>
										<th:block th:each="role: ${helper.roles}">
											<th:block th:if="${role.name eq 'ROLE_TRAINER'}">
												<span
													style="font-size: 12px; color: gray; font-weight: 100; display: block; margin-top: -15px; margin-bottom: 10px; letter-spacing: 2px;">Antrenor</span>
											</th:block>
											<th:block th:if="${role.name eq 'ROLE_NUTRITIONIST'}">
												<span
													style="font-size: 12px; color: gray; font-weight: 100; display: block; margin-top: -15px; margin-bottom: 10px; letter-spacing: 2px;">Nutritionist</span>
											</th:block>
										</th:block>
										<th:block
											th:each="experience: ${helper.getAccountInformation().getExperiences()}">
											<input type="hidden"
												th:value="${T(Integer).parseInt(experience.end) - T(Integer).parseInt(experience.start)}" />
										</th:block>
										<th:block
											th:if="${#lists.size(helper.accountInformation.experiences)}">
											<span
												style="margin-bottom: -10px; font-size: 15px; color: gray; display: block;">Ani
												Experienta:</span>
											<span
												style="font-size: 50px; color: #7300e6; font-weight: 600;"
												th:text="${#aggregates.sum(helper.getAccountInformation().getExperiences().![T(Integer).parseInt(end) - T(Integer).parseInt(start)])}"></span>
										</th:block>
										<th:block
											th:unless="${#lists.size(helper.accountInformation.experiences)}">
											<span
												style="margin-bottom: -10px; font-size: 15px; color: gray; display: block;">Ani
												Experienta:</span>
											<span
												style="font-size: 50px; color: #7300e6; font-weight: 600;">0</span>
										</th:block>
										<th:block th:if="${#lists.size(helper.plans)}">
											<span
												style="margin-top: -15px; margin-bottom: -10px; font-size: 15px; color: gray; display: block;">Planuri
												Propuse:</span>
											<button data-toggle="modal" data-target="#modal-foods"
												th:attr="data-target='#modal-foods'+${helper.accountId}"
												class="view-ex-or-food" th:text="${helper.plans.size()}"></button>
											<div class="modal modal-foods fade in"
												th:id="modal-foods+${helper.accountId}">
												<div class="modal-dialog"
													style="overflow-y: initial !important;">
													<div class="modal-content"
														style="box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6); border-radius: 12px; width: 700px; position: relative; left: -50px;">
														<div class="modal-body"
															style="height: 680px; overflow-y: auto;">
															<div style="text-align: center; color: #7300e6;">
																<h2
																	style="margin-bottom: 20px; color: #7300e6; font-size: 100px;">Planuri</h2>
															</div>
															<section
																style="height: 355px; width: 600px; display: inline-grid; grid-template-columns: 0.7fr 1fr; margin: 0 auto; padding: 2.5em 0; background-color: #7300e6; border-radius: 20px; margin-bottom: 50px;"
																th:each="plan, iterStat : ${helper.plans}"
																th:if="${plan.foods.size() > 0 or plan.exercises.size() > 0}">
																<th:block th:if="${plan.typeOfPlan eq 'Dieta'}">
																	<img
																		th:src="@{'images/plans/diets/diet'+${iterStat.index+1}+'.jpg'}"
																		onerror="if (this.src != 'images/plans/diets/default-diet.jpg') this.src = 'images/plans/diets/default-diet.jpg';"
																		style="position: absolute; left: 24%; top: 50%; transform: translate(-50%, -50%); width: 230px; height: 250px;"
																		alt="green apple slice">
																</th:block>
																<th:block
																	th:if="${plan.typeOfPlan eq 'Antrenament' and user.gender.getGender() eq 'Barbat'}">
																	<img
																		th:src="@{'images/plans/trainings/man/man_training'+${iterStat.index+1}+'.jpg'}"
																		onerror="if (this.src != 'images/plans/trainings/man/default_training.jpg') this.src = 'images/plans/trainings/man/default_training.jpg';"
																		style="position: absolute; left: 24%; top: 50%; transform: translate(-50%, -50%); width: 230px; height: 250px;"
																		alt="green apple slice">
																</th:block>
																<th:block
																	th:if="${plan.typeOfPlan eq 'Antrenament' and user.gender.getGender() eq 'Femeie'}">
																	<img
																		th:src="@{'images/plans/trainings/woman/woman_training'+${iterStat.index+1}+'.jpg'}"
																		onerror="if (this.src != 'images/plans/trainings/woman/default_training.jpg') this.src = ''images/plans/trainings/woman/default_training.jpg'';"
																		style="position: absolute; left: 24%; top: 50%; transform: translate(-50%, -50%); width: 230px; height: 250px;"
																		alt="green apple slice">
																</th:block>
																<div class="product__info"
																	style="position: relative; left: 15em; text-align: center; width: 245px; color: white;">
																	<div class="title">
																		<h1 th:text="${plan.name}"
																			style="font-size: 17px; color: white;"></h1>
																		<h6 style="margin-top: 5px; color: white;"
																			th:text="${'Expert: ' + plan.helper.username}"></h6>
																		<span th:text="${'Gen: ' + plan.forWho}"
																			style="color: white;"></span>
																	</div>
																	<div class="price" style="margin: 0px;">
																		<span style="font-size: 35px; color: white;"
																			th:text="${plan.price + ' LEI'}"></span>
																	</div>
																	<div style="font-size: 12px; margin-bottom: 15px;">Lorem
																		Ipsum has been the industry's standard dummy text ever
																		since the 1500s, when an unknown printer took a galley
																		of type and scrambled it to make a type specimen book.</div>
																</div>
															</section>
														</div>
													</div>
												</div>
											</div>
										</th:block>
										<th:block th:unless="${#lists.size(helper.plans)}">
											<span
												style="margin-top: -15px; margin-bottom: -10px; font-size: 15px; color: gray; display: block;">Planuri
												Propuse:</span>
											<span
												style="font-size: 50px; color: #7300e6; font-weight: 600;">0</span>
										</th:block>
									</div>
								</div>
							</div>
						</div>
						<div class="row"
							style="position: relative; left: 230px; margin-bottom: 40px;">
							<div
								style="margin-bottom: 25px; width: 400px; padding-right: 15px; padding-left: 15px;">
								<div class="card-type-2"
									style="height: 230px; border-radius: 37px; position: relative; float: left; padding: 30px;">
									<img
										style="height: 60px; width: 60px; position: relative; left: -20px; top: -20px;"
										width="800" height="800"
										th:src="@{'images/logo/positive-vote.png'}">
									<div
										style="position: relative; top: -10px; justify-content: center; align-items: center; font-weight: 700; color: black; font-size: 20px; text-align: center;">
										<div
											style="font-size: 30px; color: #7300e6; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden;">
											<a href="/view_feedbacks_from_helper" class="choose">Feedback-uri
												Primite</a>
										</div>
										<span
											style="font-size: 12px; color: gray; font-weight: 100; display: block; margin-top: -15px; margin-bottom: 10px; letter-spacing: 2px;">Vizualizeaza-ti
											feedback-urile primite de la experitii alesi de tine pe baza
											progresului tau.</span>
									</div>
								</div>
							</div>
							<div
								style="margin-bottom: 25px; width: 400px; padding-right: 15px; padding-left: 15px;">
								<div class="card-type-2"
									style="height: 230px; border-radius: 37px; position: relative; float: left; padding: 30px;">
									<img
										style="height: 60px; width: 60px; position: relative; left: -20px; top: -20px;"
										width="800" height="800" th:src="@{'images/logo/burn.png'}">
									<div
										style="position: relative; top: -10px; justify-content: center; align-items: center; font-weight: 700; color: black; font-size: 20px; text-align: center;">
										<div
											style="font-size: 30px; color: #7300e6; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden;">
											<a href="/differences_for_calories" class="choose">Diferente
												Calorii</a>
										</div>
										<span
											style="font-size: 12px; color: gray; font-weight: 100; display: block; margin-top: -15px; margin-bottom: 10px; letter-spacing: 2px;">Vizualizeaza-ti
											diferentele dintre caloriile pe care le-ai ars si caloriile
											pe care le-ai acumulat.</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<th:block
									th:if="${favoriteExercisesDesc.entrySet().size() > 0 and favoriteFoodsDesc.entrySet().size() > 0}">
									<h3
										style="text-align: center; font-size: 45px; color: white; font-weight: 700; margin-bottom: 30px;">
										Exercitii si Alimente Favorite</h3>
								</th:block>
								<th:block
									th:if="${favoriteExercisesDesc.entrySet().size() > 0 and favoriteFoodsDesc.entrySet().size() eq 0}">
									<h3
										style="text-align: center; font-size: 45px; color: white; font-weight: 700; margin-bottom: 30px;">
										Exercitii Efectuate</h3>
								</th:block>
								<th:block
									th:if="${favoriteExercisesDesc.entrySet().size() eq 0 and favoriteFoodsDesc.entrySet().size() > 0}">
									<h3
										style="text-align: center; font-size: 45px; color: white; font-weight: 700; margin-bottom: 30px;">
										Alimente Consumate</h3>
								</th:block>
								<div class="row">
									<div class="col-md-6">
										<div class="table-responsive" style="margin-bottom: 100px;"
											th:if="${favoriteExercisesDesc.entrySet().size() > 0 }">
											<table style="background-color: white;"
												class="table table-hover">
												<thead>
													<tr class="text-center"
														style="font-size: 25px; color: #7300e6;">
														<th style="text-align: center; padding: 15px;">Exericitiu</th>
														<th style="text-align: center; padding: 15px;">Efectuat
															de</th>
														<th style="text-align: center; padding: 15px;">Calorii
															Arse</th>
													</tr>
												</thead>
												<tbody class="text-center tableBody" style="color: black;">
													<th:block th:each="ex: ${favoriteExercisesDesc.entrySet()}">
														<tr>
															<td class="td-favorite"><a class="td-favorite-link"
																th:href="@{/view_exercise/{id}(id=${ex.getKey().exerciseId})}"
																th:text="${ex.getKey().name}"></a></td>
															<td class="td-favorite" th:text="${ex.getValue() + ' X'}"></td>
															<td class="td-favorite"
																th:text="${ex.getKey().getCaloriesBurned() * ex.getValue() + ' Kcal'}"></td>
														</tr>
													</th:block>
												</tbody>
											</table>
										</div>
									</div>
									<div class="col-md-6">
										<div class="table-responsive" style="margin-bottom: 100px;"
											th:if="${favoriteFoodsDesc.entrySet().size() > 0 }">
											<table style="background-color: white;"
												class="table table-hover">
												<thead>
													<tr class="text-center"
														style="font-size: 25px; color: #7300e6;">
														<th style="text-align: center; padding: 15px;">Aliment</th>
														<th style="text-align: center; padding: 15px;">Consumat
															de</th>
														<th style="text-align: center; padding: 15px;">Calorii
															Acumulate</th>
													</tr>
												</thead>
												<tbody class="text-center tableBody" style="color: black;">
													<th:block th:each="food: ${favoriteFoodsDesc.entrySet()}">
														<tr>
															<td class="td-favorite"><a class="td-favorite-link"
																th:href="@{/view_food/{id}(id=${food.getKey().foodId})}"
																th:text="${food.getKey().name}"></a></td>
															<td class="td-favorite"
																th:text="${food.getValue() + ' X'}"></td>
															<td class="td-favorite"
																th:text="${food.getKey().getCalories() * food.getValue() + ' Kcal'}"></td>
														</tr>
													</th:block>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>