<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sign up</title>
<base href="/">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<script src="https://kit.fontawesome.com/8f58d13ed0.js"
	crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" th:href="@{css/founds.css}" />
</head>
<body>
	<div class="alert" th:if="${negativeValue}">
		<div
			style="float: left; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 250px;">
			<h5 style="font-weight: 900; font-size: 16px;">Eroare</h5>
			<p style="font-size: 13px;" th:text="${negativeValue}"></p>
		</div>
		<div style="float: right;">
			<span class="closebtn"
				onclick="this.parentElement.style.display='none';">&times;</span>
		</div>
	</div>
	<p th:text="${insufficientBalance}"></p>
	<div class="wrapper"
		style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">
		<div class="app-wrapper">
			<!--Wallet-->
			<aside class="wallet"
				style="display: flex; align-items: center; justify-content: center;">
				<div style="flex: 0 0 50%;">
					<h2 style="color: white;">Sold</h2>
					<div class="modal-control">+</div>
				</div>
			</aside>

			<content class="transactions-wrapper"
				style="display:flex;align-items: center;justify-content: center;">
			<div style="text-align: center; flex: 0 0 50%;">
				<h2 style="color: black;">Sold Curent</h2>
				<span class="total-balance" style="color: black;"
					th:text="${transaction.availableBalance + ' LEI'}"></span>
			</div>
			<div style="text-align: center; flex: 0 0 50%;">
				<h2 style="color: black;">Cheltuieli</h2>
				<span class="total-balance" style="color: black;"
					th:text="${transaction.payments + ' LEI'}"></span>
			</div>
			</content>
		</div>
	</div>
	<div class="modal">
		<div class="modal-body"
			style="position: absolute; left: 50%; top: 10%; transform: translate(-50%, -50%); height: 350px;">
			<div class="modal-close">+</div>
			<form th:action="@{/modify_current_balance}" method="post"
				style="width: 70%; margin: 0 auto; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">
				<input type="hidden" name="transactionId"
					th:value="${transaction.transactionId}" />
				<div style="margin-bottom: 20px;">
					<i class="fas fa-money-bill-wave fa-6x" style="color: #7300e6;"></i>
				</div>
				<div class="form-group" style="display: flex;">
					<input class="btn-block" type="number" name="availableBalance"
						th:value="${transaction.availableBalance}"
						style="outline: none; border-bottom: 1px solid #7300e6; border-top: none; border-left: none; border-right: none; color: #7300e6; font-size: 50px;" />
					<label style="font-size: 50px; color: #7300e6;">LEI</label>
				</div>
				<div class="form-group">
					<button class="btn btn-block" type="submit"
						style="background-color: #7300e6; color: white; font-size: 25px; margin-top: 30px;">Adauga
						Bani</button>
				</div>
			</form>
		</div>
	</div>
	<script>
		var modalControl = document.querySelector(".modal-control");
		var modalClose = document.querySelector(".modal-close");
		var modal = document.querySelector(".modal");
		modalControl.addEventListener("click", function() {
			document.querySelector(".modal").classList.add("open");
		}, false);

		//click anywhere to close example modal
		modalClose.addEventListener("click", function() {
			document.querySelector(".modal").classList.remove("open");
		}, false);
	</script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" th:src="@{/js/validationcv.js}"></script>
</body>
</html>