<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sign up</title>
<base href="/">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/8f58d13ed0.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" th:href="@{css/style.css}" />
</head>
<body>
	<form th:action="@{/set_height_and_weight_save}" method="post">
		<div th:if="${heightIsNotCalculated}">
			<label>Inaltime</label>
			<input type="number" step="0.01" name="height"/>
		</div>
		<div th:if="${weightIsNotCalculated}">
			<label>Greutate</label>
			<input type="number" step="0.01" name="weight"/>
		</div>
		<button type="submit">Salveaza</button>
	</form>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" th:src="@{/js/validationcv.js}"></script>
</body>
</html>