<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Admin</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<div th:unles="${#lists.size(products)}">
	Nu ai selectat niciun produs momentan
</div>
<div th:if="${#lists.size(products)}">
	<h3 style="text-align: center; font-size: 40px; margin-top: 30px; margin-bottom: 30px;">Cosul meu</h3>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-10 mx-auto">
						<table class="table table-striped">
							<thead class="center-align">
								<tr>
									<th>Nume</th>
									<th>Pret</th>
									<th>Actiuni</th>
								</tr>
							</thead>
							<tbody class="center-align">
								<th:block th:each="product, iterStat : ${products}">
									<tr>
										<div th:if="${product.type == 'device'}">
											<td th:text="${product.productName + ' ' + product.companyName}"></td>
											<td th:text="${product.price}"></td>
										</div>
										<div th:if="${product.type == 'trainingPlan'}">
											<td th:text="${product.productName + ' ' + product.forWho}"></td>
											<td th:text="${product.price}"></td>
										</div>
										<td>
											<form th:action="@{/delete_product_from_shopping_cart}" method="post">
												<input type="hidden" name="userId" th:value="${user.accountId}"/>
												<input type="hidden" name="productId" th:value="${product.productId}"/>
												<input type="hidden" name="productName" th:value="${product.productName}"/>
												<button type="submit">Sterge Produs din Cos</button>
											</form>
										</td>
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<h4 th:text="${insufficientBalance}"></h4>
	<h4>Suma totala a produselor este de <span th:text="${totalSum}"></span> lei</h4>
	<h4>Soldul tau curent este de <span th:text="${user.transaction.availableBalance}"></span></h4>
	<form th:action="@{/buy_shopping_cart}" method="post">
	<input type="hidden" name="userId" th:value="${user.accountId}"/>
	<input type="hidden" name="totalSum" th:value="${totalSum}"/>
	<button type="submit" class="btn btn-success">Cumpara</button>
	</form>
</div>
</body>
</html>