<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Admin</title>
  <link
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    rel="stylesheet" id="bootstrap-css">
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<div th:unless="${#lists.size(userDiets)}">Nu ai cumparat nicio dieta
</div>
<div th:if="${#lists.size(userDiets)}">
  <h3
    style="text-align: center; font-size: 40px; margin-top: 30px; margin-bottom: 30px;">Diete Cumparate</h3>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-10 mx-auto">
            <table class="table table-striped">
              <thead class="center-align">
              <tr>
                <th>Nume</th>
                <th>Actiuni</th>
              </tr>
              </thead>
              <tbody class="center-align">
              <th:block th:each="userDiet, iterStat : ${userDiets}">
                <tr>
                  <td th:text="${userDiet.helperPlan.name}"></td>
                  <td>
                    <form th:action="@{/plan_content}" method="post">
                      <input type="hidden" name="dietPlanId" th:value="${userDiet.helperPlan.helperPlanId}"/>
                      <button type="submit" class="btn btn-success">Vezi
                        Alimentele Neconsumate
                      </button>
                    </form>
                  </td>
                </tr>
              </th:block>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
    let selectedTrainingId = 0;
    let selectedUserId = 0;

    function selectTrainingIdAndUserId(trainingId, userId) {
        selectedTrainingId = trainingId;
        selectedUserId = userId;
    }
</script>
</body>
</html>
