<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Admin</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<div th:unless="${#lists.size(measurements)}">
	Acest dispozitiv nu a inregistrat nicio masuratoare
</div>
	<div th:if="${#lists.size(measurements)}">
		<h3 style="text-align: center; font-size: 40px; margin-top: 30px; margin-bottom: 30px;">Optiuni Tipuri Grafice</h3>
		<div style="text-align:center;">
			<div th:if="${userDevice.device.name eq 'Bratara'}">
				<a th:href="@{/view_charts_for_device/{chartOption}/{userDeviceId}(chartOption = 'heartRate', userDeviceId = ${userDevice.userDeviceId})}" class="btn btn-success">Ritm Cardiac</a>
				<a th:href="@{/view_charts_for_device/{chartOption}/{userDeviceId}(chartOption = 'stepCount', userDeviceId = ${userDevice.userDeviceId})}" class="btn btn-success">Pasi</a>
				<a th:href="@{/view_charts_for_device/{chartOption}/{userDeviceId}(chartOption = 'sleepAnalysis', userDeviceId = ${userDevice.userDeviceId})}" class="btn btn-success">Analiza Somn</a>
				<a th:href="@{/view_charts_for_device/{chartOption}/{userDeviceId}(chartOption = 'activeEnergyBurned', userDeviceId = ${userDevice.userDeviceId})}" class="btn btn-success">Energie Activa</a>
			</div>
			<div th:if="${userDevice.device.name eq 'Cantar Inteligent'}">
				<a th:href="@{/view_charts_for_device/{chartOption}/{userDeviceId}(chartOption = 'bodyFatPercentage', userDeviceId = ${userDevice.userDeviceId})}" class="btn btn-success">Procentaj Grasime</a>
				<a th:href="@{/view_charts_for_device/{chartOption}/{userDeviceId}(chartOption = 'bodyMassIndex', userDeviceId = ${userDevice.userDeviceId})}" class="btn btn-success">Indice Masa Corporala</a>
				<a th:href="@{/view_charts_for_device/{chartOption}/{userDeviceId}(chartOption = 'bodyMass', userDeviceId = ${userDevice.userDeviceId})}" class="btn btn-success">Masa Corporala</a>
				<a th:href="@{/view_charts_for_device/{chartOption}/{userDeviceId}(chartOption = 'leanBodyMass', userDeviceId = ${userDevice.userDeviceId})}" class="btn btn-success">Lean Body Mass</a>
			</div>
			<div th:if="${userDevice.device.name eq 'Fit Buddy'}">
				<a th:href="@{/view_charts_for_device/{chartOption}/{userDeviceId}(chartOption = 'activeEnergyBurnedBuddy', userDeviceId = ${userDevice.userDeviceId})}" class="btn btn-success">Energie Activa Arsa</a>
				<a th:href="@{/view_charts_for_device/{chartOption}/{userDeviceId}(chartOption = 'activeEnergyAccumulated', userDeviceId = ${userDevice.userDeviceId})}" class="btn btn-success">Energie Activa Acumulata</a>
		</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>
</body>
</html>