<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Admin</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
	<div th:unless="${#lists.size(userTrainings)}">Nu exista niciun
		antrenor sau nutritionist disponibil</div>
	<div th:if="${#lists.size(userTrainings)}">
		<h3
			style="text-align: center; font-size: 40px; margin-top: 30px; margin-bottom: 30px;">Antrenori
			sau Nutritionisti</h3>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-10 mx-auto">
							<table class="table table-striped">
								<thead class="center-align">
									<tr>
										<th>Nume</th>
										<th>Actiuni</th>
									</tr>
								</thead>
								<tbody class="center-align">
									<th:block th:each="userTraining, iterStat : ${userTrainings}">
										<tr>
											<td th:text="${userTraining.trainingPlan.name}"></td>
											<td>
												<form th:action="@{/exercises_training_plan}" method="post">
													<input type="hidden" name="trainingPlanId" th:value="${userTraining.trainingPlan.trainingPlanId}"/>
													<button type="submit" class="btn btn-success">Vezi
														Exercitiile Nefacute</button>
												</form>
											</td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script>
		let selectedTrainingId = 0;
		let selectedUserId = 0;
		
		function selectTrainingIdAndUserId(trainingId, userId) {
			selectedTrainingId = trainingId;
			selectedUserId = userId;
		}
	</script>
</body>
</html>