<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<style>
#aditional-information {
	color: red;
	visibility: hidden;
}

.bar-step {
	position: absolute;
	margin-top: -20px;
	z-index: 1;
	font-size: 12px;
}

.label-txt {
	float: left;
}

.label-line {
	float: right;
	background: #000;
	height: 50px;
	width: 1px;
	margin-left: 5px;
}

.label-percent {
	float: right;
	margin-left: 5px;
}
</style>
<title>Admin</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:unless="${#lists.size(chosenMeasurements)}">
	<div th:unless="${measurementsBetweenTimestamps}">
		Nu exista masuratori
	</div>
</div>
<div th:if="${#lists.size(chosenMeasurements)} or ${measurementsBetweenTimestamps}">
	<div th:unless="${#lists.size(chartMap.values())}">Nu exista masuratori intre datele pe care le-ai selectat
	<h6>Incearca din nou</h6>
	<form id="chart" style="display: inline;"
		th:action="@{/view_charts_between_dates}" method="post">
		<input type="hidden" name="chartOption" th:value="${chartOption}" />
		<input type="hidden" name="userDeviceId" th:value="${userDeviceId}" />
		<label>Start</label> <input type="date" id="startDateInput" name="startDateInput">
		<label>End</label> <input type="date" id="endDateInput" name="endDateInput">
		<div id="errorStartDateInput"></div>
		<div id="errorEndDateInput"></div>
		<button>Search</button>
	</form>
	</div>
	<div th:if="${#lists.size(chartMap.values())}" class="container-fluid">
	<h6>Valoarea minima este <span th:text="${minimValue}"></span></h6>
	<h6>Valoarea maxima este <span th:text="${maximValue}"></span></h6>
		<div th:if="${#lists.size(goalMeasurements)}" class="container-fluid">
			<div th:if="${datesAreEquals}">
				<h3 style="text-align:center;">Masuratori Obiectiv Implinit Pe <span th:text="${minimumDate}"></span></h3>
			</div>
			<div th:unless="${datesAreEquals}">
				<h3 style="text-align:center;">Masuratori Obiectiv Implinit Intre <span th:text="${minimumDate + ' - ' + maximumDate}"></span></h3>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-10 mx-auto">
							<table class="table table-striped">
								<thead class="center-align">
									<tr>
										<th>Nume Exercitiu</th>
										<th>Nume Antrenament</th>
										<th>Nume Antrenor</th>
									</tr>
								</thead>
								<tbody class="center-align">
									<th:block
										th:each="measure, iterStat : ${goalMeasurements}">
										<tr>
											<td th:text="${measure.name}"></td>
											<td th:text="${measure.value}"></td>
											<td th:text="${measure.date}"></td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
			<form id="chart" style="display: inline;"
		th:action="@{/view_charts_between_dates}" method="post">
		<input type="hidden" name="chartOption" th:value="${chartOption}" />
		<input type="hidden" name="userDeviceId" th:value="${userDeviceId}" />
		<label>Start</label> <input type="date" id="startDateInput" name="startDateInput">
		<label>End</label> <input type="date" id="endDateInput" name="endDateInput">
		<button>Search</button>
		<div th:if="${chartOption eq 'sleepAnalysis'}" class="container-fluid">
			<div class="row">
				<div class="col-md-10 mx-auto">
					<div id="sleepAnalysis"></div>
					<div id="aditional-information">
						<h1>Informatii Aditionale</h1>
						<h3 th:text="${chartOption + ' ' }"></h3>
						<h3>Data Masuratorii</h3>
						<h6 id="dateOfMeasurement"></h6>
						<h3>Valoarea Masuratorii</h3>
						<h6 id="valueOfMeasurement"></h6>
						<h3>Rezultatul Masuratorii</h3>
						<h6 id="resultOfMeasurement"></h6>
						<div class="container">
							<div class="row">
								<br>
								<div class="col-xs-12">
									<div class="progress">
										<div class="bar-step" style="left: 10%">
											<div class="label-txt">Minimum</div>
											<input type="hidden" id="minimum" value="360"></input>
											<div class="label-line"></div>
										</div>
										<div class="bar-step" style="left: 35%">
											<div class="label-txt">Middle</div>
											<input type="hidden" id="middle" value="480"></input>
											<div class="label-line"></div>
										</div>
										<div class="bar-step" style="left: 55%">
											<div class="label-txt">Middle2</div>
											<input type="hidden" id="middle2" value="540"></input>
											<div class="label-line"></div>
										</div>
										<div class="bar-step" style="left: 75%">
											<div class="label-txt">Maximum</div>
											<input type="hidden" id="maximum" value="600"></input>
											<div class="label-line"></div>
										</div>
										<div id="success" class="progress-bar progress-bar-success"
											style="width: 1%;">46%</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:if="${chartOption eq 'activeEnergyBurned'}"
			class="container-fluid">
			<div class="row">
				<div class="col-md-10 mx-auto">
					<div id="activeEnergyBurned"></div>
					<div id="aditional-information">
						<h1>Informatii Aditionale</h1>
						<h3 th:text="${chartOption + ' ' }"></h3>
						<h3>Data Masuratorii</h3>
						<h6 id="dateOfMeasurement"></h6>
						<h3>Valoarea Masuratorii</h3>
						<h6 id="valueOfMeasurement"></h6>
						<h3>Rezultatul Masuratorii</h3>
						<h6 id="resultOfMeasurement"></h6>
						<div class="container">
							<div class="row">
								<br>
								<div class="col-xs-12">
									<div class="progress">
										<div class="bar-step" style="left: 10%">
											<div class="label-txt">Minimum</div>
											<input type="hidden" id="minimum" value="24"></input>
											<div class="label-line"></div>
										</div>
										<div class="bar-step" style="left: 35%">
											<div class="label-txt">Middle</div>
											<input type="hidden" id="middle" value="74"></input>
											<div class="label-line"></div>
										</div>
										<div class="bar-step" style="left: 55%">
											<div class="label-txt">Middle2</div>
											<input type="hidden" id="middle2" value="150"></input>
											<div class="label-line"></div>
										</div>
										<div class="bar-step" style="left: 75%">
											<div class="label-txt">Maximum</div>
											<input type="hidden" id="maximum" value="300"></input>
											<div class="label-line"></div>
										</div>
										<div id="success" class="progress-bar progress-bar-success"
											style="width: 1%;">46%</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:if="${chartOption eq 'stepCount'}" class="container-fluid">
			<div class="row">
				<div class="col-md-10 mx-auto">
					<div id="stepCount"></div>
					<div id="aditional-information">
						<h1>Informatii Aditionale</h1>
						<h3 th:text="${chartOption + ' ' }"></h3>
						<h3>Data Masuratorii</h3>
						<h6 id="dateOfMeasurement"></h6>
						<h3>Valoarea Masuratorii</h3>
						<h6 id="valueOfMeasurement"></h6>
						<h3>Rezultatul Masuratorii</h3>
						<h6 id="resultOfMeasurement"></h6>
						<div class="container">
							<div class="row">
								<br>
								<div class="col-xs-12">
									<div class="progress">
										<div class="bar-step" style="left: 10%">
											<div class="label-txt">Minimum</div>
											<input type="hidden" id="minimum" value="500"></input>
											<div class="label-line"></div>
										</div>
										<div class="bar-step" style="left: 35%">
											<div class="label-txt">Middle</div>
											<input type="hidden" id="middle" value="1500"></input>
											<div class="label-line"></div>
										</div>
										<div class="bar-step" style="left: 55%">
											<div class="label-txt">Middle2</div>
											<input type="hidden" id="middle2" value="3000"></input>
											<div class="label-line"></div>
										</div>
										<div class="bar-step" style="left: 75%">
											<div class="label-txt">Maximum</div>
											<input type="hidden" id="maximum" value="4500"></input>
											<div class="label-line"></div>
										</div>
										<div id="success" class="progress-bar progress-bar-success"
											style="width: 1%;">46%</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:if="${chartOption eq 'heartRate'}" class="container-fluid">
			<div class="row">
				<div class="col-md-10 mx-auto">
					<div id="heartRate"></div>
					<div id="aditional-information">
						<h1>Informatii Aditionale</h1>
						<h3 th:text="${chartOption + ' ' }"></h3>
						<h3>Data Masuratorii</h3>
						<h6 id="dateOfMeasurement"></h6>
						<h3>Valoarea Masuratorii</h3>
						<h6 id="valueOfMeasurement"></h6>
						<h3>Rezultatul Masuratorii</h3>
						<h6 id="resultOfMeasurement"></h6>
						<div class="container">
							<div class="row">
								<br>
								<div class="col-xs-12">
									<div class="progress">
										<div class="bar-step" style="left: 10%">
											<div class="label-txt">Minimum</div>
											<input type="hidden" id="minimum" value="50"></input>
											<div class="label-line"></div>
										</div>
										<div class="bar-step" style="left: 35%">
											<div class="label-txt">Middle</div>
											<input type="hidden" id="middle" value="64"></input>
											<div class="label-line"></div>
										</div>
										<div class="bar-step" style="left: 55%">
											<div class="label-txt">Middle2</div>
											<input type="hidden" id="middle2" value="84"></input>
											<div class="label-line"></div>
										</div>
										<div class="bar-step" style="left: 75%">
											<div class="label-txt">Maximum</div>
											<input type="hidden" id="maximum" value="100"></input>
											<div class="label-line"></div>
										</div>
										<div id="success" class="progress-bar progress-bar-success"
											style="width: 1%;">46%</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:if="${chartOption eq 'bodyFatPercentage'}"
			class="container-fluid">
			<div class="row">
				<div class="col-md-10 mx-auto">
					<div id="bodyFatPercentage"></div>
					<div id="aditional-information">
						<h1>Informatii Aditionale</h1>
						<h3 th:text="${chartOption + ' ' }"></h3>
						<h3>Data Masuratorii</h3>
						<h6 id="dateOfMeasurement"></h6>
						<h3>Valoarea Masuratorii</h3>
						<h6 id="valueOfMeasurement"></h6>
						<h3>Rezultatul Masuratorii</h3>
						<h6 id="resultOfMeasurement"></h6>
						<div class="container">
							<div class="row">
								<br>
								<div class="col-xs-12">
									<div class="progress">
										<div class="bar-step" style="left: 10%">
											<div class="label-txt">Minimum</div>
											<input type="hidden" id="minimum" value="8"></input>
											<div class="label-line"></div>
										</div>
										<div class="bar-step" style="left: 35%">
											<div class="label-txt">Middle</div>
											<input type="hidden" id="middle" value="12"></input>
											<div class="label-line"></div>
										</div>
										<div class="bar-step" style="left: 55%">
											<div class="label-txt">Middle2</div>
											<input type="hidden" id="middle2" value="20"></input>
											<div class="label-line"></div>
										</div>
										<div class="bar-step" style="left: 75%">
											<div class="label-txt">Maximum</div>
											<input type="hidden" id="maximum" value="28"></input>
											<div class="label-line"></div>
										</div>
										<div id="success" class="progress-bar progress-bar-success"
											style="width: 1%;">46%</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:if="${chartOption eq 'bodyMassIndex'}" class="container-fluid">
			<div class="row">
				<div class="col-md-10 mx-auto">
					<div id="bodyMassIndex"></div>
					<div id="aditional-information">
						<h1>Informatii Aditionale</h1>
						<h3 th:text="${chartOption + ' ' }"></h3>
						<h3>Data Masuratorii</h3>
						<h6 id="dateOfMeasurement"></h6>
						<h3>Valoarea Masuratorii</h3>
						<h6 id="valueOfMeasurement"></h6>
						<h3>Rezultatul Masuratorii</h3>
						<h6 id="resultOfMeasurement"></h6>
						<div class="container">
							<div class="row">
								<br>
								<div class="col-xs-12">
									<div class="progress">
										<div class="bar-step" style="left: 10%">
											<div class="label-txt">Minimum</div>
											<input type="hidden" id="minimum" value="10"></input>
											<div class="label-line"></div>
										</div>
										<div class="bar-step" style="left: 35%">
											<div class="label-txt">Middle</div>
											<input type="hidden" id="middle" value="18"></input>
											<div class="label-line"></div>
										</div>
										<div class="bar-step" style="left: 55%">
											<div class="label-txt">Middle2</div>
											<input type="hidden" id="middle2" value="24"></input>
											<div class="label-line"></div>
										</div>
										<div class="bar-step" style="left: 75%">
											<div class="label-txt">Maximum</div>
											<input type="hidden" id="maximum" value="32"></input>
											<div class="label-line"></div>
										</div>
										<div id="success" class="progress-bar progress-bar-success"
											style="width: 1%;">46%</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:if="${chartOption eq 'bodyMass'}" class="container-fluid">
			<div class="row">
				<div class="col-md-10 mx-auto">
					<div id="bodyMass"></div>
					<div id="aditional-information">
						<h1>Informatii Aditionale</h1>
						<h3 th:text="${chartOption + ' ' }"></h3>
						<h3>Data Masuratorii</h3>
						<h6 id="dateOfMeasurement"></h6>
						<h3>Valoarea Masuratorii</h3>
						<h6 id="valueOfMeasurement"></h6>
						<h3>Rezultatul Masuratorii</h3>
						<h6 id="resultOfMeasurement"></h6>
						<div class="container">
							<div class="row">
								<br>
								<div class="col-xs-12">
									<div class="progress">
										<div class="bar-step" style="left: 10%">
											<div class="label-txt">Minimum</div>
											<input type="hidden" id="minimum" value="50"></input>
											<div class="label-line"></div>
										</div>
										<div class="bar-step" style="left: 35%">
											<div class="label-txt">Middle</div>
											<input type="hidden" id="middle" value="64"></input>
											<div class="label-line"></div>
										</div>
										<div class="bar-step" style="left: 55%">
											<div class="label-txt">Middle2</div>
											<input type="hidden" id="middle2" value="86"></input>
											<div class="label-line"></div>
										</div>
										<div class="bar-step" style="left: 75%">
											<div class="label-txt">Maximum</div>
											<input type="hidden" id="maximum" value="100"></input>
											<div class="label-line"></div>
										</div>
										<div id="success" class="progress-bar progress-bar-success"
											style="width: 1%;">46%</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:if="${chartOption eq 'leanBodyMass'}" class="container-fluid">
			<div class="row">
				<div class="col-md-10 mx-auto">
					<div id="leanBodyMass"></div>
					<div id="aditional-information">
						<h1>Informatii Aditionale</h1>
						<h3 th:text="${chartOption + ' ' }"></h3>
						<h3>Data Masuratorii</h3>
						<h6 id="dateOfMeasurement"></h6>
						<h3>Valoarea Masuratorii</h3>
						<h6 id="valueOfMeasurement"></h6>
						<h3>Rezultatul Masuratorii</h3>
						<h6 id="resultOfMeasurement"></h6>
						<div class="container">
							<div class="row">
								<br>
								<div class="col-xs-12">
									<div class="progress">
										<div class="bar-step" style="left: 10%">
											<div class="label-txt">Minimum</div>
											<input type="hidden" id="minimum" value="36"></input>
											<div class="label-line"></div>
										</div>
										<div class="bar-step" style="left: 35%">
											<div class="label-txt">Middle</div>
											<input type="hidden" id="middle" value="50"></input>
											<div class="label-line"></div>
										</div>
										<div class="bar-step" style="left: 55%">
											<div class="label-txt">Middle2</div>
											<input type="hidden" id="middle2" value="66"></input>
											<div class="label-line"></div>
										</div>
										<div class="bar-step" style="left: 75%">
											<div class="label-txt">Maximum</div>
											<input type="hidden" id="maximum" value="80"></input>
											<div class="label-line"></div>
										</div>
										<div id="success" class="progress-bar progress-bar-success"
											style="width: 1%;">46%</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	</div>
</div>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>
	<script src="https://code.highcharts.com/modules/data.js"></script>
	<script src="https://code.highcharts.com/stock/highstock.js"></script>
	<script src="https://code.highcharts.com/modules/drilldown.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/export-data.js"></script>
	<script src="https://code.highcharts.com/modules/accessibility.js"></script>
	<script th:inline="javascript">
	
	let results = [
		{
			result: "Scazut",
			heartRateRecommendation: "Valoarea pulsului este Scazut",
			stepCountRecommendation: "Valoarea numarului de pasi este Scazut",
			sleepAnalysisRecommendation: "Valoarea duratei somnului este Scazut",
			activeEnergyBurnedRecommendation: "Valoarea caloriilor arse este Scazut",
			bodyFatPercentageRecommendation: "Valoarea procentului de grasime este Scazut",
			bodyMassIndexRecommendation: "Un risc ridicat de sănătate dacă nu alegi o dietă sănătoasă, bogată în nutrienţi. Poţi consulta un nutriţionist pentru sfaturi legate de mâncare, fără să fie nevoie să te îngraşi.",
			bodyMassRecommendation: "Valoarea greutatii corporale este Scazut",
			leanBodyMassRecommendation: "Valoarea greutatii corporale slabe este Scazut"
		},
		{
			result: "Normal",
			heartRateRecommendation: "Valoarea pulsului este Normal",
			stepCountRecommendation: "Valoarea numarului de pasi este Normal",
			sleepAnalysisRecommendation: "Valoarea duratei somnului este Normal",
			activeEnergyBurnedRecommendation: "Valoarea caloriilor arse este Normal",
			bodyFatPercentageRecommendation: "Valoarea procentului de grasime este Normal",
			bodyMassIndexRecommendation: "Un risc mic pentru sănătate. O dietă echilibrată te va ajuta să te bucuri de nutrienţi.",
			bodyMassRecommendation: "Valoarea greutatii corporale este Normal",
			leanBodyMassRecommendation: "Valoarea greutatii corporale slabe este Normal"
		},
		{
			result: "Normal-Crescut",
			heartRateRecommendation: "Valoarea pulsului este Normal-Crescut",
			stepCountRecommendation: "Valoarea numarului de pasi este Normal-Crescut",
			sleepAnalysisRecommendation: "Valoarea duratei somnului este Normal-Crescut",
			activeEnergyBurnedRecommendation: "Valoarea caloriilor arse este Normal-Crescut",
			bodyFatPercentageRecommendation: "Valoarea procentului de grasime este Normal-Crescut",
			bodyMassIndexRecommendation: "Îţi recomandăm să elimini dulciurile şi alimentele nesănătoase din dietă.",
			bodyMassRecommendation: "Valoarea greutatii corporale este Normal-Crescut",
			leanBodyMassRecommendation: "Valoarea greutatii corporale slabe este Normal-Crescut"
		},
		{
			result: "Crescut",
			heartRateRecommendation: "Valoarea pulsului este Crescut",
			stepCountRecommendation: "Valoarea numarului de pasi este Crescut",
			sleepAnalysisRecommendation: "Valoarea duratei somnului este Crescut",
			activeEnergyBurnedRecommendation: "Valoarea caloriilor arse este Crescut",
			bodyFatPercentageRecommendation: "Valoarea procentului de grasime este Crescut",
			bodyMassIndexRecommendation: "Acest rezultant arată că greutatea îţi afectează sănătatea. Vorbeşte cu un nutriţionist şi găseşte o cale să elimini kg în plus.",
			bodyMassRecommendation: "Valoarea greutatii corporale este Crescut",
			leanBodyMassRecommendation: "Valoarea greutatii corporale slabe este Crescut"
		}
	];
	
	let minimum = document.getElementById("minimum").value;
	let middle = document.getElementById("middle").value;
	let middle2 = document.getElementById("middle2").value;
	let maximum = document.getElementById("maximum").value;
	let minimWidth = 14;
	let middleWidth = 38;
	let middle2Width = 60;
	let maximumWidth = 100;
	let chartOption = [[${chartOption}]];
	console.log("Graficul selectat " + chartOption);
	$(function() {
		
		$('#sleepAnalysis').highcharts({
			chart: {
	            zoomType: 'x'
	        },
	        title: {
	        	text: [[${chartOption}]]
	        },
	        xAxis: {
	        	categories: [[${chartMap.keySet()}]]
	        },
	        yAxis: {
	            title: {
	                text: 'Valori'
	            }
	        },
	        tooltip: {
	            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
	            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
	            '<td style="padding:0"><b>{point.y:.1f} Minute</b></td></tr>',
	            footerFormat: '</table>',
	            shared: true,
	            useHTML: true
	        },
	        legend: {
	            enabled: false
	        },
	        plotOptions: {
	            area: {
	                fillColor: {
	                    linearGradient: {
	                        x1: 0,
	                        y1: 0,
	                        x2: 0,
	                        y2: 1
	                    },
	                    stops: [
	                        [0, Highcharts.getOptions().colors[0]],
	                        [1, Highcharts.color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
	                    ]
	                },
	                marker: {
	                    radius: 2
	                },
	                lineWidth: 1,
	                states: {
	                    hover: {
	                        lineWidth: 1
	                    }
	                },
	                threshold: null
	            },
	            series: {
	                cursor: 'pointer',
	                point: {
	                    events: {
	                        click: function () {
	                        	let chartMap = [[${chartMap}]];
	                        	let valueOfMeasurement = Object.values(chartMap)[this.index];
	                        	let hours = (valueOfMeasurement / 60);
	                        	let rhours = Math.floor(hours);
	                        	let minutes = (hours - rhours) * 60;
	                        	let rminutes = Math.round(minutes);
	                        	document.getElementById("aditional-information").style.visibility = "visible";
	                        	document.getElementById("dateOfMeasurement").innerHTML = Object.keys(chartMap)[this.index];
	                        	document.getElementById("valueOfMeasurement").innerHTML = rhours + " " + rminutes;
	                        	progressBarIndicator(minimum,middle,middle2,maximum,minimWidth,middleWidth,middle2Width,maximumWidth,valueOfMeasurement);
	                        }
	                    }
	                }
	            }
	        },

	        series: [{
	            type: 'area',
	            name: 'Timp',
	            data: [[${chartMap.values()}]]
	        }]
	    });
		
		
		$('#stepCount').highcharts({
			chart: {
	            zoomType: 'x'
	        },
	        title: {
	        	text: [[${chartOption}]]
	        },
	        scrollbar: {
	            enabled: true
	        },
	        xAxis: {
	        	categories: [[${chartMap.keySet()}]],
	        	crosshair: true,
 	            min: 0,
				max: 10
	        },
	        yAxis: {
	            title: {
	                text: 'Valori'
	            }
	        },
	        tooltip: {
	            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
	            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
	            '<td style="padding:0"><b>{point.y:.1f} Pasi</b></td></tr>',
	            footerFormat: '</table>',
	            shared: true,
	            useHTML: true
	        },
	        legend: {
	            enabled: false
	        },
	        plotOptions: {
	            area: {
	                fillColor: {
	                    linearGradient: {
	                        x1: 0,
	                        y1: 0,
	                        x2: 0,
	                        y2: 1
	                    },
	                    stops: [
	                        [0, Highcharts.getOptions().colors[0]],
	                        [1, Highcharts.color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
	                    ]
	                },
	                marker: {
	                    radius: 2
	                },
	                lineWidth: 1,
	                states: {
	                    hover: {
	                        lineWidth: 1
	                    }
	                },
	                threshold: null
	            },
	            series: {
	                cursor: 'pointer',
	                point: {
	                	events: {
	                        click: function () {
	                        	let chartMap = [[${chartMap}]];
	                        	let valueOfMeasurement = Object.values(chartMap)[this.index];
	                        	document.getElementById("aditional-information").style.visibility = "visible";
	                        	document.getElementById("dateOfMeasurement").innerHTML = Object.keys(chartMap)[this.index];
	                        	document.getElementById("valueOfMeasurement").innerHTML = Object.values(chartMap)[this.index];
	                        	progressBarIndicator(minimum,middle,middle2,maximum,minimWidth,middleWidth,middle2Width,maximumWidth,valueOfMeasurement);
	                        }
	                    }
	                }
	            }
	        },

	        series: [{
	            type: 'area',
	            name: 'Timp',
	            data: [[${chartMap.values()}]]
	        }]
	    });
		
		$('#heartRate').highcharts({
	        chart: {
	            type: 'column'
	        },
	        title: {
	            text: [[${chartOption}]]
	        },
	        scrollbar: {
	            enabled: true
	        },
	        xAxis: {
	            categories: [[${chartMap.keySet()}]],
	            crosshair: true,
	            min: 0,
	            max: 10,
	        },
	        yAxis: {
	        },
	        tooltip: {
	            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
	            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
	            '<td style="padding:0"><b>{point.y:.1f} BPM</b></td></tr>',
	            footerFormat: '</table>',
	            shared: true,
	            useHTML: true
	        },
	        plotOptions: {
	            column: {
	                pointPadding: 0.2,
	                borderWidth: 0,
	                cropThreshold: 1000
	            }
	        },
	        series: [{
	            name: 'Valoare',
	            data: [[${chartMap.values()}]],
	            point: {
                    events: {
                        click: function () {
                        	let chartMap = [[${chartMap}]];
                        	let valueOfMeasurement = Object.values(chartMap)[this.index];
                        	document.getElementById("aditional-information").style.visibility = "visible";
                        	document.getElementById("dateOfMeasurement").innerHTML = Object.keys(chartMap)[this.index];
                        	document.getElementById("valueOfMeasurement").innerHTML = Object.values(chartMap)[this.index];
                        	progressBarIndicator(minimum,middle,middle2,maximum,minimWidth,middleWidth,middle2Width,maximumWidth,valueOfMeasurement);
                        }
                    }
                }

	        }]
	    });
		
		$('#activeEnergyBurned').highcharts({
	        chart: {
	            type: 'column'
	        },
	        title: {
	            text: [[${chartOption}]]
	        },
	        scrollbar: {
	            enabled: true
	        },
	        xAxis: {
	            categories: [[${chartMap.keySet()}]],
	            crosshair: true,
	            min: 0,
	            max: 10,
	        },
	        yAxis: {
	        },
	        tooltip: {
	            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
	            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
	            '<td style="padding:0"><b>{point.y:.1f} Kcal</b></td></tr>',
	            footerFormat: '</table>',
	            shared: true,
	            useHTML: true
	        },
	        plotOptions: {
	            column: {
	                pointPadding: 0.2,
	                borderWidth: 0,
	                cropThreshold: 1000
	            }
	        },
	        series: [{
	            name: 'Valoare',
	            data: [[${chartMap.values()}]],
	            point: {
                    events: {
                        click: function () {
                        	let chartMap = [[${chartMap}]];
                        	let valueOfMeasurement = Object.values(chartMap)[this.index];
                        	document.getElementById("aditional-information").style.visibility = "visible";
                        	document.getElementById("dateOfMeasurement").innerHTML = Object.keys(chartMap)[this.index];
                        	document.getElementById("valueOfMeasurement").innerHTML = Object.values(chartMap)[this.index];
                        	progressBarIndicator(minimum,middle,middle2,maximum,minimWidth,middleWidth,middle2Width,maximumWidth,valueOfMeasurement);
                        }
                    }
                }

	        }]
	    });
		
		$('#bodyFatPercentage').highcharts({
	        chart: {
	            type: 'column'
	        },
	        title: {
	            text: [[${chartOption}]]
	        },
	        scrollbar: {
	            enabled: true
	        },
	        xAxis: {
	            categories: [[${chartMap.keySet()}]],
	            crosshair: true,
	            min: 0,
	            max: 10,
	        },
	        yAxis: {
	        },
	        tooltip: {
	            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
	            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
	            '<td style="padding:0"><b>{point.y:.1f} BPM</b></td></tr>',
	            footerFormat: '</table>',
	            shared: true,
	            useHTML: true
	        },
	        plotOptions: {
	            column: {
	                pointPadding: 0.2,
	                borderWidth: 0,
	                cropThreshold: 1000
	            }
	        },
	        series: [{
	            name: 'Valoare',
	            data: [[${chartMap.values()}]],
	            point: {
                    events: {
                        click: function () {
                        	let chartMap = [[${chartMap}]];
                        	let valueOfMeasurement = Object.values(chartMap)[this.index];
                        	document.getElementById("aditional-information").style.visibility = "visible";
                        	document.getElementById("dateOfMeasurement").innerHTML = Object.keys(chartMap)[this.index];
                        	document.getElementById("valueOfMeasurement").innerHTML = Object.values(chartMap)[this.index];
                        	progressBarIndicator(minimum,middle,middle2,maximum,minimWidth,middleWidth,middle2Width,maximumWidth,valueOfMeasurement);
                        }
                    }
                }

	        }]
	    });
		
		$('#bodyMassIndex').highcharts({
	        chart: {
	            type: 'column'
	        },
	        title: {
	            text: [[${chartOption}]]
	        },
	        scrollbar: {
	            enabled: true
	        },
	        xAxis: {
	            categories: [[${chartMap.keySet()}]],
	            crosshair: true,
	            min: 0,
	            max: 10,
	        },
	        yAxis: {
	        },
	        tooltip: {
	            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
	            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
	            '<td style="padding:0"><b>{point.y:.1f} BPM</b></td></tr>',
	            footerFormat: '</table>',
	            shared: true,
	            useHTML: true
	        },
	        plotOptions: {
	            column: {
	                pointPadding: 0.2,
	                borderWidth: 0,
	                cropThreshold: 1000
	            }
	        },
	        series: [{
	            name: 'Valoare',
	            data: [[${chartMap.values()}]],
	            point: {
                    events: {
                        click: function () {
                        	let chartMap = [[${chartMap}]];
                        	let valueOfMeasurement = Object.values(chartMap)[this.index];
                        	document.getElementById("aditional-information").style.visibility = "visible";
                        	document.getElementById("dateOfMeasurement").innerHTML = Object.keys(chartMap)[this.index];
                        	document.getElementById("valueOfMeasurement").innerHTML = Object.values(chartMap)[this.index];
                        	progressBarIndicator(minimum,middle,middle2,maximum,minimWidth,middleWidth,middle2Width,maximumWidth,valueOfMeasurement);
                        }
                    }
                }

	        }]
	    });
		
		$('#bodyMass').highcharts({
	        chart: {
	            type: 'column'
	        },
	        title: {
	            text: [[${chartOption}]]
	        },
	        scrollbar: {
	            enabled: true
	        },
	        xAxis: {
	            categories: [[${chartMap.keySet()}]],
	            crosshair: true,
	            min: 0,
	            max: 10,
	        },
	        yAxis: {
	        },
	        tooltip: {
	            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
	            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
	            '<td style="padding:0"><b>{point.y:.1f} BPM</b></td></tr>',
	            footerFormat: '</table>',
	            shared: true,
	            useHTML: true
	        },
	        plotOptions: {
	            column: {
	                pointPadding: 0.2,
	                borderWidth: 0,
	                cropThreshold: 1000
	            }
	        },
	        series: [{
	            name: 'Valoare',
	            data: [[${chartMap.values()}]],
	            point: {
                    events: {
                        click: function () {
                        	let chartMap = [[${chartMap}]];
                        	let valueOfMeasurement = Object.values(chartMap)[this.index];
                        	document.getElementById("aditional-information").style.visibility = "visible";
                        	document.getElementById("dateOfMeasurement").innerHTML = Object.keys(chartMap)[this.index];
                        	document.getElementById("valueOfMeasurement").innerHTML = Object.values(chartMap)[this.index];
                        	progressBarIndicator(minimum,middle,middle2,maximum,minimWidth,middleWidth,middle2Width,maximumWidth,valueOfMeasurement);
                        }
                    }
                }

	        }]
	    });
		
		$('#leanBodyMass').highcharts({
	        chart: {
	            type: 'column'
	        },
	        title: {
	            text: [[${chartOption}]]
	        },
	        scrollbar: {
	            enabled: true
	        },
	        xAxis: {
	            categories: [[${chartMap.keySet()}]],
	            crosshair: true,
	            min: 0,
	            max: 10,
	        },
	        yAxis: {
	        },
	        tooltip: {
	            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
	            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
	            '<td style="padding:0"><b>{point.y:.1f} BPM</b></td></tr>',
	            footerFormat: '</table>',
	            shared: true,
	            useHTML: true
	        },
	        plotOptions: {
	            column: {
	                pointPadding: 0.2,
	                borderWidth: 0,
	                cropThreshold: 1000
	            }
	        },
	        series: [{
	            name: 'Valoare',
	            data: [[${chartMap.values()}]],
	            point: {
                    events: {
                        click: function () {
                        	let chartMap = [[${chartMap}]];
                        	let valueOfMeasurement = Object.values(chartMap)[this.index];
                        	document.getElementById("aditional-information").style.visibility = "visible";
                        	document.getElementById("dateOfMeasurement").innerHTML = Object.keys(chartMap)[this.index];
                        	document.getElementById("valueOfMeasurement").innerHTML = Object.values(chartMap)[this.index];
                        	progressBarIndicator(minimum,middle,middle2,maximum,minimWidth,middleWidth,middle2Width,maximumWidth,valueOfMeasurement);
                        }
                    }
                }

	        }]
	    });
	});
	
	function progressBarIndicator(minimum,middle,middle2,maximum,minimWidth,middleWidth,middle2Width,maximumWidth,valueOfMeasurement) {
		let ok = false;
		let result;
		let lowObj;
		if(minimum > valueOfMeasurement) {
			ok = true;
			result = "Scazut";
			$('#success').css('background-color', "red");
			if(0 < valueOfMeasurement && parseInt(minimum/2,10) > valueOfMeasurement) {
				$('#success').css('width', minimWidth - (minimWidth/2) + "%");
			}
			else if(parseInt(minimum/2,10) < valueOfMeasurement && parseInt(minimum,10) > valueOfMeasurement) {
				$('#success').css('width', minimWidth + "%");
			}
			lowObj = results.find(element => element.result === result);
			document.getElementById("success").innerHTML = lowObj.result;
		}
		if(minimum < valueOfMeasurement && middle > valueOfMeasurement) {
			ok = true;
			result = "Normal"
			$('#success').css('background-color', "purple");
			if((parseInt(minimum), 10) < valueOfMeasurement && (parseInt(minimum,10) + parseInt(middle,10))/2 > valueOfMeasurement) {
				$('#success').css('width', middleWidth - 13 + "%");
			} else if((parseInt(minimum,10) + parseInt(middle,10))/2 < valueOfMeasurement && parseInt(middle,10) > valueOfMeasurement) {
				$('#success').css('width', middleWidth + "%");
			}
			ok = true;
			lowObj = results.find(element => element.result === result);
			document.getElementById("success").innerHTML = lowObj.result;
		}
		if(middle < valueOfMeasurement && middle2 > valueOfMeasurement) {
			ok = true;
			result = "Normal-Crescut";
			$('#success').css('background-color', "black");
			if((parseInt(middle), 10) < valueOfMeasurement && (parseInt(middle,10) + parseInt(middle2,10))/2 > valueOfMeasurement) {
				console.log("1500-1800");
				$('#success').css('width', middle2Width - 13 + "%");
			}
			else if((parseInt(middle,10) + parseInt(middle2,10))/2 < valueOfMeasurement && parseInt(middle2,10) > valueOfMeasurement) {
				console.log("1800-2400");
				$('#success').css('width', middle2Width + "%");
			}
			lowObj = results.find(element => element.result === result);
			document.getElementById("success").innerHTML = lowObj.result;
		}
		if(middle2 < valueOfMeasurement && maximum > valueOfMeasurement || maximum < valueOfMeasurement) {
			ok = true;
			result = "Crescut";
			$('#success').css('background-color', "green");
			if(parseInt(maximum,10) < valueOfMeasurement && parseInt(maximum,10) + parseInt((maximum/2),10) > valueOfMeasurement) {
				console.log("intre");
				$('#success').css('width', maximumWidth - 4 + "%");
			}
			else if((parseInt(middle2), 10) < valueOfMeasurement && (parseInt(middle2,10) + parseInt(maximum,10))/2 > valueOfMeasurement) {
				console.log("3000-3500");
				$('#success').css('width', maximumWidth - 10 + "%");
			}
			else if((parseInt(middle2,10) + parseInt(middle2,10))/2 < valueOfMeasurement && parseInt(maximum,10) > valueOfMeasurement) {
				console.log("3500-4000");
				$('#success').css('width', maximumWidth - 7 + "%");
			} else if(parseInt(maximum,10) < valueOfMeasurement) {
				console.log("4000 in sus");
				$('#success').css('width', maximumWidth + "%");
			}
			lowObj = results.find(element => element.result === result);
			document.getElementById("success").innerHTML = lowObj.result;
		}
		if(ok) {
			if(chartOption === 'heartRate') {
				selectRecommendationByResult(result,chartOption,lowObj);
			} else if(chartOption === 'stepCount') {
				selectRecommendationByResult(result,chartOption,lowObj);
			} else if(chartOption === 'sleepAnalysis') {
				selectRecommendationByResult(result,chartOption,lowObj);
			} else if(chartOption === 'activeEnergyBurned') {
				selectRecommendationByResult(result,chartOption,lowObj);
			} else if(chartOption === 'bodyFatPercentage') {
				selectRecommendationByResult(result,chartOption,lowObj);
			} else if(chartOption === 'bodyMassIndex') {
				selectRecommendationByResult(result,chartOption,lowObj);
			} else if(chartOption === 'bodyMass') {
				selectRecommendationByResult(result,chartOption,lowObj);
			} else if(chartOption === 'leanBodyMass') {
				selectRecommendationByResult(result,chartOption,lowObj);
			} 
		}
	}
	
	function selectRecommendationByResult(result,chartOption,lowObj) {
		let chart = chartOption;
		let recommendation = 'Recommendation';
		if(result === 'Scazut') {
			document.getElementById("resultOfMeasurement").innerHTML = lowObj[chart+recommendation];
		} else if(result === 'Normal') {
			document.getElementById("resultOfMeasurement").innerHTML = lowObj[chart+recommendation];
		} else if(result === 'Normal-Crescut') {
			document.getElementById("resultOfMeasurement").innerHTML = lowObj[chart+recommendation];
		} else if(result === 'Crescut') {
			document.getElementById("resultOfMeasurement").innerHTML = lowObj[chart+recommendation];
		}
	}
</script>
</body>
</html>