<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Fit Buddy</title>
<link th:href="@{vendor/bootstrap-4.1/bootstrap.min.css}"
	rel="stylesheet" media="all">
<link
	href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap"
	rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/authentication.css">
</head>
<body>
	<div>
		<img class="wave filter" src="images/authentication/wave.png">
	</div>
	<div class="container">
		<div class="img">
			<img style="filter: hue-rotate(230deg) brightness(0.8)"
				src="images/authentication/man.png">
		</div>
		<div class="login-content">
			<form name='f' action="login" method='POST'>
				<div th:if="${param.error}">
					<div class="alert alert-danger"
						style="background-color: #7300e6; color: white; font-size: 17px;">
						Nume de utilizator sau parola incorecte.</div>
				</div>
				<div th:if="${param.logout}">
					<div class="alert alert-info" style="background-color: #7300e6; color: white; font-size: 18px;">Te-ai deconectat.</div>
				</div>
				<div th:if="${accountCreated}">
					<div class="alert alert-danger"
						style="background-color: #7300e6; color: white; font-size: 17px;">
						Cont creat cu succes.</div>
				</div>
				<div th:if="${virtualWalletCreated}">
					<div class="alert alert-danger"
						style="background-color: #7300e6; color: white; font-size: 17px;">
						Ai primit un portofel virtual.</div>
				</div>
				<div th:if="${deviceCreated}">
					<div class="alert alert-danger"
						style="background-color: #7300e6; color: white; font-size: 17px;">
						Ai primit un dispozitiv implicit.</div>
				</div>
				<img src="images/authentication/young.png"
					style="filter: hue-rotate(230deg) brightness(0.7) contrast(2); height: 100px;">
				<h2 class="title" style="color: #7300e6">Fit Buddy</h2>
				<div class="input-div one">
					<div class="i">
						<i class="fas fa-user" style="color: #7300e6"></i>
					</div>
					<div class="div">
						<h5 style="color: #7300e6">Nume Utilizator</h5>
						<input type="text" id="name" name="name" value='' class="input"
							style="color: #7300e6">
					</div>
				</div>
				<div class="input-div pass">
					<div class="i">
						<i class="fas fa-lock" style="color: #7300e6"></i>
					</div>
					<div class="div">
						<h5 style="color: #7300e6">Parola</h5>
						<input type="password" id="password" name="password" class="input"
							style="color: #7300e6">
					</div>
				</div>
				<input name="submit" type="submit" class="btn" value="Login"
					style="background-color: #7300e6;"> <a href="/signup"
					class="btn"
					style="background-color: #7300e6; color: white; line-height: 36px;">Creeaza
					Cont</a>
			</form>
		</div>
	</div>
	<script>
    const inputs = document.querySelectorAll(".input");


    function addcl(){
    	let parent = this.parentNode.parentNode;
    	parent.classList.add("focus");
    }

    function remcl(){
    	let parent = this.parentNode.parentNode;
    	if(this.value == ""){
    		parent.classList.remove("focus");
    	}
    }


    inputs.forEach(input => {
    	input.addEventListener("focus", addcl);
    	input.addEventListener("blur", remcl);
    });
    
    window.history.forward(); 
    function noBack() { 
        window.history.forward(); 
    } 

    </script>
</body>
</html>