<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sign up</title>
<base href="/">
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" th:href="@{css/style.css}"/>
</head>
<body>
	<div class="container">
		<form class="form-horizontal" role="form" method="POST"
			th:action="@{/signup}" th:object="${user}" id="signupForm">
			<div style="position: relative; top: 110px; left: 250px;">
				<h3>Register</h3>
				<h5 th:text="${errorMessage}"></h5>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Nume</label>
							<div class="input-group mb-2 mr-sm-2 mb-sm-0">
								<input type="text" th:field="*{firstName}"
									class="form-control validation" id="firstName" placeholder="Nume"
									autofocus>
							</div>
							<div th:unless="${#fields.hasErrors('firstName')}">
								<p class="errorMessage"></p>
							</div>
							<div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Prenume</label>
							<div class="input-group mb-2 mr-sm-2 mb-sm-0">
								<input type="text" th:field="*{lastName}"
									class="form-control validation" id="lastName" placeholder="Prenume"
									autofocus>
							</div>
							<div th:unless="${#fields.hasErrors('lastName')}">
								<p class="errorMessage"></p>
							</div>
							<div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Nume Utilizator</label>
							<div class="input-group mb-2 mr-sm-2 mb-sm-0">
								<input type="text" th:field="*{username}"
									class="form-control validation" id="username" placeholder="Nume Utilizator"
									autofocus>
							</div>
							<div th:unless="${#fields.hasErrors('username')}">
								<p class="errorMessage"></p>
							</div>
							<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Email</label>
							<div class="input-group mb-2 mr-sm-2 mb-sm-0">
								<input type="text" th:field="*{email}"
									class="form-control validation" id="email" placeholder="Email"
									autofocus>
							</div>
							<div th:unless="${#fields.hasErrors('email')}">
								<p class="errorMessage"></p>
							</div>
							<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Data Nasterii</label>
							<div class="input-group mb-2 mr-sm-2 mb-sm-0">
								<input type="date" th:field="*{bornDate}"
									class="form-control validation" id="bornDate" placeholder="Data Nasterii"
									autofocus>
							</div>
							<div th:unless="${#fields.hasErrors('bornDate')}">
								<p class="errorMessage"></p>
							</div>
							<div th:if="${#fields.hasErrors('bornDate')}" th:errors="*{bornDate}"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group has-danger">
							<label>Parola</label>
							<div class="input-group mb-2 mr-sm-2 mb-sm-0">
								<input type="password" th:field="*{password}"
									class="form-control validation" id="password" placeholder="Parola"
									>
							</div>
							<div th:unless="${#fields.hasErrors('password')}">
								<p class="errorMessage"></p>
							</div>
							<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Numar Telefon</label>
							<div class="input-group mb-2 mr-sm-2 mb-sm-0">
								<input type="text" th:field="*{phoneNumber}"
									class="form-control validation" id="phoneNumber" placeholder="Numar Telefon"
									autofocus>
							</div>
							<div th:unless="${#fields.hasErrors('phoneNumber')}">
								<p class="errorMessage"></p>
							</div>
							<div th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group has-danger">
							<label>Alege Rol</label>
							<div class="input-group mb-2 mr-sm-2 mb-sm-0">
								<select name="chooseRoleName">
									<option 
									th:each="r : ${roles}" 
									th:text="${r.name}"
									th:value="${r.name}"
									th:selected="${r.name} == ${selectedRole} ? true : false"></option>
								</select>
							</div>
							<div th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group has-danger">
							<label>Sex</label>
							<div class="input-group mb-2 mr-sm-2 mb-sm-0">
								<select th:field="*{gender}">
									<option 
									th:each="s : ${sex}" 
									th:text="${s.gender}"
									th:value="${s}"></option>
								</select>
							</div>
							<div th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-6">
						<button type="submit" class="btn btn-success">
							<i class="fa fa-user-plus"></i> Register
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<script type="text/javascript" th:src="@{/js/signup.js}"></script>
</body>
</html>