<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="au theme template">
<meta name="author" content="Hau Nguyen">
<meta name="keywords" content="au theme template">

<title>Dashboard</title>
<link th:href="@{vendor/bootstrap-4.1/bootstrap.min.css}"
	rel="stylesheet" media="all">
<link th:href="@{css/theme.css}" rel="stylesheet" media="all">
</head>

<body>
	<div class="page-wrapper">
		<header style="background-color: white;"
			class="header-mobile d-block d-lg-none">
			<div class="header-mobile__bar">
				<div class="container-fluid">
					<div class="header-mobile-inner">
						<a class="logo" href="index.html"> <img
							src="/images/logo/Screenshot_18.png">
						</a>
						<button class="hamburger hamburger--slider" type="button">
							<span class="hamburger-box"> <span class="hamburger-inner"></span>
							</span>
						</button>
					</div>
				</div>
			</div>
			<nav class="navbar-mobile">
				<div class="container-fluid">
					<ul class="navbar-mobile__list list-unstyled">
						<li><a href="/admin" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/home.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Admin</span></a></li>
						<li><a href="/accounts" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/trainer.jpg"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Conturi</span></a></li>
						<li class="links">
							<form style="padding: 15px 0;"
								th:action="@{/view_content_of_all_accounts}" method="post">
								<input type="hidden" name="contentOption" value="plans" />
								<button type="submit">
									<img style="height: 40px; width: 40px;" width="800"
										height="800" src="images/logo/portfolio.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px; color: #7300e6 !important; font-weight: 700;">Planuri</span>
								</button>
							</form>
						</li>
						<li class="links">
							<form style="padding: 15px 0;"
								th:action="@{/view_content_of_all_accounts}" method="post">
								<input type="hidden" name="contentOption" value="devices" />
								<button type="submit">
									<img style="height: 40px; width: 40px;" width="800"
										height="800" src="images/logo/smartwatch2.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px; color: #7300e6 !important; font-weight: 700;">Dispozitive</span>
								</button>
							</form>
						</li>
						<li class="links">
							<form style="padding: 15px 0;"
								th:action="@{/view_content_of_all_accounts}" method="post">
								<input type="hidden" name="contentOption"
									value="feedbacksExercises" />
								<button type="submit">
									<img style="height: 40px; width: 40px;" width="800"
										height="800" src="images/logo/positive-vote.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px; color: #7300e6 !important; font-weight: 700;">Feedback-uri
										Exercitii</span>
								</button>
							</form>
						</li>
						<li class="links">
							<form style="padding: 15px 0;"
								th:action="@{/view_content_of_all_accounts}" method="post">
								<input type="hidden" name="contentOption" value="feedbacksFoods" />
								<button type="submit">
									<img style="height: 40px; width: 40px;" width="800"
										height="800" src="images/logo/interface.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px; color: #7300e6 !important; font-weight: 700;">Feedback-uri
										Alimente</span>
								</button>
							</form>
						</li>
						<li><a href="/logout" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/logout.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Logout</span></a></li>
					</ul>
				</div>
			</nav>
		</header>
		<aside style="background-color: white;"
			class="menu-sidebar d-none d-lg-block">
			<div class="logo">
				<a href="#"> <img src="/images/logo/Screenshot_18.png">
				</a>
			</div>
			<div class="menu-sidebar__content js-scrollbar1">
				<nav class="navbar-sidebar">
					<ul class="list-unstyled navbar__list" style="padding-left: 0px;">
						<li><a href="/admin" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/home.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Admin</span></a></li>
						<li><a href="/accounts" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/trainer.jpg"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Conturi</span></a></li>
						<li class="links">
							<form style="padding: 15px 0;"
								th:action="@{/view_content_of_all_accounts}" method="post">
								<input type="hidden" name="contentOption" value="plans" />
								<button type="submit">
									<img style="height: 40px; width: 40px;" width="800"
										height="800" src="images/logo/portfolio.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px; color: #7300e6 !important; font-weight: 700;">Planuri</span>
								</button>
							</form>
						</li>
						<li class="links">
							<form style="padding: 15px 0;"
								th:action="@{/view_content_of_all_accounts}" method="post">
								<input type="hidden" name="contentOption" value="devices" />
								<button type="submit">
									<img style="height: 40px; width: 40px;" width="800"
										height="800" src="images/logo/smartwatch2.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px; color: #7300e6 !important; font-weight: 700;">Dispozitive</span>
								</button>
							</form>
						</li>
						<li class="links">
							<form style="padding: 15px 0;"
								th:action="@{/view_content_of_all_accounts}" method="post">
								<input type="hidden" name="contentOption"
									value="feedbacksExercises" />
								<button type="submit">
									<img style="height: 40px; width: 40px;" width="800"
										height="800" src="images/logo/positive-vote.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px; color: #7300e6 !important; font-weight: 700;">Feedback-uri
										Exercitii</span>
								</button>
							</form>
						</li>
						<li class="links">
							<form style="padding: 15px 0;"
								th:action="@{/view_content_of_all_accounts}" method="post">
								<input type="hidden" name="contentOption" value="feedbacksFoods" />
								<button type="submit">
									<img style="height: 40px; width: 40px;" width="800"
										height="800" src="images/logo/interface.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px; color: #7300e6 !important; font-weight: 700;">Feedback-uri
										Alimente</span>
								</button>
							</form>
						</li>
						<li><a href="/logout" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/logout.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Logout</span></a></li>
					</ul>
				</nav>
			</div>
		</aside>
		<div class="page-container">
			<div class="main-content">
				<div class="section__content section__content--p30">
					<th:block th:if="${users.size() > 0}">
						<div
							style="text-align: center; font-size: 70px; margin-bottom: 60px; color: white; font-weight: 700;">Utilizatori</div>
						<div class="row" style="margin-bottom: 50px;">
							<div class="col-md-4" style="margin-bottom: 25px;"
								th:each="user, iterStat : ${users}">
								<div class="card-type-2"
									style="height: 450px; border-radius: 37px; position: relative; float: left; padding: 30px;">
									<th:block th:if="${user.gender.getGender() eq 'Barbat'}">
										<img
											style="height: 60px; width: 60px; position: relative; left: -20px; top: -20px; background-color: #d3d3d3; border-radius: 30px; border: 3px solid #d3d3d3;"
											width="800" height="800" th:src="@{'images/avatar/man.png'}">
									</th:block>
									<th:block th:if="${user.gender.getGender() eq 'Femeie'}">
										<img
											style="height: 60px; width: 60px; position: relative; left: -20px; top: -20px; background-color: #d3d3d3; border-radius: 30px; border: 3px solid #d3d3d3;"
											width="800" height="800"
											th:src="@{'images/avatar/woman.png'}">
									</th:block>
									<div
										style="position: relative; top: -25px; justify-content: center; align-items: center; font-weight: 700; color: black; font-size: 20px; text-align: center;">
										<div
											style="font-size: 40px; color: #7300e6; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden;"
											th:text="${user.username}"></div>
										<div
											style="position: relative; top: 10px; background-color: #f6f6f6; border-radius: 30px; padding: 30px;">
											<span th:text="${'Nume Utilizator: ' + user.firstName}"
												style="font-size: 12px; color: gray; font-weight: 100; display: block; margin-top: 5px; letter-spacing: 2px;"></span>
											<span
												th:utext="${'Prenume Utilizator:<br> ' + user.lastName}"
												style="font-size: 12px; color: gray; font-weight: 100; display: block; margin-top: 5px; letter-spacing: 2px;"></span>
											<span th:text="${'Email: ' + user.email}"
												style="font-size: 12px; color: gray; font-weight: 100; display: block; margin-top: 5px; letter-spacing: 2px;"></span>
											<span th:text="${'Numar Telefon: ' + user.phoneNumber}"
												style="font-size: 12px; color: gray; font-weight: 100; display: block; margin-top: 5px; letter-spacing: 2px;"></span>
											<span th:utext="${'Data Creare:<br>' + user.dateOfCreation}"
												style="font-size: 12px; color: gray; font-weight: 100; display: block; margin-top: 5px; letter-spacing: 2px;"></span>

										</div>
										<div>
											<form class="btn-group inline" th:action="@{/user_activity}"
												method="post">
												<input type="hidden" name="accountId"
													th:value="${user.accountId}" />
												<button type="submit" class="btnn2"
													style="padding: 3px 15px; margin-top: 30px;">Activitate</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</th:block>
					<th:block th:if="${helpers.size() > 0}">
						<div
							style="text-align: center; font-size: 70px; margin-bottom: 60px; color: white; font-weight: 700;">Experti</div>
						<div class="row" style="margin-bottom: 50px;">
							<div class="col-md-4" style="margin-bottom: 25px;"
								th:each="user, iterStat : ${helpers}">
								<div class="card-type-2"
									style="height: auto; border-radius: 37px; position: relative; float: left; padding: 30px; min-height: 100%;">
									<th:block th:if="${user.gender.getGender() eq 'Barbat'}">
										<img
											style="height: 60px; width: 60px; position: relative; left: -20px; top: -20px; background-color: #d3d3d3; border-radius: 30px; border: 3px solid #d3d3d3;"
											width="800" height="800" th:src="@{'images/avatar/man.png'}">
									</th:block>
									<th:block th:if="${user.gender.getGender() eq 'Femeie'}">
										<img
											style="height: 60px; width: 60px; position: relative; left: -20px; top: -20px; background-color: #d3d3d3; border-radius: 30px; border: 3px solid #d3d3d3;"
											width="800" height="800"
											th:src="@{'images/avatar/woman.png'}">
									</th:block>
									<div
										style="position: relative; top: -15px; justify-content: center; align-items: center; font-weight: 700; color: black; font-size: 20px; text-align: center;">
										<div
											style="font-size: 40px; color: #7300e6; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden;"
											th:text="${user.username}"></div>
										<div
											style="position: relative; top: 10px; background-color: #f6f6f6; border-radius: 30px; padding: 30px;">
											<span th:text="${'Nume Utilizator: ' + user.firstName}"
												style="font-size: 12px; color: gray; font-weight: 100; display: block; margin-top: 5px; letter-spacing: 2px;"></span>
											<span
												th:utext="${'Prenume Utilizator:<br> ' + user.lastName}"
												style="font-size: 12px; color: gray; font-weight: 100; display: block; margin-top: 5px; letter-spacing: 2px;"></span>
											<span th:text="${'Email: ' + user.email}"
												style="font-size: 12px; color: gray; font-weight: 100; display: block; margin-top: 5px; letter-spacing: 2px;"></span>
											<span th:text="${'Numar Telefon: ' + user.phoneNumber}"
												style="font-size: 12px; color: gray; font-weight: 100; display: block; margin-top: 5px; letter-spacing: 2px;"></span>
											<span th:utext="${'Data Creare:<br>' + user.dateOfCreation}"
												style="font-size: 12px; color: gray; font-weight: 100; display: block; margin-top: 5px; letter-spacing: 2px;"></span>

										</div>
										<div>
											<div th:if="${user.accountInformation != null and user.active eq true}">
												<form class="btn-group inline"
													th:action="@{/helper_activity}" method="post">
													<input type="hidden" name="accountId"
														th:value="${user.accountId}" />
													<button type="submit" class="btnn2"
														style="padding: 3px 15px; margin-top: 40px; width: 210px; text-align: center;">Activitate</button>
												</form>
												<form class="btn-group inline"
													th:action="@{/view_account_details}" method="post">
													<input type="hidden" name="accountId"
														th:value="${user.accountId}" />
													<button type="submit" class="btnn2"
														style="padding: 3px 15px; margin-top: 15px;">Mai
														multe detalii</button>
												</form>
											</div>
											<div th:if="${user.active eq false and user.accountInformation != null}">
												<form class="btn-group inline"
													th:action="@{/view_account_details}" method="post">
													<input type="hidden" name="accountId"
														th:value="${user.accountId}" />
													<button type="submit" class="btnn2"
														style="padding: 3px 15px; margin-top: 30px;">Valideaza
														Cont</button>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</th:block>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>