<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="au theme template">
<meta name="author" content="Hau Nguyen">
<meta name="keywords" content="au theme template">

<title>Dashboard</title>

<link th:href="@{css/font-face.css}" rel="stylesheet" media="all">
<link th:href="@{vendor/font-awesome-4.7/css/font-awesome.min.css}"
	rel="stylesheet" media="all">
<link th:href="@{vendor/font-awesome-5/css/fontawesome-all.min.css}"
	rel="stylesheet" media="all">
<link
	th:href="@{vendor/mdi-font/css/material-design-iconic-font.min.css}"
	rel="stylesheet" media="all">

<link th:href="@{vendor/bootstrap-4.1/bootstrap.min.css}"
	rel="stylesheet" media="all">

<link th:href="@{vendor/animsition/animsition.min.css}" rel="stylesheet"
	media="all">
<link
	th:href="@{vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}"
	rel="stylesheet" media="all">
<link th:href="@{vendor/wow/animate.css}" rel="stylesheet" media="all">
<link th:href="@{vendor/css-hamburgers/hamburgers.min.css}"
	rel="stylesheet" media="all">
<link th:href="@{vendor/slick/slick.css}" rel="stylesheet" media="all">
<link th:href="@{vendor/select2/select2.min.css}" rel="stylesheet"
	media="all">
<link th:href="@{vendor/perfect-scrollbar/perfect-scrollbar.css}"
	rel="stylesheet" media="all">

<link th:href="@{css/theme.css}" rel="stylesheet" media="all">

</head>

<body>
	<div class="page-wrapper">
		<header class="header-mobile d-block d-lg-none">
			<div class="header-mobile__bar">
				<div class="container-fluid">
					<div class="header-mobile-inner">
						<a class="logo" href="index.html"> <img
							src="images/icon/logo.png" alt="CoolAdmin" />
						</a>
						<button class="hamburger hamburger--slider" type="button">
							<span class="hamburger-box"> <span class="hamburger-inner"></span>
							</span>
						</button>
					</div>
				</div>
			</div>
			<nav class="navbar-mobile">
				<div class="container-fluid">
					<ul class="navbar-mobile__list list-unstyled">
						<li><a th:href="@{/admin}">Admin</a></li>
						<li><a th:href="@{/accounts}">Conturi</a></li>
						<li><a th:href="@{/view_devices}">Dispozitive</a></li>
						<li><a th:href="@{/view_measurements}">Masuratori</a></li>
						<li><a th:href="@{/view_plans}">Planuri</a></li>
						<li><a th:href="@{/view_exercises}">Exercitii</a></li>
						<li><a th:href="@{/view_foods}">Alimente</a></li>
					</ul>
				</div>
			</nav>
		</header>
		<aside class="menu-sidebar d-none d-lg-block">
			<div class="logo">
				<a href="#"> <img src="images/icon/logo.png" alt="Cool Admin" />
				</a>
			</div>
			<div class="menu-sidebar__content js-scrollbar1">
				<nav class="navbar-sidebar">
					<ul class="list-unstyled navbar__list">
						<li><a th:href="@{/admin}">Admin</a></li>
						<li><a th:href="@{/accounts}">Conturi</a></li>
						<li><a th:href="@{/view_devices}">Dispozitive</a></li>
						<li><a th:href="@{/view_measurements}">Masuratori</a></li>
						<li><a th:href="@{/view_plans}">Planuri</a></li>
						<li><a th:href="@{/view_exercises}">Exercitii</a></li>
						<li><a th:href="@{/view_foods}">Alimente</a></li>
					</ul>
				</nav>
			</div>
		</aside>
		<div class="page-container">
			<div class="main-content">
				<div class="section__content section__content--p30">	
					<div th:if="${#lists.size(users)}">
							<h3 style="text-align: center; font-size: 30px;">Utilizatori</h3>
						<table class="table table-striped">
							<thead class="center-align">
								<tr>
									<th>Nume Utilizator</th>
									<th>Nume</th>
									<th>Prenume</th>
									<th>Email</th>
									<th>Numar Telefon</th>
									<th>Data Creare</th>
									<th>Actiuni</th>
								</tr>
							</thead>
							<tbody class="center-align">
								<th:block th:each="account, iterStat : ${users}">
									<tr>
										<td th:text="${account.username}"></td>
										<td th:text="${account.firstName}"></td>
										<td th:text="${account.lastName}"></td>
										<td th:text="${account.email}"></td>
										<td th:text="${account.phoneNumber}"></td>
										<td th:text="${account.dateOfCreation}"></td>
										<td>
											<form class="btn-group inline" th:action="@{/user_activity}"
											method="post"><input type="hidden" name="accountId"
												th:value="${account.accountId}" />
												<button type="submit" class="btn btn-danger">Activitate</button>
											</form>
										</td>
									</tr>
								</th:block>
							</tbody>
						</table>
						</div>
						<div th:if="${#lists.size(helpers)}">
							<h3 style="text-align: center; font-size: 30px;">Instructori</h3>
						<table class="table table-striped">
							<thead class="center-align">
								<tr>
									<th>Nume Utilizator</th>
									<th>Nume</th>
									<th>Prenume</th>
									<th>Email</th>
									<th>Numar Telefon</th>
									<th>Data Creare</th>
									<th>Actiuni</th>
								</tr>
							</thead>
							<tbody class="center-align">
								<th:block th:each="account, iterStat : ${helpers}">
									<tr>
										<td th:text="${account.username}"></td>
										<td th:text="${account.firstName}"></td>
										<td th:text="${account.lastName}"></td>
										<td th:text="${account.email}"></td>
										<td th:text="${account.phoneNumber}"></td>
										<td th:text="${account.dateOfCreation}"></td>
										<td>
										<div th:if="${account.accountInformation}">
											<form class="btn-group inline" th:action="@{/view_account_details}"
											method="post"><input type="hidden" name="accountId"
												th:value="${account.accountId}" />
												<button type="submit" class="btn btn-danger">Mai multe detalii</button>
										</form>
										<form class="btn-group inline" th:action="@{/helper_activity}"
											method="post"><input type="hidden" name="accountId"
												th:value="${account.accountId}" />
												<button type="submit" class="btn btn-danger">Activitate</button>
											</form>
										</div>
										<div th:if="${account.active == false}">
											<form class="btn-group inline" th:action="@{/validate-account}"
											method="post"><input type="hidden" name="accountId"
												th:value="${account.accountId}" />
												<button type="submit" class="btn btn-success">Valideaza Cont</button>
										</form>
										</div>
										</td>
									</tr>
								</th:block>
							</tbody>
						</table>
						</div>
				</div>
			</div>
		</div>
	</div>

	<script th:src="@{/vendor/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/vendor/bootstrap-4.1/popper.min.js}"></script>
	<script th:src="@{/vendor/bootstrap-4.1/bootstrap.min.js}"></script>
	<script th:src="@{/vendor/slick/slick.min.js}">
    </script>
	<script th:src="@{/vendor/wow/wow.min.js}"></script>
	<script th:src="@{/vendor/animsition/animsition.min.js}"></script>
	<script
		th:src="@{/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js}">
    </script>
	<script th:src="@{/vendor/counter-up/jquery.waypoints.min.js}"></script>
	<script th:src="@{/vendor/counter-up/jquery.counterup.min.js}">
    </script>
	<script th:src="@{/vendor/circle-progress/circle-progress.min.js}"></script>
	<script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.js}"></script>
	<script th:src="@{/vendor/chartjs/Chart.bundle.min.js}"></script>
	<script th:src="@{/vendor/select2/select2.min.js}">
    </script>

	<script th:src="@{/js/main.js}"></script>
</body>

</html>