<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="au theme template">
<meta name="author" content="Hau Nguyen">
<meta name="keywords" content="au theme template">

<title>Dashboard</title>

<link th:href="@{css/font-face.css}" rel="stylesheet" media="all">
<link th:href="@{vendor/font-awesome-4.7/css/font-awesome.min.css}"
	rel="stylesheet" media="all">
<link th:href="@{vendor/font-awesome-5/css/fontawesome-all.min.css}"
	rel="stylesheet" media="all">
<link
	th:href="@{vendor/mdi-font/css/material-design-iconic-font.min.css}"
	rel="stylesheet" media="all">

<link th:href="@{vendor/bootstrap-4.1/bootstrap.min.css}"
	rel="stylesheet" media="all">

<link th:href="@{vendor/animsition/animsition.min.css}" rel="stylesheet"
	media="all">
<link
	th:href="@{vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}"
	rel="stylesheet" media="all">
<link th:href="@{vendor/wow/animate.css}" rel="stylesheet" media="all">
<link th:href="@{vendor/css-hamburgers/hamburgers.min.css}"
	rel="stylesheet" media="all">
<link th:href="@{vendor/slick/slick.css}" rel="stylesheet" media="all">
<link th:href="@{vendor/select2/select2.min.css}" rel="stylesheet"
	media="all">
<link th:href="@{vendor/perfect-scrollbar/perfect-scrollbar.css}"
	rel="stylesheet" media="all">

<link th:href="@{css/theme.css}" rel="stylesheet" media="all">

</head>
<style>
.table tbody td, .table tbody th {
	border: 0;
	padding: 15px;
}

tr:nth-last-child(-n+1) td:nth-last-child(-n+3) {
	border: 0 !important;
}

.table-hover>tbody>tr:hover {
	background-color: #e6ccff;
}

thead tr:nth-child(1) th {
	background: white;
	position: sticky;
	top: 0;
	z-index: 10;
	border-bottom: 0;
}

.table-responsive {
	height: 520px;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: white;
	border-radius: 30px;
	overflow-x: hidden;
	background-color: white;
}

table {
	border-spacing: 0;
	width: 100%;
	display: table;
	border-collapse: separate;
}

.modal-backdrop {
	display: none;
}

.modal {
	background: rgba(0, 0, 0, 0.5);
}
</style>
<body>
	<div class="page-wrapper">
		<header style="background-color: white;"
			class="header-mobile d-block d-lg-none">
			<div class="header-mobile__bar">
				<div class="container-fluid">
					<div class="header-mobile-inner">
						<a class="logo" href="index.html"> <img
							src="/images/logo/Screenshot_18.png">
						</a>
						<button class="hamburger hamburger--slider" type="button">
							<span class="hamburger-box"> <span class="hamburger-inner"></span>
							</span>
						</button>
					</div>
				</div>
			</div>
			<nav class="navbar-mobile">
				<div class="container-fluid">
					<ul class="navbar-mobile__list list-unstyled">
						<li><a href="/admin" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/home.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Admin</span></a></li>
						<li><a href="/accounts" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/trainer.jpg"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Conturi</span></a></li>
						<li class="links">
							<form style="padding: 15px 0;"
								th:action="@{/view_content_of_all_accounts}" method="post">
								<input type="hidden" name="contentOption" value="plans" />
								<button type="submit">
									<img style="height: 40px; width: 40px;" width="800"
										height="800" src="images/logo/portfolio.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px; color: #7300e6 !important; font-weight: 700;">Planuri</span>
								</button>
							</form>
						</li>
						<li class="links">
							<form style="padding: 15px 0;"
								th:action="@{/view_content_of_all_accounts}" method="post">
								<input type="hidden" name="contentOption" value="devices" />
								<button type="submit">
									<img style="height: 40px; width: 40px;" width="800"
										height="800" src="images/logo/smartwatch2.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px; color: #7300e6 !important; font-weight: 700;">Dispozitive</span>
								</button>
							</form>
						</li>
						<li class="links">
							<form style="padding: 15px 0;"
								th:action="@{/view_content_of_all_accounts}" method="post">
								<input type="hidden" name="contentOption"
									value="exerciseFeedbacks" />
								<button type="submit">
									<img style="height: 40px; width: 40px;" width="800"
										height="800" src="images/logo/positive-vote.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px; color: #7300e6 !important; font-weight: 700;">Feedback-uri
										Exercitii</span>
								</button>
							</form>
						</li>
						<li class="links">
							<form style="padding: 15px 0;"
								th:action="@{/view_content_of_all_accounts}" method="post">
								<input type="hidden" name="contentOption" value="foodFeedbacks" />
								<button type="submit">
									<img style="height: 40px; width: 40px;" width="800"
										height="800" src="images/logo/interface.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px; color: #7300e6 !important; font-weight: 700;">Feedback-uri
										Alimente</span>
								</button>
							</form>
						</li>
						<li><a href="/logout" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/logout.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Logout</span></a></li>
					</ul>
				</div>
			</nav>
		</header>
		<aside style="background-color: white;"
			class="menu-sidebar d-none d-lg-block">
			<div class="logo">
				<a href="#"> <img src="/images/logo/Screenshot_18.png">
				</a>
			</div>
			<div class="menu-sidebar__content js-scrollbar1">
				<nav class="navbar-sidebar">
					<ul class="list-unstyled navbar__list" style="padding-left: 0px;">
						<li><a href="/admin" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/home.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Admin</span></a></li>
						<li><a href="/accounts" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/trainer.jpg"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Conturi</span></a></li>
						<li class="links">
							<form style="padding: 15px 0;"
								th:action="@{/view_content_of_all_accounts}" method="post">
								<input type="hidden" name="contentOption" value="plans" />
								<button type="submit">
									<img style="height: 40px; width: 40px;" width="800"
										height="800" src="images/logo/portfolio.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px; color: #7300e6 !important; font-weight: 700;">Planuri</span>
								</button>
							</form>
						</li>
						<li class="links">
							<form style="padding: 15px 0;"
								th:action="@{/view_content_of_all_accounts}" method="post">
								<input type="hidden" name="contentOption" value="devices" />
								<button type="submit">
									<img style="height: 40px; width: 40px;" width="800"
										height="800" src="images/logo/smartwatch2.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px; color: #7300e6 !important; font-weight: 700;">Dispozitive</span>
								</button>
							</form>
						</li>
						<li class="links">
							<form style="padding: 15px 0;"
								th:action="@{/view_content_of_all_accounts}" method="post">
								<input type="hidden" name="contentOption"
									value="exerciseFeedbacks" />
								<button type="submit">
									<img style="height: 40px; width: 40px;" width="800"
										height="800" src="images/logo/positive-vote.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px; color: #7300e6 !important; font-weight: 700;">Feedback-uri
										Exercitii</span>
								</button>
							</form>
						</li>
						<li class="links">
							<form style="padding: 15px 0;"
								th:action="@{/view_content_of_all_accounts}" method="post">
								<input type="hidden" name="contentOption" value="foodFeedbacks" />
								<button type="submit">
									<img style="height: 40px; width: 40px;" width="800"
										height="800" src="images/logo/interface.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px; color: #7300e6 !important; font-weight: 700;">Feedback-uri
										Alimente</span>
								</button>
							</form>
						</li>
						<li><a href="/logout" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/logout.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Logout</span></a></li>
					</ul>
				</nav>
			</div>
		</aside>
		<div class="page-container">
			<div class="main-content">
				<div class="section__content section__content--p30">
					<div
						style="text-align: center; font-size: 70px; margin-bottom: 60px; color: white; font-weight: 700;"
						th:text="${'Administrator aplicatie: ' + admin.username}"></div>
					<div class="container-fluid">
						<div class="row"
							style="margin-bottom: 70px; position: relative; left: 0px; top: -15px;">
							<div class="col-md-4" style="margin-bottom: 25px;">
								<div class="card-type-2"
									style="height: 265px; border-radius: 37px; position: relative; float: left; padding: 30px;">
									<img
										style="height: 60px; width: 60px; position: relative; left: -20px; top: -20px;"
										width="800" height="800" th:src="@{'images/logo/trainer.jpg'}">
									<div
										style="position: relative; top: -5px; justify-content: center; align-items: center; font-weight: 700; color: black; font-size: 20px; text-align: center;">
										<div
											style="font-size: 30px; color: #7300e6; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden;">
											<a href="/accounts" class="choose"
												th:text="${userPlans.size() +  ' Conturi Create'}"></a>
										</div>
										<span
											style="font-size: 12px; color: gray; font-weight: 100; display: block; margin-top: -15px; margin-bottom: 10px; letter-spacing: 2px;">Acceseaza
											istoricul de tranzactii pentru a vizualiza informatii despre
											produsele pe care le-ai achizitionat</span>
									</div>
								</div>
							</div>
							<div class="col-md-4" style="margin-bottom: 25px;">
								<div class="card-type-2"
									style="height: 265px; border-radius: 37px; position: relative; float: left; padding: 30px;">
									<img
										style="height: 60px; width: 60px; position: relative; left: -20px; top: -20px;"
										width="800" height="800"
										th:src="@{'images/logo/portfolio.png'}">
									<div
										style="position: relative; top: -5px; justify-content: center; align-items: center; font-weight: 700; color: black; font-size: 20px; text-align: center;">
										<div
											style="font-size: 30px; color: #7300e6; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden;">
											<form th:action="@{/view_content_of_all_accounts}"
												method="post">
												<input type="hidden" name="contentOption" value="plans" />
												<button type="submit" class="choose"
													style="font-weight: 700;"
													th:text="${accounts.size() + ' Planuri Create'}"></button>
											</form>
										</div>
										<span
											style="font-size: 12px; color: gray; font-weight: 100; display: block; margin-top: -15px; margin-bottom: 10px; letter-spacing: 2px;">Verifica-ti
											portofelul pentru a-ti putea vizualiza fondul curent si
											pentru a adauga bani</span>
									</div>
								</div>
							</div>
							<div class="col-md-4" style="margin-bottom: 25px;">
								<div class="card-type-2"
									style="height: 265px; border-radius: 37px; position: relative; float: left; padding: 30px;">
									<img
										style="height: 60px; width: 60px; position: relative; left: -20px; top: -20px;"
										width="800" height="800"
										th:src="@{'images/logo/smartwatch2.png'}">
									<div
										style="position: relative; top: -5px; justify-content: center; align-items: center; font-weight: 700; color: black; font-size: 20px; text-align: center;">
										<div
											style="font-size: 30px; color: #7300e6; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden;">
											<form th:action="@{/view_content_of_all_accounts}"
												method="post">
												<input type="hidden" name="contentOption" value="devices" />
												<button type="submit" class="choose"
													style="font-weight: 700;"
													th:text="${devices.size() + ' Dispozitive Create'}"></button>
											</form>
										</div>
										<span
											style="font-size: 12px; color: gray; font-weight: 100; display: block; margin-top: -15px; margin-bottom: 10px; letter-spacing: 2px;">Acceseaza-ti
											profilul pentru vizualizarea si modificarea informatiilor
											contului tau.</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-7">
							<div
								style="text-align: center; font-size: 50px; color: white; font-weight: 700;">Planuri
								Favorite Cursanti</div>
							<div class="table-responsive" style="margin-bottom: 100px;"
								th:if="${theMostBoughtPlans.entrySet().size() > 0 }">
								<table style="background-color: white;"
									class="table table-hover">
									<thead>
										<tr class="text-center"
											style="font-size: 25px; color: #7300e6;">
											<th style="text-align: center; padding: 15px;">Plan</th>
											<th style="text-align: center; padding: 15px;">Expert</th>
											<th style="text-align: center; padding: 15px;">Pret</th>
											<th style="text-align: center; padding: 15px;">Vandut de</th>
										</tr>
									</thead>
									<tbody class="text-center tableBody" style="color: black;">
										<th:block th:each="plan: ${theMostBoughtPlans.entrySet()}">
											<tr>
												<td class="td-favorite" th:text="${plan.getKey().name}"></td>
												<td class="td-favorite"
													th:text="${plan.getKey().helper.username}">
												<td class="td-favorite" th:text="${plan.getKey().price}"></td>
												<td class="td-favorite" th:text="${plan.getValue() + ' X'}"></td>
											</tr>
										</th:block>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-lg-5" style="position: relative; top: 50px;">
							<div
								style="text-align: center; font-size: 50px; color: white; font-weight: 700;">Profit
								Aplicatie</div>
							<div class="au-card chart-percent-card"
								style="padding: 20px; border-radius: 30px;">
								<div class="au-card-inner">
									<div class="chart-note mr-0">
										<span class="dot dot--blue"></span> <span>venituri</span>
									</div>
									<div class="chart-note mr-0 ml-3">
										<span class="dot dot--red"></span> <span>cheltuieli</span>
									</div>
									<div class="percent-chart">
										<canvas id="profit"
											style="position: relative; left: 30px; width: 500px; height: 250px; margin: 0px auto;"></canvas>
									</div>
									<div
										style="text-align: center; color: gray; letter-spacing: 1px;">
										Profit: <span
											style="font-weight: 600; font-size: 35px; color: green;"
											th:text="${totalIncome - totalPayments + ' LEI'}"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row"
						style="margin-bottom: 70px; position: relative; left: 200px; top: -15px;">
						<div class="col-md-4" style="margin-bottom: 25px;">
							<div class="card-type-2"
								style="height: 265px; border-radius: 37px; position: relative; float: left; padding: 30px;">
								<img
									style="height: 60px; width: 60px; position: relative; left: -20px; top: -20px;"
									width="800" height="800" th:src="@{'images/logo/positive-vote.png'}">
								<div
									style="position: relative; top: -5px; justify-content: center; align-items: center; font-weight: 700; color: black; font-size: 20px; text-align: center;">
									<div
										style="font-size: 30px; color: #7300e6; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden;">
										<form th:action="@{/view_content_of_all_accounts}"
											method="post">
											<input type="hidden" name="contentOption"
												value="feedbacksFoods" />
											<button type="submit" class="choose"
												style="font-weight: 700;">Feedback-uri Alimente</button>
										</form>
									</div>
									<span
										style="font-size: 12px; color: gray; font-weight: 100; display: block; margin-top: -15px; margin-bottom: 10px; letter-spacing: 2px;">Acceseaza
										istoricul de tranzactii pentru a vizualiza informatii despre
										produsele pe care le-ai achizitionat</span>
								</div>
							</div>
						</div>
						<div class="col-md-4" style="margin-bottom: 25px;">
							<div class="card-type-2"
								style="height: 265px; border-radius: 37px; position: relative; float: left; padding: 30px;">
								<img
									style="height: 60px; width: 60px; position: relative; left: -20px; top: -20px;"
									width="800" height="800"
									th:src="@{'images/logo/interface.png'}">
								<div
									style="position: relative; top: -5px; justify-content: center; align-items: center; font-weight: 700; color: black; font-size: 20px; text-align: center;">
									<div
										style="font-size: 30px; color: #7300e6; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden;">
										<form th:action="@{/view_content_of_all_accounts}"
											method="post">
											<input type="hidden" name="contentOption"
												value="feedbacksExercises" />
											<button type="submit" class="choose"
												style="font-weight: 700;">Feedback-uri Exercitii</button>
										</form>
									</div>
									<span
										style="font-size: 12px; color: gray; font-weight: 100; display: block; margin-top: -15px; margin-bottom: 10px; letter-spacing: 2px;">Verifica-ti
										portofelul pentru a-ti putea vizualiza fondul curent si pentru
										a adauga bani</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script th:src="@{/vendor/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/vendor/bootstrap-4.1/popper.min.js}"></script>
	<script th:src="@{/vendor/bootstrap-4.1/bootstrap.min.js}"></script>
	<script th:src="@{/vendor/slick/slick.min.js}">
    </script>
	<script th:src="@{/vendor/wow/wow.min.js}"></script>
	<script th:src="@{/vendor/animsition/animsition.min.js}"></script>
	<script
		th:src="@{/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js}">
    </script>
	<script th:src="@{/vendor/counter-up/jquery.waypoints.min.js}"></script>
	<script th:src="@{/vendor/counter-up/jquery.counterup.min.js}">
    </script>
	<script th:src="@{/vendor/circle-progress/circle-progress.min.js}"></script>
	<script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.js}"></script>
	<script th:src="@{/vendor/chartjs/Chart.bundle.min.js}"></script>
	<script th:src="@{/vendor/select2/select2.min.js}">
    </script>

	<script th:src="@{/js/main.js}"></script>
	<script th:inline="javascript">
    let income = [[${totalIncome}]];
    let payments = [[${totalPayments}]];
    var ctx = document.getElementById("profit");
    if (ctx) {
      ctx.height = 280;
      var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
          datasets: [
            {
              label: "My First dataset",
              data: [income,payments],
              backgroundColor: [
                '#00b5e9',
                '#fa4251'
              ],
              hoverBackgroundColor: [
                '#00b5e9',
                '#fa4251'
              ],
              borderWidth: [
                0, 0
              ],
              hoverBorderColor: [
                'transparent',
                'transparent'
              ]
            }
          ],
          labels: [
            'Venituri',
            'Cheltuieli'
          ]
        },
        options: {
          maintainAspectRatio: false,
          responsive: true,
          cutoutPercentage: 55,
          animation: {
            animateScale: true,
            animateRotate: true
          },
          legend: {
            display: false
          },
          tooltips: {
            titleFontFamily: "Poppins",
            xPadding: 15,
            yPadding: 10,
            caretPadding: 0,
            bodyFontSize: 16
          }
        }
      });
    }
	</script>
</body>

</html>