<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="au theme template">
<meta name="author" content="Hau Nguyen">
<meta name="keywords" content="au theme template">

<title>Dashboard</title>

<link th:href="@{css/font-face.css}" rel="stylesheet" media="all">
<link th:href="@{vendor/font-awesome-4.7/css/font-awesome.min.css}"
	rel="stylesheet" media="all">
<link th:href="@{vendor/font-awesome-5/css/fontawesome-all.min.css}"
	rel="stylesheet" media="all">
<link
	th:href="@{vendor/mdi-font/css/material-design-iconic-font.min.css}"
	rel="stylesheet" media="all">

<link th:href="@{vendor/bootstrap-4.1/bootstrap.min.css}"
	rel="stylesheet" media="all">

<link th:href="@{vendor/animsition/animsition.min.css}" rel="stylesheet"
	media="all">
<link
	th:href="@{vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}"
	rel="stylesheet" media="all">
<link th:href="@{vendor/wow/animate.css}" rel="stylesheet" media="all">
<link th:href="@{vendor/css-hamburgers/hamburgers.min.css}"
	rel="stylesheet" media="all">
<link th:href="@{vendor/slick/slick.css}" rel="stylesheet" media="all">
<link th:href="@{vendor/select2/select2.min.css}" rel="stylesheet"
	media="all">
<link th:href="@{vendor/perfect-scrollbar/perfect-scrollbar.css}"
	rel="stylesheet" media="all">

<link th:href="@{css/theme.css}" rel="stylesheet" media="all">

</head>

<body>
	<div class="page-wrapper">
		<header class="header-mobile d-block d-lg-none">
			<div class="header-mobile__bar">
				<div class="container-fluid">
					<div class="header-mobile-inner">
						<a class="logo" href="index.html"> <img
							src="images/icon/logo.png" alt="CoolAdmin" />
						</a>
						<button class="hamburger hamburger--slider" type="button">
							<span class="hamburger-box"> <span class="hamburger-inner"></span>
							</span>
						</button>
					</div>
				</div>
			</div>
			<nav class="navbar-mobile">
				<div class="container-fluid">
					<ul class="navbar-mobile__list list-unstyled">
						<li class="has-sub"><a class="js-arrow" href="#"> <i
								class="fas fa-tachometer-alt"></i>Dashboard
						</a>
							<ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
								<li><a href="index.html">Dashboard 1</a></li>
								<li><a href="index2.html">Dashboard 2</a></li>
								<li><a href="index3.html">Dashboard 3</a></li>
								<li><a href="index4.html">Dashboard 4</a></li>
							</ul></li>
						<li><a href="chart.html"> <i class="fas fa-chart-bar"></i>Charts
						</a></li>
						<li><a href="table.html"> <i class="fas fa-table"></i>Tables
						</a></li>
						<li><a href="form.html"> <i class="far fa-check-square"></i>Forms
						</a></li>
						<li><a href="calendar.html"> <i
								class="fas fa-calendar-alt"></i>Calendar
						</a></li>
						<li><a href="map.html"> <i class="fas fa-map-marker-alt"></i>Maps
						</a></li>
						<li class="has-sub"><a class="js-arrow" href="#"> <i
								class="fas fa-copy"></i>Pages
						</a>
							<ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
								<li><a href="login.html">Login</a></li>
								<li><a href="register.html">Register</a></li>
								<li><a href="forget-pass.html">Forget Password</a></li>
							</ul></li>
						<li class="has-sub"><a class="js-arrow" href="#"> <i
								class="fas fa-desktop"></i>UI Elements
						</a>
							<ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
								<li><a href="button.html">Button</a></li>
								<li><a href="badge.html">Badges</a></li>
								<li><a href="tab.html">Tabs</a></li>
								<li><a href="card.html">Cards</a></li>
								<li><a href="alert.html">Alerts</a></li>
								<li><a href="progress-bar.html">Progress Bars</a></li>
								<li><a href="modal.html">Modals</a></li>
								<li><a href="switch.html">Switchs</a></li>
								<li><a href="grid.html">Grids</a></li>
								<li><a href="fontawesome.html">Fontawesome Icon</a></li>
								<li><a href="typo.html">Typography</a></li>
							</ul></li>
					</ul>
				</div>
			</nav>
		</header>
		<aside class="menu-sidebar d-none d-lg-block">
			<div class="logo">
				<a href="#"> <img src="images/icon/logo.png" alt="Cool Admin" />
				</a>
			</div>
			<div class="menu-sidebar__content js-scrollbar1">
				<nav class="navbar-sidebar">
					<ul class="list-unstyled navbar__list">
						<li class="active has-sub"><a class="js-arrow" href="#">
								<i class="fas fa-tachometer-alt"></i>Dashboard
						</a>
							<ul class="list-unstyled navbar__sub-list js-sub-list">
								<li><a href="index.html">Dashboard 1</a></li>
								<li><a href="index2.html">Dashboard 2</a></li>
								<li><a href="index3.html">Dashboard 3</a></li>
								<li><a href="index4.html">Dashboard 4</a></li>
							</ul></li>
						<li><a href="chart.html"> <i class="fas fa-chart-bar"></i>Charts
						</a></li>
						<li><a href="table.html"> <i class="fas fa-table"></i>Tables
						</a></li>
						<li><a href="form.html"> <i class="far fa-check-square"></i>Forms
						</a></li>
						<li><a href="calendar.html"> <i
								class="fas fa-calendar-alt"></i>Calendar
						</a></li>
						<li><a href="map.html"> <i class="fas fa-map-marker-alt"></i>Maps
						</a></li>
						<li class="has-sub"><a class="js-arrow" href="#"> <i
								class="fas fa-copy"></i>Pages
						</a>
							<ul class="list-unstyled navbar__sub-list js-sub-list">
								<li><a href="login.html">Login</a></li>
								<li><a href="register.html">Register</a></li>
								<li><a href="forget-pass.html">Forget Password</a></li>
							</ul></li>
						<li class="has-sub"><a class="js-arrow" href="#"> <i
								class="fas fa-desktop"></i>UI Elements
						</a>
							<ul class="list-unstyled navbar__sub-list js-sub-list">
								<li><a href="button.html">Button</a></li>
								<li><a href="badge.html">Badges</a></li>
								<li><a href="tab.html">Tabs</a></li>
								<li><a href="card.html">Cards</a></li>
								<li><a href="alert.html">Alerts</a></li>
								<li><a href="progress-bar.html">Progress Bars</a></li>
								<li><a href="modal.html">Modals</a></li>
								<li><a href="switch.html">Switchs</a></li>
								<li><a href="grid.html">Grids</a></li>
								<li><a href="fontawesome.html">Fontawesome Icon</a></li>
								<li><a href="typo.html">Typography</a></li>
							</ul></li>
					</ul>
				</nav>
			</div>
		</aside>
		<div class="page-container">
			<div class="main-content">
				<div class="section__content section__content--p30">
					<div class="container-fluid">
						<div th:if="${account.active == true}">
							<div th:if="${#lists.size(learners)}">
								<div class="row">
									<div class="col-lg-8 mx-auto" style="margin-bottom: 40px;">
										<div class="top-campaign">
											<h3 class="title-3 m-b-30">Cursanti</h3>
											<div class="table-responsive">
												<table class="table table-top-campaign">
													<tbody>
														<tr th:each="account : ${learners}">
															<td th:text="${account.username}"></td>
															<td th:text="${account.email}"></td>
															<td th:text="${account.phoneNumber}"></td>
															<td th:text="${account.bornDate}"></td>
															<td th:text="${account.gender}"></td>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div th:if="${#lists.size(account.plans)}">
								<div class="row">
									<div class="col-lg-8 mx-auto">
										<div class="top-campaign">
											<h3 class="title-3 m-b-30">Planuri</h3>
											<div class="table-responsive">
												<table class="table table-top-campaign">
													<tbody>
														<tr th:each="plan : ${account.plans}">
															<td th:text="${plan.name}"></td>
															<td th:text="${plan.forWho}"></td>
															<td th:text="${plan.price}"></td>
															<td th:text="${plan.dateOfCreation}"></td>
															<td>
																<div th:if="${plan.typeOfPlan == 'Antrenament'}">
																	<button data-toggle="modal"
																		data-target="#modal-exercises"
																		th:attr="data-target='#modal-exercises'+${plan.helperPlanId}">Vezi
																		Exercitii</button>
																	<div class="modal modal-exercises fade in"
																		th:id="modal-exercises+${plan.helperPlanId}"
																		data-backdrop="false"
																		style="background: rgba(0, 0, 0, 0.5);">
																		<div class="modal-dialog">
																			<div class="modal-content">
																				<div class="modal-header">
																					<button type="button" class="close"
																						data-dismiss="modal" aria-label="Close">
																						<span aria-hidden="true">×</span>
																					</button>
																					<h5 class="modal-title">Exercitii</h5>
																				</div>
																				<div class="modal-body">
																					<div th:if="${#lists.size(plan.exercises)}">
																						<ul
																							th:each="exercise, iterStat : ${plan.exercises}">
																							<li th:text="${exercise.name}"></li>
																							<li th:text="${exercise.caloriesBurned}"></li>
																							<li th:text="${exercise.numberOfSeries}"></li>
																							<li th:text="${exercise.numberOfReps}"></li>
																							<li th:text="${exercise.execution}"></li>
																							<li th:text="${exercise.trainedMuscleGroup}"></li>
																						</ul>
																					</div>
																					<div th:unless="${#lists.size(plan.exercises)}">
																						Acest antrenament nu are niciun exercitiu</div>
																				</div>
																				<div class="modal-footer">
																					<button type="button"
																						class="btn btn-outline pull-left"
																						data-dismiss="modal">Close</button>
																					<button type="submit">Save</button>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div th:if="${plan.typeOfPlan == 'Dieta'}">
																	<button data-toggle="modal" data-target="#modal-foods"
																		th:attr="data-target='#modal-foods'+${plan.helperPlanId}">Vezi
																		Alimente</button>
																	<div class="modal modal-foods fade in"
																		th:id="modal-foods+${plan.helperPlanId}"
																		data-backdrop="false"
																		style="background: rgba(0, 0, 0, 0.5);">
																		<div class="modal-dialog">
																			<div class="modal-content">
																				<div class="modal-header">
																					<button type="button" class="close"
																						data-dismiss="modal" aria-label="Close">
																						<span aria-hidden="true">×</span>
																					</button>
																					<h5 class="modal-title">Alimente</h5>
																				</div>
																				<div class="modal-body">
																					<div th:if="${#lists.size(plan.foods)}">
																						<ul th:each="food, iterStat : ${plan.foods}">
																							<li th:text="${food.name}"></li>
																							<li th:text="${food.calories}"></li>
																							<li th:text="${food.protein}"></li>
																							<li th:text="${food.lipids}"></li>
																							<li th:text="${food.carbohydrates}"></li>
																							<li th:text="${food.fiber}"></li>
																							<li th:text="${food.weight}"></li>
																							<li th:text="${food.recommendedTimeRange}"></li>
																						</ul>
																					</div>
																					<div th:unless="${#lists.size(plan.foods)}">
																						Aceasta dieta nu are niciun aliment</div>
																				</div>
																				<div class="modal-footer">
																					<button type="button"
																						class="btn btn-outline pull-left"
																						data-dismiss="modal">Close</button>
																					<button type="submit">Save</button>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div th:if="${#lists.size(chart.keySet())}">
								<div class="row">
									<div class="col-lg-8 mx-auto">
										<div class="au-card m-b-30" style="margin-top: 30px;">
											<div class="au-card-inner">
												<div th:each="role: ${account.roles}">
													<div th:if="${role.name eq 'ROLE_TRAINER'}">
														<h3 class="title-2 m-b-40">Exercitii</h3>
													</div>
													<div th:if="${role.name eq 'ROLE_NUTRITIONIST'}">
														<h3 class="title-2 m-b-40">Alimente</h3>
													</div>
												</div>
												<canvas id="chart"></canvas>
											</div>
										</div>
									</div>
								</div>
							</div>
<!-- 							<div class="row"> -->
<!-- 								<div th:if="${isNutritionist}"> -->
<!-- 									<div th:if="${passedTenDaysFood}"> -->
<!-- 										<h4>Poti dezactiva acest cont</h4> -->
<!-- 										<ul> -->
<!-- 											<div th:if="${passedTenDaysFood}"> -->
<!-- 												<li>Au trecut 10 zile de cand nu a mai adaugat niciun -->
<!-- 													aliment</li> -->
<!-- 											</div> -->
<!-- 										</ul> -->
<!-- 										<form th:action="@{/disable_account}" method="post"> -->
<!-- 											<input type="hidden" name="accountId" -->
<!-- 												th:value="${account.accountId}" /> -->
<!-- 											<button type="submit" class="btn btn-danger"> -->
<!-- 												Dezactiveaza Cont</button> -->
<!-- 										</form> -->
<!-- 									</div> -->
<!-- 								</div> -->
<!-- 								<div th:if="${isTrainer}"> -->
<!-- 									<div th:if="${passedTenDaysExercise}"> -->
<!-- 										<h4>Poti dezactiva acest cont</h4> -->
<!-- 										<ul> -->
<!-- 											<div th:if="${passedTenDaysExercise}"> -->
<!-- 												<li>Au trecut 10 zile de cand nu a mai adaugat niciun -->
<!-- 													exercitiu</li> -->
<!-- 											</div> -->
<!-- 										</ul> -->
<!-- 										<form th:action="@{/disable_account}" method="post"> -->
<!-- 											<input type="hidden" name="accountId" -->
<!-- 												th:value="${account.accountId}" /> -->
<!-- 											<button type="submit" class="btn btn-danger"> -->
<!-- 												Dezactiveaza Cont</button> -->
<!-- 										</form> -->
<!-- 									</div> -->
<!-- 								</div> -->
<!-- 							</div> -->
						</div>
					</div>
					<div th:if="${account.active == false}">
						Acest cont a fost dezactivat din cauza ca
						<ul>
							Momentan nu a trimis cv-ul
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>

	<script th:src="@{/vendor/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/vendor/bootstrap-4.1/popper.min.js}"></script>
	<script th:src="@{/vendor/bootstrap-4.1/bootstrap.min.js}"></script>
	<script th:src="@{/vendor/slick/slick.min.js}">
    </script>
	<script th:src="@{/vendor/wow/wow.min.js}"></script>
	<script th:src="@{/vendor/animsition/animsition.min.js}"></script>
	<script
		th:src="@{/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js}">
    </script>
	<script th:src="@{/vendor/counter-up/jquery.waypoints.min.js}"></script>
	<script th:src="@{/vendor/counter-up/jquery.counterup.min.js}">
    </script>
	<script th:src="@{/vendor/circle-progress/circle-progress.min.js}"></script>
	<script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.js}"></script>
	<script th:src="@{/vendor/chartjs/Chart.bundle.min.js}"></script>
	<script th:src="@{/vendor/select2/select2.min.js}">
    </script>

	<script th:src="@{/js/main.js}"></script>
	<script th:inline="javascript">
    try {

        //Team chart
        var ctx = document.getElementById("chart");
        if (ctx) {
          ctx.height = 150;
          var myChart = new Chart(ctx, {
            type: 'line',
            data: {
              labels: [[${chart.keySet()}]],
              type: 'line',
              defaultFontFamily: 'Poppins',
              datasets: [{
                data: [[${chart.values()}]],
                label: "Numar",
                backgroundColor: 'rgba(0,103,255,.15)',
                borderColor: 'rgba(0,103,255,0.5)',
                borderWidth: 3.5,
                pointStyle: 'circle',
                pointRadius: 5,
                pointBorderColor: 'transparent',
                pointBackgroundColor: 'rgba(0,103,255,0.5)',
              },]
            },
            options: {
              responsive: true,
              tooltips: {
                mode: 'index',
                titleFontSize: 12,
                titleFontColor: '#000',
                bodyFontColor: '#000',
                backgroundColor: '#fff',
                titleFontFamily: 'Poppins',
                bodyFontFamily: 'Poppins',
                cornerRadius: 3,
                intersect: false,
              },
              legend: {
                display: false,
                position: 'top',
                labels: {
                  usePointStyle: true,
                  fontFamily: 'Poppins',
                },


              },
              scales: {
                xAxes: [{
                  display: true,
                  gridLines: {
                    display: false,
                    drawBorder: false
                  },
                  scaleLabel: {
                    display: false,
                    labelString: 'Month'
                  },
                  ticks: {
                    fontFamily: "Poppins"
                  }
                }],
                yAxes: [{
                  display: true,
                  gridLines: {
                    display: false,
                    drawBorder: false
                  },
                  scaleLabel: {
                    display: true,
                    labelString: 'Valoare',
                    fontFamily: "Poppins"
                  },
                  ticks: {
                    fontFamily: "Poppins"
                  }
                }]
              },
              title: {
                display: false,
              }
            }
          });
        }


      } catch (error) {
        console.log(error);
      }
    </script>
</body>

</html>