<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="au theme template">
<meta name="author" content="Hau Nguyen">
<meta name="keywords" content="au theme template">

<title>Dashboard</title>

<link th:href="@{css/font-face.css}" rel="stylesheet" media="all">
<link th:href="@{vendor/font-awesome-4.7/css/font-awesome.min.css}"
	rel="stylesheet" media="all">
<link th:href="@{vendor/font-awesome-5/css/fontawesome-all.min.css}"
	rel="stylesheet" media="all">
<link
	th:href="@{vendor/mdi-font/css/material-design-iconic-font.min.css}"
	rel="stylesheet" media="all">

<link th:href="@{vendor/bootstrap-4.1/bootstrap.min.css}"
	rel="stylesheet" media="all">

<link th:href="@{vendor/animsition/animsition.min.css}" rel="stylesheet"
	media="all">
<link
	th:href="@{vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}"
	rel="stylesheet" media="all">
<link th:href="@{vendor/wow/animate.css}" rel="stylesheet" media="all">
<link th:href="@{vendor/css-hamburgers/hamburgers.min.css}"
	rel="stylesheet" media="all">
<link th:href="@{vendor/slick/slick.css}" rel="stylesheet" media="all">
<link th:href="@{vendor/select2/select2.min.css}" rel="stylesheet"
	media="all">
<link th:href="@{vendor/perfect-scrollbar/perfect-scrollbar.css}"
	rel="stylesheet" media="all">

<link th:href="@{css/theme.css}" rel="stylesheet" media="all">

</head>

<body>
	<div class="page-wrapper">
		<header style="background-color: white;"
			class="header-mobile d-block d-lg-none">
			<div class="header-mobile__bar">
				<div class="container-fluid">
					<div class="header-mobile-inner">
						<a class="logo" href="index.html"> <img
							src="/images/logo/Screenshot_18.png">
						</a>
						<button class="hamburger hamburger--slider" type="button">
							<span class="hamburger-box"> <span class="hamburger-inner"></span>
							</span>
						</button>
					</div>
				</div>
			</div>
			<nav class="navbar-mobile">
				<div class="container-fluid">
					<ul class="navbar-mobile__list list-unstyled">
						<li><a href="/admin" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/home.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Admin</span></a></li>
						<li><a href="/accounts" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/trainer.jpg"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Conturi</span></a></li>
						<li class="links">
							<form style="padding: 15px 0;"
								th:action="@{/view_content_of_all_accounts}" method="post">
								<input type="hidden" name="contentOption" value="plans" />
								<button type="submit">
									<img style="height: 40px; width: 40px;" width="800"
										height="800" src="images/logo/portfolio.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px; color: #7300e6 !important; font-weight: 700;">Planuri</span>
								</button>
							</form>
						</li>
						<li class="links">
							<form style="padding: 15px 0;"
								th:action="@{/view_content_of_all_accounts}" method="post">
								<input type="hidden" name="contentOption" value="devices" />
								<button type="submit">
									<img style="height: 40px; width: 40px;" width="800"
										height="800" src="images/logo/smartwatch2.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px; color: #7300e6 !important; font-weight: 700;">Dispozitive</span>
								</button>
							</form>
						</li>
						<li class="links">
							<form style="padding: 15px 0;"
								th:action="@{/view_content_of_all_accounts}" method="post">
								<input type="hidden" name="contentOption"
									value="feedbacksExercises" />
								<button type="submit">
									<img style="height: 40px; width: 40px;" width="800"
										height="800" src="images/logo/positive-vote.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px; color: #7300e6 !important; font-weight: 700;">Feedback-uri
										Exercitii</span>
								</button>
							</form>
						</li>
						<li class="links">
							<form style="padding: 15px 0;"
								th:action="@{/view_content_of_all_accounts}" method="post">
								<input type="hidden" name="contentOption" value="feedbacksFoods" />
								<button type="submit">
									<img style="height: 40px; width: 40px;" width="800"
										height="800" src="images/logo/interface.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px; color: #7300e6 !important; font-weight: 700;">Feedback-uri
										Alimente</span>
								</button>
							</form>
						</li>
						<li><a href="/logout" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/logout.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Logout</span></a></li>
					</ul>
				</div>
			</nav>
		</header>
		<aside style="background-color: white;"
			class="menu-sidebar d-none d-lg-block">
			<div class="logo">
				<a href="#"> <img src="/images/logo/Screenshot_18.png">
				</a>
			</div>
			<div class="menu-sidebar__content js-scrollbar1">
				<nav class="navbar-sidebar">
					<ul class="list-unstyled navbar__list" style="padding-left: 0px;">
						<li><a href="/admin" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/home.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Admin</span></a></li>
						<li><a href="/accounts" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/trainer.jpg"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Conturi</span></a></li>
						<li class="links">
							<form style="padding: 15px 0;"
								th:action="@{/view_content_of_all_accounts}" method="post">
								<input type="hidden" name="contentOption" value="plans" />
								<button type="submit">
									<img style="height: 40px; width: 40px;" width="800"
										height="800" src="images/logo/portfolio.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px; color: #7300e6 !important; font-weight: 700;">Planuri</span>
								</button>
							</form>
						</li>
						<li class="links">
							<form style="padding: 15px 0;"
								th:action="@{/view_content_of_all_accounts}" method="post">
								<input type="hidden" name="contentOption" value="devices" />
								<button type="submit">
									<img style="height: 40px; width: 40px;" width="800"
										height="800" src="images/logo/smartwatch2.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px; color: #7300e6 !important; font-weight: 700;">Dispozitive</span>
								</button>
							</form>
						</li>
						<li class="links">
							<form style="padding: 15px 0;"
								th:action="@{/view_content_of_all_accounts}" method="post">
								<input type="hidden" name="contentOption"
									value="feedbacksExercises" />
								<button type="submit">
									<img style="height: 40px; width: 40px;" width="800"
										height="800" src="images/logo/positive-vote.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px; color: #7300e6 !important; font-weight: 700;">Feedback-uri
										Exercitii</span>
								</button>
							</form>
						</li>
						<li class="links">
							<form style="padding: 15px 0;"
								th:action="@{/view_content_of_all_accounts}" method="post">
								<input type="hidden" name="contentOption" value="feedbacksFoods" />
								<button type="submit">
									<img style="height: 40px; width: 40px;" width="800"
										height="800" src="images/logo/interface.png"><span
										style="position: relative; top: 5px; left: 15px; font-size: 17px; color: #7300e6 !important; font-weight: 700;">Feedback-uri
										Alimente</span>
								</button>
							</form>
						</li>
						<li><a href="/logout" class="links" style=""><img
								style="height: 40px; width: 40px;" width="800" height="800"
								src="images/logo/logout.png"><span
								style="position: relative; top: 5px; left: 15px; font-size: 17px;">Logout</span></a></li>
					</ul>
				</nav>
			</div>
		</aside>
		<div class="page-container">
			<div class="main-content">
				<div class="section__content section__content--p30">
					<div class="container-fluid">
						<div th:if="${account.active == true}">
							<div
								style="text-align: center; font-size: 70px; margin-bottom: 60px; color: white; font-weight: 700;">Activitate
								Expert</div>
							<div th:if="${#lists.size(learners)}">
								<div class="row">
									<div class="col-lg-8 mx-auto" style="margin-bottom: 40px;">
										<div class="top-campaign" style="border-radius: 30px;">
											<h3 class="title-3 m-b-30"
												style="font-size: 45px; font-weight: 600;">Cursanti</h3>
											<div class="table-responsive">
												<table class="table table-top-campaign">
													<thead>
														<tr style="border: none;">
															<th style="border: none; color: black;">Nume</th>
															<th style="border: none; color: black;">Email</th>
															<th style="border: none; color: black;">Telefon</th>
															<th style="border: none; color: black;">Data
																Nasterii</th>
															<th style="border: none; color: black;">Sex</th>
														</tr>
													</thead>
													<tbody>
														<tr style="border: none;" th:each="account : ${learners}">
															<td style="border: none; color: black;"
																th:text="${account.username}"></td>
															<td style="border: none; color: black;"
																th:text="${account.email}"></td>
															<td style="border: none; color: black;"
																th:text="${account.phoneNumber}"></td>
															<td style="border: none; color: black;"
																th:text="${account.bornDate}"></td>
															<td style="border: none; color: black;"
																th:text="${account.gender}"></td>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div style="color: white; font-size: 70px; margin-bottom: 20px; font-weight: 600; text-align: center;" th:if="${learners.size() eq 0}">
								Cursanti : 0 
							</div>
							<div th:if="${#lists.size(account.plans)}">
								<div class="row">
									<div class="col-lg-8 mx-auto">
										<div class="top-campaign" style="border-radius: 30px;">
											<h3 class="title-3 m-b-30"
												style="font-size: 45px; font-weight: 600;">Planuri</h3>
											<div class="table-responsive">
												<table class="table table-top-campaign">
													<thead>
														<tr style="border: none;">
															<th style="border: none; color: black;">Nume</th>
															<th style="border: none; color: black;">Pentru cine?</th>
															<th style="border: none; color: black;">Pret</th>
															<th style="border: none; color: black;">Data Crearii</th>
															<th style="border: none; color: black;">Actiuni</th>
														</tr>
													</thead>
													<tbody>
														<tr style="border: none;"
															th:each="plan : ${account.plans}">
															<td style="border: none; color: black;"
																th:text="${plan.name}"></td>
															<td style="border: none; color: black;"
																th:text="${plan.forWho.getGender()}"></td>
															<td style="border: none; color: black;"
																th:text="${plan.price + ' LEI'}"></td>
															<td style="border: none; color: black;"
																th:text="${plan.dateOfCreation}"></td>
															<td style="border: none; color: black;">
																<div th:if="${plan.typeOfPlan == 'Antrenament'}">
																	<button
																		style="background: #7300e6; color: white; padding: 1px 15px; text-align: center; border-radius: 10px;"
																		data-toggle="modal" data-target="#modal-exercises"
																		th:attr="data-target='#modal-exercises'+${plan.helperPlanId}">Vezi
																		Exercitii</button>
																	<div class="modal modal-exercises fade in"
																		th:id="modal-exercises+${plan.helperPlanId}"
																		data-backdrop="false"
																		style="background: rgba(0, 0, 0, 0.5);">
																		<div class="modal-dialog"
																			style="overflow-y: initial !important;">
																			<div class="modal-content"
																				style="box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6); border-radius: 12px; width: 950px; position: relative; left: -50px;">
																				<div class="modal-header">
																					<button type="button" class="close"
																						data-dismiss="modal" aria-label="Close">
																						<span aria-hidden="true">×</span>
																					</button>
																				</div>
																				<div class="modal-body"
																					style="height: 680px; overflow-y: auto; overflow-x: hidden;">
																					<div style="text-align: center; color: #7300e6;">
																						<h2
																							style="color: #7300e6; font-size: 45px; margin-bottom: 40px; margin-top: 20px;">Exercitii
																							Plan Antrenament</h2>
																					</div>
																					<div class="row"
																						style="position: relative; left: 65px;">
																						<div class="col-md-5"
																							th:each="exercise, iterStat : ${plan.exercises}">
																							<div class="card-type-2"
																								style="position: relative; height: 450px; background-color: #f6f6f6; border-radius: 30px; border: 0; margin-bottom: 25px;">
																								<div class="img-c"
																									style="padding-top: 100%; top: -50px; position: relative; height: 500px;">
																									<th:block
																										th:if="${exercise.exerciseImages.size() > 0 and exercise.trainingPlan.forWho.getGender() eq 'Barbat'}">
																										<img style="height: 300px;" class="img"
																											width="800" height="800"
																											th:src="@{'images/plans/trainings/man/exercise/'+${exercise.exerciseImages[0].fileName}}">
																									</th:block>
																									<th:block
																										th:if="${exercise.exerciseImages.size() > 0 and exercise.trainingPlan.forWho.getGender() eq 'Femeie'}">
																										<img style="height: 300px;" class="img"
																											width="800" height="800"
																											th:src="@{'images/plans/trainings/woman/exercise/'+${exercise.exerciseImages[0].fileName}}">
																									</th:block>
																									<th:block
																										th:if="${exercise.exerciseImages.size() eq 0}">
																										<img style="height: 300px;" class="img"
																											width="800" height="800"
																											th:src="@{'images/di.png'}">
																									</th:block>
																								</div>
																								<div class="overlay-food"
																									style="background-color: #f6f6f6;">
																									<div class="text" style="left: 47%;">
																										<div
																											style="font-size: 45px; color: #7300e6; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden;"
																											th:text="${exercise.name}"></div>

																										<div class="posts" style="margin-top: 10px;">
																											<div class="one" style="font-weight: 100;">
																												<span style="display: block;">Calorii
																													Arse</span> <span
																													style="display: inline-block; font-size: 35px; color: #7300e6; font-weight: 700;"
																													th:text="${exercise.caloriesBurned}"></span>
																												<img
																													style="left: 2px; height: 40px; width: 40px; position: relative; top: -5px;"
																													src="/images/logo/burning.png">
																											</div>
																											<div class="two" style="font-weight: 100;">
																												<span style="display: block;">Numar
																													Serii</span> <span
																													style="display: inline-block; font-size: 35px; color: #7300e6; font-weight: 700;"
																													th:text="${exercise.numberOfSeries}"></span>
																												<img
																													style="left: 2px; height: 40px; width: 40px; position: relative; top: -5px;"
																													src="/images/logo/gym.png">
																											</div>
																											<div class="two" style="font-weight: 100;">
																												<span style="display: block;">Numar
																													Repetari</span> <span
																													style="display: inline-block; font-size: 35px; color: #7300e6; font-weight: 700;"
																													th:text="${exercise.numberOfReps}"></span>
																												<img
																													style="left: 2px; height: 40px; width: 40px; position: relative; top: -5px;"
																													src="/images/logo/muscle.png">
																											</div>
																										</div>
																										<div class="posts" style="margin-top: 10px;">
																											<div class="one" style="font-weight: 100;">
																												<span style="display: block;">Grupa
																													Muschi</span> <span
																													style="display: inline-block; font-size: 35px; color: #7300e6; font-weight: 700;"
																													th:text="${exercise.trainedMuscleGroup.getMuscleGroup()}"></span>
																												<img
																													style="left: 2px; height: 40px; width: 40px; position: relative; top: -5px;"
																													src="/images/logo/treadmill.png">
																											</div>
																											<div class="two" style="font-weight: 100;">
																												<span style="display: block;">Categorie</span>
																												<span
																													style="display: inline-block; font-size: 35px; color: #7300e6; font-weight: 700;"
																													th:text="${exercise.exerciseCategory}"></span>
																												<img
																													style="left: 2px; height: 40px; width: 40px; position: relative; top: -5px;"
																													src="/images/logo/ssss.png">
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div th:if="${plan.typeOfPlan == 'Dieta'}">
																	<button data-toggle="modal" data-target="#modal-foods"
																		th:attr="data-target='#modal-foods'+${plan.helperPlanId}">Vezi
																		Alimente</button>
																	<div class="modal modal-foods fade in"
																		th:id="modal-foods+${plan.helperPlanId}"
																		data-backdrop="false"
																		style="background: rgba(0, 0, 0, 0.5);">
																		<div class="modal-dialog"
																			style="overflow-y: initial !important;">
																			<div class="modal-content"
																				style="box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6); border-radius: 12px; width: 950px; position: relative; left: -50px;">
																				<div class="modal-header">
																					<button type="button" class="close"
																						data-dismiss="modal" aria-label="Close">
																						<span aria-hidden="true">×</span>
																					</button>
																				</div>
																				<div class="modal-body"
																					style="height: 680px; overflow-y: auto; overflow-x: hidden;">
																					<div style="text-align: center; color: #7300e6;">
																						<h2
																							style="color: #7300e6; font-size: 45px; margin-bottom: 40px; margin-top: 20px;">Alimente
																							Plan Dieta</h2>
																					</div>
																					<div class="row"
																						style="position: relative; left: 65px;">
																						<div class="col-md-5"
																							th:each="food, iterStat : ${plan.foods}">
																							<div class="card-type-2"
																								style="position: relative; height: 450px; background-color: #f6f6f6; border-radius: 30px; border: 0; margin-bottom: 25px;">
																								<div class="img-c"
																									style="padding-top: 100%; top: -50px; position: relative; height: 500px;">
																									<th:block th:if="${food.images.size() > 0}">
																										<img style="height: 300px;" class="img"
																											width="800" height="800"
																											th:src="@{'images/plans/diets/'+${food.images[0].fileName}}">
																									</th:block>
																									<th:block th:if="${food.images.size() eq 0}">
																										<img style="height: 300px;" class="img"
																											width="800" height="800"
																											th:src="@{'images/di.png'}">
																									</th:block>
																								</div>
																								<div class="overlay-food"
																									style="background-color: #f6f6f6;">
																									<div class="text" style="left: 47%;">
																										<div
																											style="font-size: 45px; color: #7300e6; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden;"
																											th:text="${food.name}"></div>
																										<div class="posts" style="margin-top: 10px;">
																											<div class="one" style="font-weight: 100;">
																												<span style="display: block;">Calorii</span>
																												<span
																													style="display: inline-block; font-size: 35px; color: #7300e6; font-weight: 700;"
																													th:text="${food.calories}"></span> <img
																													style="left: 2px; height: 40px; width: 40px; position: relative; top: -5px;"
																													src="/images/logo/meal.png">
																											</div>
																											<div class="two" style="font-weight: 100;">
																												<span style="display: block;">Proteine</span>
																												<span
																													style="display: inline-block; font-size: 35px; color: #7300e6; font-weight: 700;"
																													th:text="${food.protein}"></span> <img
																													style="left: 2px; height: 40px; width: 40px; position: relative; top: -5px;"
																													src="/images/logo/proteins.png">
																											</div>
																											<div class="two" style="font-weight: 100;">
																												<span style="display: block;">Gramaj</span>
																												<span
																													style="display: inline-block; font-size: 35px; color: #7300e6; font-weight: 700;"
																													th:text="${food.weight}"></span> <img
																													style="left: 2px; height: 40px; width: 40px; position: relative; top: -5px;"
																													src="/images/logo/scale.png">
																											</div>
																										</div>
																										<div class="posts" style="margin-top: 10px;">
																											<div class="one" style="font-weight: 100;">
																												<span style="display: block;">Fibre</span> <span
																													style="display: inline-block; font-size: 35px; color: #7300e6; font-weight: 700;"
																													th:text="${food.fiber}"></span> <img
																													style="left: 2px; height: 40px; width: 40px; position: relative; top: -5px;"
																													src="/images/logo/vegetable.png">
																											</div>
																											<div class="two" style="font-weight: 100;">
																												<span style="display: block;">Carbohidrati</span>
																												<span
																													style="display: inline-block; font-size: 35px; color: #7300e6; font-weight: 700;"
																													th:text="${food.carbohydrates}"></span> <img
																													style="left: 2px; height: 40px; width: 40px; position: relative; top: -5px;"
																													src="/images/logo/potato.png">
																											</div>
																											<div class="one" style="font-weight: 100;">
																												<span style="display: block;">Lipide</span>
																												<span
																													style="display: inline-block; font-size: 35px; color: #7300e6; font-weight: 700;"
																													th:text="${food.lipids}"></span> <img
																													style="left: 2px; height: 40px; width: 40px; position: relative; top: -5px;"
																													src="/images/logo/trans-fat.png">
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div style="color: white; font-size: 70px; margin-bottom: 20px; font-weight: 600; text-align: center;" th:if="${account.plans.size() eq 0}">
								Planuri Create : 0 
							</div>
							<div th:if="${#lists.size(chart.keySet())}">
								<div class="row" style="margin-bottom: 100px;">
									<div class="col-md-8 mx-auto"
										style="position: relative; top: 50px; background-color: white; border-radius: 30px; padding: 50px;">
										<th:block th:each="role: ${account.roles}">
											<th:block th:if="${role.name eq 'ROLE_TRAINER'}">
												<div
													style="font-size: 60px; font-weight: 600; text-align: center; color: #7300e6;">Exercitii
													Create</div>
											</th:block>
											<th:block th:if="${role.name eq 'ROLE_NUTRITIONIST'}">
												<div
													style="font-size: 60px; font-weight: 600; text-align: center; color: #7300e6;">Alimente
													Create</div>
											</th:block>
										</th:block>
										<div class="row">
											<div class="col-md-12">
												<div id="container"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div th:if="${account.active == false}">
						<div
							style="text-align: center; font-size: 70px; color: white; font-weight: 700; position: relative; top: 200px;">
							Cont Dezactivat</div>
						<form class="btn-group inline"
							th:action="@{/view_account_details}" method="post">
							<input type="hidden" name="accountId"
								th:value="${account.accountId}" />
							<button type="submit" class="btnn2"
								style="padding: 3px 15px; margin-top: 30px; color: #7300e6; background-color: white; font-size: 30px; position: relative; left: 700px; top: 200px;">Valideaza
								Cont</button>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>

	<script th:src="@{/vendor/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/vendor/bootstrap-4.1/popper.min.js}"></script>
	<script th:src="@{/vendor/bootstrap-4.1/bootstrap.min.js}"></script>
	<script th:src="@{/vendor/slick/slick.min.js}">
    </script>
	<script th:src="@{/vendor/wow/wow.min.js}"></script>
	<script th:src="@{/vendor/animsition/animsition.min.js}"></script>
	<script
		th:src="@{/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js}">
    </script>
	<script th:src="@{/vendor/counter-up/jquery.waypoints.min.js}"></script>
	<script th:src="@{/vendor/counter-up/jquery.counterup.min.js}">
    </script>
	<script th:src="@{/vendor/circle-progress/circle-progress.min.js}"></script>
	<script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.js}"></script>
	<script th:src="@{/vendor/chartjs/Chart.bundle.min.js}"></script>
	<script th:src="@{/vendor/select2/select2.min.js}">
    </script>
	<script src="https://code.highcharts.com/modules/data.js"></script>
	<script src="https://code.highcharts.com/stock/highstock.js"></script>
	<script src="https://code.highcharts.com/modules/drilldown.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/export-data.js"></script>
	<script src="https://code.highcharts.com/modules/accessibility.js"></script>
	<script th:src="@{/js/main.js}"></script>
	<script th:inline="javascript">
	Highcharts.setOptions({
	    colors: ['#7300e6']
	  });
	  $('#container').highcharts({
	    chart: {
	      type: 'areaspline',
	      zoomType: 'x'
	    },
	    title: { text: null },
        scrollbar: {
            enabled: true,
            barBackgroundColor: '#7300e6',
            barBorderRadius: 7,
            barBorderWidth: 0,
            buttonBackgroundColor: '#7300e6',
            buttonBorderWidth: 0,
            buttonArrowColor: 'white',
            buttonBorderRadius: 7,
            rifleColor: 'white',
            trackBackgroundColor: 'white',
            trackBorderWidth: 1,
            trackBorderColor: 'silver',
            trackBorderRadius: 7
        },
	    legend: { enabled: false },
	    xAxis: {
	      type: 'datetime',
	      categories: [[${chart.keySet()}]],
	      labels: {
              style: {
                  color: 'black',
                  font: '16px Arial, sans-serif',
                  fontWeight: '600'
              }
          },
          crosshair: true,
          min: 0,
          max: 5
	    },

	    yAxis: {
	    	title: {
                text: 'Valori',
                    style: {
                        color: 'black',
                        font: '22px Arial, sans-serif',
                        fontWeight: '600'
                    }
            },
            gridLineColor: 'transparent',
            labels: {
                style: {
                    color: 'black',
                    font: '16px Arial, sans-serif',
                    fontWeight: '600'
                }
            }
	    },

	    tooltip: {
	      shared: true
	    },

	    credits: {
	      enabled: false
	    },

	    plotOptions: {
	      areaspline: {
	        fillOpacity: 0.8,
	        pointPlacement: 'on'
	      },
	      series: {
	        marker: { enabled: false },
	        lineWidth: 0
	      }
	    },

	    series: [{
	      name: 'Exercitii:',
	        data: [[${chart.values()}]]
	    }]
	  });
    </script>
</body>

</html>