<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Admin</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
	<h3 style="text-align: center; font-size: 40px; margin-top: 30px; margin-bottom: 30px;">Users</h3>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-10 mx-auto">
						<table class="table table-striped">
							<thead class="center-align">
								<tr>
									<th>Id</th>
									<th>Name</th>
									<th>Update</th>
									<th>Delete</th>
								</tr>
							</thead>
							<tbody class="center-align">
								<th:block th:each="account, iterStat : ${accounts}">
									<tr>
										<td th:text="${account.accountId}"></td>
										<form th:action="@{/update-user}" method="post">
											<input type="hidden" name="userId" th:value="${account.accountId}" />
											<td><input type="text" name="name"
												th:value="${account.username}" /></td>
											<td>
												<button type="submit" class="btn btn-warning">Update</button>
											</td>
										</form>
										<form class="btn-group inline" th:action="@{/delete-user}"
											method="post">
											<td><input type="hidden" name="userId"
												th:value="${account.accountId}" />
												<button type="submit" class="btn btn-danger">Delete</button>
											</td>
										</form>
										<div th:if="${account.accountInformation}">
											<form class="btn-group inline" th:action="@{/view_account_details}"
											method="post">
											<td><input type="hidden" name="accountId"
												th:value="${account.accountId}" />
												<button type="submit" class="btn btn-danger">Mai multe detalii</button>
											</td>
										</form>
										</div>
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>