<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="au theme template">
<meta name="author" content="Hau Nguyen">
<meta name="keywords" content="au theme template">

<title>Dashboard</title>

<link th:href="@{css/font-face.css}" rel="stylesheet" media="all">
<link th:href="@{vendor/font-awesome-4.7/css/font-awesome.min.css}"
	rel="stylesheet" media="all">
<link th:href="@{vendor/font-awesome-5/css/fontawesome-all.min.css}"
	rel="stylesheet" media="all">
<link
	th:href="@{vendor/mdi-font/css/material-design-iconic-font.min.css}"
	rel="stylesheet" media="all">

<link th:href="@{vendor/bootstrap-4.1/bootstrap.min.css}"
	rel="stylesheet" media="all">

<link th:href="@{vendor/animsition/animsition.min.css}" rel="stylesheet"
	media="all">
<link
	th:href="@{vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}"
	rel="stylesheet" media="all">
<link th:href="@{vendor/wow/animate.css}" rel="stylesheet" media="all">
<link th:href="@{vendor/css-hamburgers/hamburgers.min.css}"
	rel="stylesheet" media="all">
<link th:href="@{vendor/slick/slick.css}" rel="stylesheet" media="all">
<link th:href="@{vendor/select2/select2.min.css}" rel="stylesheet"
	media="all">
<link th:href="@{vendor/perfect-scrollbar/perfect-scrollbar.css}"
	rel="stylesheet" media="all">

<link th:href="@{css/theme.css}" rel="stylesheet" media="all">

</head>

<body>
	<div class="page-wrapper">
		<header class="header-mobile d-block d-lg-none">
			<div class="header-mobile__bar">
				<div class="container-fluid">
					<div class="header-mobile-inner">
						<a class="logo" href="index.html"> <img
							src="images/icon/logo.png" alt="CoolAdmin" />
						</a>
						<button class="hamburger hamburger--slider" type="button">
							<span class="hamburger-box"> <span class="hamburger-inner"></span>
							</span>
						</button>
					</div>
				</div>
			</div>
			<nav class="navbar-mobile">
				<div class="container-fluid">
					<ul class="navbar-mobile__list list-unstyled">
						<li class="has-sub"><a class="js-arrow" href="#"> <i
								class="fas fa-tachometer-alt"></i>Dashboard
						</a>
							<ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
								<li><a href="index.html">Dashboard 1</a></li>
								<li><a href="index2.html">Dashboard 2</a></li>
								<li><a href="index3.html">Dashboard 3</a></li>
								<li><a href="index4.html">Dashboard 4</a></li>
							</ul></li>
						<li><a href="chart.html"> <i class="fas fa-chart-bar"></i>Charts
						</a></li>
						<li><a href="table.html"> <i class="fas fa-table"></i>Tables
						</a></li>
						<li><a href="form.html"> <i class="far fa-check-square"></i>Forms
						</a></li>
						<li><a href="calendar.html"> <i
								class="fas fa-calendar-alt"></i>Calendar
						</a></li>
						<li><a href="map.html"> <i class="fas fa-map-marker-alt"></i>Maps
						</a></li>
						<li class="has-sub"><a class="js-arrow" href="#"> <i
								class="fas fa-copy"></i>Pages
						</a>
							<ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
								<li><a href="login.html">Login</a></li>
								<li><a href="register.html">Register</a></li>
								<li><a href="forget-pass.html">Forget Password</a></li>
							</ul></li>
						<li class="has-sub"><a class="js-arrow" href="#"> <i
								class="fas fa-desktop"></i>UI Elements
						</a>
							<ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
								<li><a href="button.html">Button</a></li>
								<li><a href="badge.html">Badges</a></li>
								<li><a href="tab.html">Tabs</a></li>
								<li><a href="card.html">Cards</a></li>
								<li><a href="alert.html">Alerts</a></li>
								<li><a href="progress-bar.html">Progress Bars</a></li>
								<li><a href="modal.html">Modals</a></li>
								<li><a href="switch.html">Switchs</a></li>
								<li><a href="grid.html">Grids</a></li>
								<li><a href="fontawesome.html">Fontawesome Icon</a></li>
								<li><a href="typo.html">Typography</a></li>
							</ul></li>
					</ul>
				</div>
			</nav>
		</header>
		<aside class="menu-sidebar d-none d-lg-block">
			<div class="logo">
				<a href="#"> <img src="images/icon/logo.png" alt="Cool Admin" />
				</a>
			</div>
			<div class="menu-sidebar__content js-scrollbar1">
				<nav class="navbar-sidebar">
					<ul class="list-unstyled navbar__list">
						<li class="active has-sub"><a class="js-arrow" href="#">
								<i class="fas fa-tachometer-alt"></i>Dashboard
						</a>
							<ul class="list-unstyled navbar__sub-list js-sub-list">
								<li><a href="index.html">Dashboard 1</a></li>
								<li><a href="index2.html">Dashboard 2</a></li>
								<li><a href="index3.html">Dashboard 3</a></li>
								<li><a href="index4.html">Dashboard 4</a></li>
							</ul></li>
						<li><a href="chart.html"> <i class="fas fa-chart-bar"></i>Charts
						</a></li>
						<li><a href="table.html"> <i class="fas fa-table"></i>Tables
						</a></li>
						<li><a href="form.html"> <i class="far fa-check-square"></i>Forms
						</a></li>
						<li><a href="calendar.html"> <i
								class="fas fa-calendar-alt"></i>Calendar
						</a></li>
						<li><a href="map.html"> <i class="fas fa-map-marker-alt"></i>Maps
						</a></li>
						<li class="has-sub"><a class="js-arrow" href="#"> <i
								class="fas fa-copy"></i>Pages
						</a>
							<ul class="list-unstyled navbar__sub-list js-sub-list">
								<li><a href="login.html">Login</a></li>
								<li><a href="register.html">Register</a></li>
								<li><a href="forget-pass.html">Forget Password</a></li>
							</ul></li>
						<li class="has-sub"><a class="js-arrow" href="#"> <i
								class="fas fa-desktop"></i>UI Elements
						</a>
							<ul class="list-unstyled navbar__sub-list js-sub-list">
								<li><a href="button.html">Button</a></li>
								<li><a href="badge.html">Badges</a></li>
								<li><a href="tab.html">Tabs</a></li>
								<li><a href="card.html">Cards</a></li>
								<li><a href="alert.html">Alerts</a></li>
								<li><a href="progress-bar.html">Progress Bars</a></li>
								<li><a href="modal.html">Modals</a></li>
								<li><a href="switch.html">Switchs</a></li>
								<li><a href="grid.html">Grids</a></li>
								<li><a href="fontawesome.html">Fontawesome Icon</a></li>
								<li><a href="typo.html">Typography</a></li>
							</ul></li>
					</ul>
				</nav>
			</div>
		</aside>
		<div class="page-container">
			<div class="main-content">
				<div class="section__content section__content--p30">
					<div class="container-fluid">
						<div th:if="${account.active == true}">
							<div th:if="${#lists.size(account.userDevices)}">
								<div th:if="${#lists.size(account.userDevices) eq 3}">
									<div class="row">
										<div class="col-md-12">
											<div class="row">
												<div class="col-md-4"
													th:each="userDevice : ${account.userDevices}">
													<div class="card">
														<div th:if="${userDevice.device.name eq 'Fit Buddy'}">
															<img class="card-img-top"
																src="images/4e56fc0b-28d1-4bd4-98c6-697e5a8e4721_rw_1200.gif"
																alt="Card image cap" style="height: 300px;">
														</div>
														<div th:if="${userDevice.device.name eq 'Bratara'}">
															<img class="card-img-top" src="images/band.jpg"
																alt="Card image cap"
																style="height: 300px; padding: 20px;">
														</div>
														<div
															th:if="${userDevice.device.name eq 'Cantar Inteligent'}">
															<img class="card-img-top" src="images/scale.jpg"
																alt="Card image cap"
																style="height: 300px; padding: 20px;">
														</div>
														<div class="card-body">
															<h4 class="card-title mb-3"
																th:text="${userDevice.device.name}"></h4>
															<h5 th:text="${userDevice.device.price}"></h5>
															<h5 th:text="${userDevice.dateOfPurchase}"></h5>
															<button data-toggle="modal"
																data-target="#modal-measurements"
																th:attr="data-target='#modal-measurements'+${userDevice.userDeviceId}">Vezi
																Masuratori</button>
															<div class="modal modal-measurements fade in"
																th:id="modal-measurements+${userDevice.userDeviceId}"
																data-backdrop="false"
																style="background: rgba(0, 0, 0, 0.5);">
																<div class="modal-dialog">
																	<div class="modal-content">
																		<div class="modal-header">
																			<button type="button" class="close"
																				data-dismiss="modal" aria-label="Close">
																				<span aria-hidden="true">×</span>
																			</button>
																			<h5 class="modal-title">Masuratori</h5>
																		</div>
																		<div class="modal-body">
																			<div th:if="${#lists.size(userDevice.measurements)}">
																				<ul
																					th:each="measure, iterStat : ${userDevice.measurements}">
																					<li th:text="${measure.name}"></li>
																					<li th:text="${measure.startDate}"></li>
																					<li th:text="${measure.value}"></li>
																					<li th:text="${measure.unitOfMeasurement}"></li>
																				</ul>
																			</div>
																			<div
																				th:unless="${#lists.size(userDevice.measurements)}">
																				Acest dispozitiv nu are calculat nicio masuratoare
																				momentan</div>
																		</div>
																		<div class="modal-footer">
																			<button type="button"
																				class="btn btn-outline pull-left"
																				data-dismiss="modal">Close</button>
																			<button type="submit">Save</button>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div th:if="${#lists.size(account.userDevices) eq 2}">
									<div class="row">
										<div class="col-md-12">
											<div class="row">
												<div class="col-md-6"
													th:each="userDevice : ${account.userDevices}">
													<div class="card">
														<div th:if="${userDevice.device.name eq 'Fit Buddy'}">
															<img class="card-img-top"
																src="images/4e56fc0b-28d1-4bd4-98c6-697e5a8e4721_rw_1200.gif"
																alt="Card image cap" style="height: 400px;">
														</div>
														<div th:if="${userDevice.device.name eq 'Bratara'}">
															<img class="card-img-top" src="images/band.jpg"
																alt="Card image cap"
																style="height: 400px; padding: 20px;">
														</div>
														<div
															th:if="${userDevice.device.name eq 'Cantar Inteligent'}">
															<img class="card-img-top" src="images/scale.jpg"
																alt="Card image cap"
																style="height: 400px; padding: 20px;">
														</div>
														<div class="card-body">
															<h4 class="card-title mb-3"
																th:text="${userDevice.device.name}"></h4>
															<h5 th:text="${userDevice.device.price}"></h5>
															<h5 th:text="${userDevice.dateOfPurchase}"></h5>
															<button data-toggle="modal"
																data-target="#modal-measurements"
																th:attr="data-target='#modal-measurements'+${userDevice.userDeviceId}">Vezi
																Masuratori</button>
															<div class="modal modal-measurements fade in"
																th:id="modal-measurements+${userDevice.userDeviceId}"
																data-backdrop="false"
																style="background: rgba(0, 0, 0, 0.5);">
																<div class="modal-dialog">
																	<div class="modal-content">
																		<div class="modal-header">
																			<button type="button" class="close"
																				data-dismiss="modal" aria-label="Close">
																				<span aria-hidden="true">×</span>
																			</button>
																			<h5 class="modal-title">Masuratori</h5>
																		</div>
																		<div class="modal-body">
																			<div th:if="${#lists.size(userDevice.measurements)}">
																				<ul
																					th:each="measure, iterStat : ${userDevice.measurements}">
																					<li th:text="${measure.name}"></li>
																					<li th:text="${measure.startDate}"></li>
																					<li th:text="${measure.value}"></li>
																					<li th:text="${measure.unitOfMeasurement}"></li>
																				</ul>
																			</div>
																			<div
																				th:unless="${#lists.size(userDevice.measurements)}">
																				Acest dispozitiv nu are calculat nicio masuratoare
																				momentan</div>
																		</div>
																		<div class="modal-footer">
																			<button type="button"
																				class="btn btn-outline pull-left"
																				data-dismiss="modal">Close</button>
																			<button type="submit">Save</button>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div th:if="${#lists.size(account.userDevices) eq 1}">
									<div class="row">
										<div class="col-md-12">
											<div class="row">
												<div class="col-md-12">
													<div class="col-md-6 mx-auto"
														th:each="userDevice : ${account.userDevices}">
														<div class="card">
															<div th:if="${userDevice.device.name eq 'Fit Buddy'}">
																<img class="card-img-top"
																	src="images/4e56fc0b-28d1-4bd4-98c6-697e5a8e4721_rw_1200.gif"
																	alt="Card image cap" style="height: 400px;">
															</div>
															<div th:if="${userDevice.device.name eq 'Bratara'}">
																<img class="card-img-top" src="images/band.jpg"
																	alt="Card image cap"
																	style="height: 400px; padding: 20px;">
															</div>
															<div
																th:if="${userDevice.device.name eq 'Cantar Inteligent'}">
																<img class="card-img-top" src="images/scale.jpg"
																	alt="Card image cap"
																	style="height: 400px; padding: 20px;">
															</div>
															<div class="card-body">
																<h4 class="card-title mb-3"
																	th:text="${userDevice.device.name}"></h4>
																<h5 th:text="${userDevice.device.price}"></h5>
																<h5 th:text="${userDevice.dateOfPurchase}"></h5>
																<button data-toggle="modal"
																	data-target="#modal-measurements"
																	th:attr="data-target='#modal-measurements'+${userDevice.userDeviceId}">Vezi
																	Masuratori</button>
																<div class="modal modal-measurements fade in"
																	th:id="modal-measurements+${userDevice.userDeviceId}"
																	data-backdrop="false"
																	style="background: rgba(0, 0, 0, 0.5);">
																	<div class="modal-dialog">
																		<div class="modal-content">
																			<div class="modal-header">
																				<button type="button" class="close"
																					data-dismiss="modal" aria-label="Close">
																					<span aria-hidden="true">×</span>
																				</button>
																				<h5 class="modal-title">Masuratori</h5>
																			</div>
																			<div class="modal-body">
																				<div th:if="${#lists.size(userDevice.measurements)}">
																					<ul
																						th:each="measure, iterStat : ${userDevice.measurements}">
																						<li th:text="${measure.name}"></li>
																						<li th:text="${measure.startDate}"></li>
																						<li th:text="${measure.value}"></li>
																						<li th:text="${measure.unitOfMeasurement}"></li>
																					</ul>
																				</div>
																				<div
																					th:unless="${#lists.size(userDevice.measurements)}">
																					Acest dispozitiv nu are calculat nicio masuratoare
																					momentan</div>
																			</div>
																			<div class="modal-footer">
																				<button type="button"
																					class="btn btn-outline pull-left"
																					data-dismiss="modal">Close</button>
																				<button type="submit">Save</button>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div th:if="${#lists.size(account.userPlans)}">
								<div class="row">
									<div class="col-lg-6">
										<div class="top-campaign" style="min-height: 100%;">
											<h3 class="title-3 m-b-30">Diete</h3>
											<div class="table-responsive">
												<table class="table table-top-campaign">
													<tbody>
														<tr th:each="userPlan : ${account.userPlans}">
															<div th:if="${userPlan.helperPlan.typeOfPlan == 'Dieta'}">
																<td
																	th:text="${userPlan.userPlanId + '. ' +userPlan.helperPlan.name}"></td>
																<td th:text="${userPlan.helperPlan.price}"></td>
																<td th:text="${userPlan.dateOfPurchase}"></td>
																<td>
																	<button data-toggle="modal"
																		data-target="#modal-food-eaten"
																		th:attr="data-target='#modal-food-eaten'+${userPlan.userPlanId}">Vezi
																		Alimente</button>
																	<div class="modal modal-food-eaten fade in"
																		th:id="modal-food-eaten+${userPlan.userPlanId}"
																		data-backdrop="false"
																		style="background: rgba(0, 0, 0, 0.5);">
																		<div class="modal-dialog">
																			<div class="modal-content">
																				<div class="modal-header">
																					<button type="button" class="close"
																						data-dismiss="modal" aria-label="Close">
																						<span aria-hidden="true">×</span>
																					</button>
																					<h5 class="modal-title">Alimentele Consumate</h5>
																				</div>
																				<div class="modal-body">
																					<div
																						th:if="${#lists.size(userPlan.helperPlan.foods)}">
																						<ul
																							th:each="food, iterStat : ${userPlan.helperPlan.foods}">
																							<li th:text="${food.name}"></li>
																							<li th:text="${food.calories}"></li>
																							<li th:text="${food.protein}"></li>
																							<li th:text="${food.lipids}"></li>
																							<li th:text="${food.carbohydrates}"></li>
																							<li th:text="${food.fiber}"></li>
																							<li th:text="${food.weight}"></li>
																							<li th:text="${food.recommendedTimeRange}"></li>
																						</ul>
																					</div>
																					<div
																						th:unless="${#lists.size(userPlan.helperPlan.foods)}">
																						Din aceasta dieta nu s-a consumat niciun aliment</div>
																				</div>
																				<div class="modal-footer">
																					<button type="button"
																						class="btn btn-outline pull-left"
																						data-dismiss="modal">Close</button>
																					<button type="submit">Save</button>
																				</div>
																			</div>
																		</div>
																	</div>
																</td>
															</div>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="top-campaign" style="min-height: 100%;">
											<h3 class="title-3 m-b-30">Antrenamente</h3>
											<div class="table-responsive">
												<table class="table table-top-campaign">
													<tbody>
														<tr th:each="userPlan : ${account.userPlans}">
															<div
																th:if="${userPlan.helperPlan.typeOfPlan == 'Antrenament'}">
																<td
																	th:text="${userPlan.userPlanId + '. ' +userPlan.helperPlan.name}"></td>
																<td th:text="${userPlan.helperPlan.price}"></td>
																<td th:text="${userPlan.dateOfPurchase}"></td>
																<td>
																	<button data-toggle="modal"
																		data-target="#modal-exercises-done"
																		th:attr="data-target='#modal-exercises-done'+${userPlan.userPlanId}">Vezi
																		Exercitii</button>
																	<div class="modal modal-exercises-done fade in"
																		th:id="modal-exercises-done+${userPlan.userPlanId}"
																		data-backdrop="false"
																		style="background: rgba(0, 0, 0, 0.5);">
																		<div class="modal-dialog">
																			<div class="modal-content">
																				<div class="modal-header">
																					<button type="button" class="close"
																						data-dismiss="modal" aria-label="Close">
																						<span aria-hidden="true">×</span>
																					</button>
																					<h5 class="modal-title">Exercitiile Efectuate</h5>
																				</div>
																				<div class="modal-body">
																					<div
																						th:if="${#lists.size(userPlan.helperPlan.exercises)}">
																						<ul
																							th:each="exercise, iterStat : ${userPlan.helperPlan.exercises}">
																							<li th:text="${exercise.name}"></li>
																							<li th:text="${exercise.caloriesBurned}"></li>
																							<li th:text="${exercise.numberOfSeries}"></li>
																							<li th:text="${exercise.numberOfReps}"></li>
																							<li th:text="${exercise.execution}"></li>
																							<li th:text="${exercise.trainedMuscleGroup}"></li>
																						</ul>
																					</div>
																					<div
																						th:unless="${#lists.size(userPlan.helperPlan.exercises)}">
																						Din acest antrenament nu s-a efectuat niciun
																						exercitiu</div>
																				</div>
																				<div class="modal-footer">
																					<button type="button"
																						class="btn btn-outline pull-left"
																						data-dismiss="modal">Close</button>
																					<button type="submit">Save</button>
																				</div>
																			</div>
																		</div>
																	</div>
																</td>
															</div>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-4"
									th:if="${#lists.size(chartExercisesDone.keySet())}">
									<div class="au-card m-b-30" style="margin-top: 30px;">
										<div class="au-card-inner">
											<h3 class="title-2 m-b-40">Alimente</h3>
											<canvas id="food-eaten"></canvas>
										</div>
									</div>
								</div>
								<div class="col-lg-4"
									th:if="${#lists.size(chartFoodEaten.keySet())}">
									<div class="au-card m-b-30" style="margin-top: 30px;">
										<div class="au-card-inner">
											<h3 class="title-2 m-b-40">Exercitii</h3>
											<canvas id="exercises-done"></canvas>
										</div>
									</div>
								</div>
								<div class="col-lg-4"
									th:if="${#lists.size(chartMeasurements.keySet())}">
									<div class="au-card m-b-30" style="margin-top: 30px;">
										<div class="au-card-inner">
											<h3 class="title-2 m-b-40">Masuratori</h3>
											<canvas id="measurements"></canvas>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div
									th:if="${passedTenDaysFoodEaten && passedTenDaysExerciseDone}">
									<h4>Poti dezactiva acest cont</h4>
									<ul>
										<div th:if="${passedTenDaysFoodEaten}">
											<li>Au trecut 10 zile de cand a consumat un aliment
												propus de unul dintre nutritionistii sai</li>
										</div>
										<div th:if="${passedTenDaysExerciseDone}">
											<li>Au trecut 10 zile de cand a efectuat un exercitiu
												propus de unul dintre antrenorii sai</li>
										</div>
									</ul>
									<form th:action="@{/disable_account}" method="post">
										<input type="hidden" name="accountId"
											th:value="${account.accountId}" />
										<button type="submit" class="btn btn-danger">
											Dezactiveaza Cont</button>
									</form>
								</div>
							</div>
						</div>
						<div th:if="${account.active == false}">
							Acest cont a fost dezactivat din cauza ca
							<ul>
								<div th:if="${passedTenDaysFoodEaten}">
									<li>Au trecut 10 zile de cand a consumat un aliment propus
										de unul dintre nutritionistii sai</li>
								</div>
								<div th:if="${passedTenDaysExerciseDone}">
									<li>Au trecut 10 zile de cand a efectuat un exercitiu
										propus de unul dintre antrenorii sai</li>
								</div>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<script th:src="@{/vendor/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/vendor/bootstrap-4.1/popper.min.js}"></script>
	<script th:src="@{/vendor/bootstrap-4.1/bootstrap.min.js}"></script>
	<script th:src="@{/vendor/slick/slick.min.js}">
    </script>
	<script th:src="@{/vendor/wow/wow.min.js}"></script>
	<script th:src="@{/vendor/animsition/animsition.min.js}"></script>
	<script
		th:src="@{/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js}">
    </script>
	<script th:src="@{/vendor/counter-up/jquery.waypoints.min.js}"></script>
	<script th:src="@{/vendor/counter-up/jquery.counterup.min.js}">
    </script>
	<script th:src="@{/vendor/circle-progress/circle-progress.min.js}"></script>
	<script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.js}"></script>
	<script th:src="@{/vendor/chartjs/Chart.bundle.min.js}"></script>
	<script th:src="@{/vendor/select2/select2.min.js}">
    </script>

	<script th:src="@{/js/main.js}"></script>
	<script th:inline="javascript">
    try {

        //Team chart
        var ctx = document.getElementById("exercises-done");
        if (ctx) {
          ctx.height = 150;
          var myChart = new Chart(ctx, {
            type: 'line',
            data: {
              labels: [[${chartExercisesDone.keySet()}]],
              type: 'line',
              defaultFontFamily: 'Poppins',
              datasets: [{
                data: [[${chartExercisesDone.values()}]],
                label: "Numar Exercitii",
                backgroundColor: 'rgba(0,103,255,.15)',
                borderColor: 'rgba(0,103,255,0.5)',
                borderWidth: 3.5,
                pointStyle: 'circle',
                pointRadius: 5,
                pointBorderColor: 'transparent',
                pointBackgroundColor: 'rgba(0,103,255,0.5)',
              },]
            },
            options: {
              responsive: true,
              tooltips: {
                mode: 'index',
                titleFontSize: 12,
                titleFontColor: '#000',
                bodyFontColor: '#000',
                backgroundColor: '#fff',
                titleFontFamily: 'Poppins',
                bodyFontFamily: 'Poppins',
                cornerRadius: 3,
                intersect: false,
              },
              legend: {
                display: false,
                position: 'top',
                labels: {
                  usePointStyle: true,
                  fontFamily: 'Poppins',
                },


              },
              scales: {
                xAxes: [{
                  display: true,
                  gridLines: {
                    display: false,
                    drawBorder: false
                  },
                  scaleLabel: {
                    display: false,
                    labelString: 'Month'
                  },
                  ticks: {
                    fontFamily: "Poppins"
                  }
                }],
                yAxes: [{
                  display: true,
                  gridLines: {
                    display: false,
                    drawBorder: false
                  },
                  scaleLabel: {
                    display: true,
                    labelString: 'Valoare',
                    fontFamily: "Poppins"
                  },
                  ticks: {
                    fontFamily: "Poppins"
                  }
                }]
              },
              title: {
                display: false,
              }
            }
          });
        }


      } catch (error) {
        console.log(error);
      }
      
      
      try {

          //Team chart
          var ctx = document.getElementById("food-eaten");
          if (ctx) {
            ctx.height = 150;
            var myChart = new Chart(ctx, {
              type: 'line',
              data: {
                labels: [[${chartFoodEaten.keySet()}]],
                type: 'line',
                defaultFontFamily: 'Poppins',
                datasets: [{
                  data: [[${chartFoodEaten.values()}]],
                  label: "Numar Alimente",
                  backgroundColor: 'rgba(0,103,255,.15)',
                  borderColor: 'rgba(0,103,255,0.5)',
                  borderWidth: 3.5,
                  pointStyle: 'circle',
                  pointRadius: 5,
                  pointBorderColor: 'transparent',
                  pointBackgroundColor: 'rgba(0,103,255,0.5)',
                },]
              },
              options: {
                responsive: true,
                tooltips: {
                  mode: 'index',
                  titleFontSize: 12,
                  titleFontColor: '#000',
                  bodyFontColor: '#000',
                  backgroundColor: '#fff',
                  titleFontFamily: 'Poppins',
                  bodyFontFamily: 'Poppins',
                  cornerRadius: 3,
                  intersect: false,
                },
                legend: {
                  display: false,
                  position: 'top',
                  labels: {
                    usePointStyle: true,
                    fontFamily: 'Poppins',
                  },


                },
                scales: {
                  xAxes: [{
                    display: true,
                    gridLines: {
                      display: false,
                      drawBorder: false
                    },
                    scaleLabel: {
                      display: false,
                      labelString: 'Month'
                    },
                    ticks: {
                      fontFamily: "Poppins"
                    }
                  }],
                  yAxes: [{
                    display: true,
                    gridLines: {
                      display: false,
                      drawBorder: false
                    },
                    scaleLabel: {
                      display: true,
                      labelString: 'Valoare',
                      fontFamily: "Poppins"
                    },
                    ticks: {
                      fontFamily: "Poppins"
                    }
                  }]
                },
                title: {
                  display: false,
                }
              }
            });
          }


        } catch (error) {
          console.log(error);
        }
        
        try {

            //Team chart
            var ctx = document.getElementById("measurements");
            if (ctx) {
              ctx.height = 150;
              var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                  labels: [[${chartMeasurements.keySet()}]],
                  type: 'line',
                  defaultFontFamily: 'Poppins',
                  datasets: [{
                    data: [[${chartMeasurements.values()}]],
                    label: "Numar Masuratori",
                    backgroundColor: 'rgba(0,103,255,.15)',
                    borderColor: 'rgba(0,103,255,0.5)',
                    borderWidth: 3.5,
                    pointStyle: 'circle',
                    pointRadius: 5,
                    pointBorderColor: 'transparent',
                    pointBackgroundColor: 'rgba(0,103,255,0.5)',
                  },]
                },
                options: {
                  responsive: true,
                  tooltips: {
                    mode: 'index',
                    titleFontSize: 12,
                    titleFontColor: '#000',
                    bodyFontColor: '#000',
                    backgroundColor: '#fff',
                    titleFontFamily: 'Poppins',
                    bodyFontFamily: 'Poppins',
                    cornerRadius: 3,
                    intersect: false,
                  },
                  legend: {
                    display: false,
                    position: 'top',
                    labels: {
                      usePointStyle: true,
                      fontFamily: 'Poppins',
                    },


                  },
                  scales: {
                    xAxes: [{
                      display: true,
                      gridLines: {
                        display: false,
                        drawBorder: false
                      },
                      scaleLabel: {
                        display: false,
                        labelString: 'Month'
                      },
                      ticks: {
                        fontFamily: "Poppins"
                      }
                    }],
                    yAxes: [{
                      display: true,
                      gridLines: {
                        display: false,
                        drawBorder: false
                      },
                      scaleLabel: {
                        display: true,
                        labelString: 'Valoare',
                        fontFamily: "Poppins"
                      },
                      ticks: {
                        fontFamily: "Poppins"
                      }
                    }]
                  },
                  title: {
                    display: false,
                  }
                }
              });
            }


          } catch (error) {
            console.log(error);
          }
    </script>
</body>

</html>