<mat-card style="margin-bottom: 20px;">
    <mat-card-header>
        <mat-card-title>Date Transferate</mat-card-title>
        <mat-card-subtitle>Succes</mat-card-subtitle>
    </mat-card-header>
    <div *ngIf="user.gender == 'Barbat'">
        <img mat-card-image src="/assets/img/execute-man.gif">
    </div>
    <div *ngIf="user.gender == 'Femeie'">
        <img mat-card-image src="/assets/img/execute-woman.gif">
    </div>
    <mat-divider></mat-divider>
    <mat-card-content style="text-align: center; margin-top: 20px;">
        <mat-list>
            <div style="font-size: 30px;">Datele transferate</div>
            <mat-list-item style="font-size: 12px;">
                <mat-icon matListIcon style="color: #3f51b5;">done_all</mat-icon>
                Contin informatii despre corpul tau
            </mat-list-item>
            <mat-list-item style="font-size: 12px;">
                <mat-icon matListIcon style="color: #3f51b5;">done_all</mat-icon>
                Sub forma de grafice sau de tabele
            </mat-list-item>
            <mat-list-item>
                <a href="https://localhost:8443/" mat-raised-button color="primary" class="btn-block" *ngIf="hostName == 'localhost'">Vizualizeaza Informatii</a>
                <a href="https://172.20.10.2:8443/" mat-raised-button color="primary" class="btn-block" *ngIf="hostName == '172.20.10.2'">Vizualizeaza Informatii</a>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>