<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sign up</title>
<base href="/">
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" th:href="@{css/style.css}"/>
</head>
<body>
	<div class="container">
		<form class="form-horizontal" role="form" method="post"
			th:action="@{/edit_training_plan_save}">
			<input type="hidden" name="trainingPlanId" th:value="${trainingPlan.trainingPlanId}"/>
			<div style="position: relative; top: 110px; left: 250px;">
				<h3>Editeaza Plan Antrenament</h3>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Nume</label>
							<div class="input-group mb-2 mr-sm-2 mb-sm-0">
								<input type="text" name="name" th:value="${trainingPlan.name}"
									class="form-control validation" id="firstName" placeholder="Nume"
									autofocus>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Intensitate</label>
							<div class="input-group mb-2 mr-sm-2 mb-sm-0">
								<input type="text" name="intensity" th:value="${trainingPlan.intensity}" 
									class="form-control validation" placeholder="Intensitate"
									autofocus>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group has-danger">
							<label>Pentru cine?</label>
							<div class="input-group mb-2 mr-sm-2 mb-sm-0">
								<select name="forWho" th:value="${trainingPlan.forWho}">
									<option 
									th:each="s : ${sex}" 
									th:text="${s.gender}"
									th:value="${s}"></option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Pret</label>
							<div class="input-group mb-2 mr-sm-2 mb-sm-0">
								<input type="number" name="price" th:value="${trainingPlan.price}"
									class="form-control validation" id="price" placeholder="Pret"
									autofocus>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-6">
						<button type="submit" class="btn btn-success">
							<i class="fa fa-user-plus"></i> Register
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<script type="text/javascript" th:src="@{/js/signup.js}"></script>
</body>
</html>