<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sign up</title>
<base href="/">
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" th:href="@{css/style.css}"/>
</head>
<body>
	<div th:unless="${account.accountInformation}">
		<p>Contul tau nu a fost activat deoarece nu ai trimis niciun cv</p>
		<a th:href="@{/curriculum-vitae}" class="btn btn-success">Trimite cv</a>
	</div>
	<h2 th:text="${message}"></h2>
	<div th:if="${account.active eq false and account.accountInformation != null}">
		<p>Trebuie sa astepti pana la validarea contului</p>
	</div>
	<div th:if="${account.active eq true}">
		<a th:href="@{/view_profile}">Vezi profil</a>
		<a th:href="@{/training_plans}">Vezi antrenamentele necumparate</a>
		<a th:href="@{/purchased_training_plans}">Vezi antrenamentele cumparate</a>
		<a th:href="@{/create_training_plan}">Creeaza Antrenament</a>
		<a th:href="@{/view_learners}">Vezi cursanti</a>
		<a th:href="@{/view_feedbacks}">Vezi feedback-uri</a>
	</div>
</body>
</html>