<div style="margin-bottom:20px;">
    <mat-card>
        <mat-card-header>
            <div 
            mat-card-avatar
            [ngStyle]="{ 'background-image': 'url(' + image + ')'}"></div>
            <mat-card-title>{{device.name}}</mat-card-title>
            <mat-card-subtitle>{{device.company}}</mat-card-subtitle>
        </mat-card-header>
        <div *ngIf="device.name === 'Bratara'">
            <img mat-card-image src="/assets/img/band.jpg">
        </div>
        <div *ngIf="device.name === 'Cantar Inteligent'">
            <img mat-card-image src="/assets/img/scale.jpg">
        </div>
        <div *ngIf="device.name === 'Fit Buddy'" style="text-align: center;">
            <img mat-card-image src="/assets/img/4e56fc0b-28d1-4bd4-98c6-697e5a8e4721_rw_1200.gif" style="height: 200px;width: 230px;">
        </div>
        <mat-card-content>
            <div *ngIf="numberOfMeasurements > 0">
                <h3 style="text-align: center;">Masuratori Calculate</h3>
            <div style="margin: auto; position: relative; width: 100px; height: 100px; display: flex; align-items: center; justify-content: center;">
                <mat-progress-spinner
                style="width: 100px;height: 100px;position: absolute;top: 0;left: 0;" 
                [color]="'primary'" 
                [mode]="'determinate'" 
                [value]="value">
                </mat-progress-spinner>
                <h4>{{ numberOfMeasurements }}</h4>
              </div>
            </div>  
              <div *ngIf="device.name === 'Fit Buddy'">
                <h3>Tipuri Masuratori Oferite</h3>
                <mat-divider></mat-divider>
                <mat-list>
                    <mat-list-item *ngFor="let item of measurementTypesForFitBuddy">
                        {{ item }}
                    </mat-list-item>
                </mat-list>
            </div>
            <div *ngIf="device.name === 'Bratara'">
                <h3>Tipuri Masuratori Oferite</h3>
                <mat-divider></mat-divider>
                <mat-list>
                    <mat-list-item *ngFor="let item of measurementTypesForBand">
                        {{ item }}
                    </mat-list-item>
                </mat-list>
            </div>
            <div *ngIf="device.name === 'Cantar Inteligent'">
                <h3>Tipuri Masuratori Oferite</h3>
                <mat-divider></mat-divider>
                <mat-list>
                    <mat-list-item *ngFor="let item of measurementTypesForScale">
                        {{ item }}
                    </mat-list-item>
                </mat-list>
            </div>
        </mat-card-content>
</mat-card>
</div>