<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>404</title>
<link th:href="@{vendor/bootstrap-4.1/bootstrap.min.css}"
	rel="stylesheet" media="all">
<link th:href="@{css/theme.css}" rel="stylesheet" media="all">
</head>

<body style="background-color: #7300e6;">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9 mx-auto">
				<div
					style="text-align: center; font-size: 70px; color: white; font-weight: 700; position: relative; top: 200px;">
					Ne pare rau! <br> Aceasta pagina nu exista <br> <a
						href="/home" class="btnn2"
						style="padding: 3px 15px; margin-top: 30px; color: #7300e6; background-color: white; font-size: 30px; position: relative; left: -60px; top: -10px;">Pagina
						Principala</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>