.alert {
 padding: 20px;
    background-color: white;
    color: #7300e6;
    width: 300px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 20px;
}

.closebtn {
  margin-left: 15px;
  color: #7300e6;
  font-weight: bold;
  float: right;
  font-size: 30px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}


.cartWrap {
	transition: transform 1s;
}

.cartWrap:hover {
	transform: scale(1.05);
}

img {
	max-width: 100%;
}

.cf:before, .cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

.cf {
	*zoom: 1;
}

.wrap {
	margin: 0 auto;
	width: 50%;
	max-width: 960px;
	margin-bottom: 5em;
}

.projTitle {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 2em;
	padding: 1em 0;
	border-bottom: 1px solid #dadada;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.projTitle span {
	font-family: 'Droid Serif', serif;
	font-weight: normal;
	font-style: italic;
	text-transform: lowercase;
	color: #777;
}

.heading {
	padding: 1em 0;
	border-bottom: 1px solid #d0d0d0;
}

.heading h1 {
	font-family: 'Droid Serif', serif;
	font-size: 2em;
	float: left;
}

.heading a.continue:link, .heading a.continue:visited {
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: -0.015em;
	font-size: 0.75em;
	padding: 1em;
	color: #fff;
	background: #82ca9c;
	font-weight: bold;
	border-radius: 50px;
	float: right;
	text-align: right;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-ms-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

.heading a.continue:after {
	content: "\276f";
	padding: 0.5em;
	position: relative;
	right: 0;
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	-ms-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	transition: all 0.15s linear;
}

.heading a.continue:hover, .heading a.continue:focus, .heading a.continue:active
	{
	background: #f69679;
}

.heading a.continue:hover:after, .heading a.continue:focus:after,
	.heading a.continue:active:after {
	right: -10px;
}

.tableHead {
	display: table;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.75em;
}

.tableHead li {
	display: table-cell;
	padding: 1em 0;
	text-align: center;
}

.tableHead li.prodHeader {
	text-align: left;
}

.cart {
	padding: 1em 0;
}

.cart .items {
	display: block;
	width: 100%;
	vertical-align: middle;
	padding: 1.5em;
	height: 250px;
	position: relative;
	top: 18px;
}

.cart .items.even {
	background: #fafafa;
}

.cart .items .infoWrap {
	display: table;
	width: 100%;
}

.cart .items .cartSection .itemNumber {
	font-size: 0.75em;
	color: #777;
	margin-bottom: 0.5em;
}

.cart .items .cartSection h3 {
	font-size: 1em;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.025em;
}

.cart .items .cartSection p {
	display: inline-block;
	font-size: 0.85em;
	color: #777;
	font-family: 'Montserrat', sans-serif;
}

.cart .items .cartSection p .quantity {
	font-weight: bold;
	color: #333;
}

.cart .items .cartSection p.stockStatus {
	color: #82ca9c;
	font-weight: bold;
	padding: 0.5em 0 0 1em;
	text-transform: uppercase;
}

.cart .items .cartSection p.stockStatus.out {
	color: #f69679;
}

.cart .items .cartSection .itemImg {
	width: 4em;
	float: left;
}

.cart .items .cartSection.qtyWrap, .cart .items .cartSection.prodTotal {
	text-align: center;
}

.cart .items .cartSection.qtyWrap p, .cart .items .cartSection.prodTotal p
	{
	font-weight: bold;
	font-size: 1.25em;
}

.cart .items .cartSection input.qty {
	width: 2em;
	text-align: center;
	font-size: 1em;
	padding: 0.25em;
	margin: 1em 0.5em 0 0;
}

.cart .items .cartSection .itemImg {
	width: 15em;
	display: inline;
	padding-right: 1em;
}

.special {
	display: block;
	font-family: 'Montserrat', sans-serif;
}

.special .specialContent {
	padding: 1em 1em 0;
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #dadada;
}

.special .specialContent:before {
	content: "\21b3";
	font-size: 1.5em;
	margin-right: 1em;
	color: #6f6f6f;
	font-family: helvetica, arial, sans-serif;
}

a.remove {
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-weight: bold;
	background: #e0e0e0;
	padding: 0.5em;
	font-size: 0.75em;
	display: inline-block;
	border-radius: 100%;
	line-height: 0.85;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-ms-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

a.remove:hover {
	background: #f30;
}

.promoCode {
	border: 2px solid #efefef;
	float: left;
	width: 35%;
	padding: 2%;
}

.promoCode label {
	display: block;
	width: 100%;
	font-style: italic;
	font-size: 1.15em;
	margin-bottom: 0.5em;
	letter-spacing: -0.025em;
}

.promoCode input {
	width: 85%;
	font-size: 1em;
	padding: 0.5em;
	float: left;
	border: 1px solid #dadada;
}

.promoCode input:active, .promoCode input:focus {
	outline: 0;
}

.promoCode button.btnn {
	float: left;
	width: 15%;
	padding: 0.75em 0;
	border-radius: 0 1em 1em 0;
	text-align: center;
	border: 1px solid #82ca9c;
}

.promoCode button.btnn:hover {
	border: 1px solid #f69679;
	background: #f69679;
}

.btnn2 {
	text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.015em;
    font-size: 20px;
    padding: 6px 15px;
    color: white;
    background: #7300e6;
    font-weight: bold;
    border-radius: 15px;
    float: right;
    text-align: right;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

.btnn2:after {
	content: "\276f";
	padding: 0.5em;
	position: relative;
	right: 0;
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	-ms-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	transition: all 0.15s linear;
}

.btnn2:hover:after, .btnn2:focus:after, .btnn2:active:after {
	right: -10px;
}

.btnn {
	text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.015em;
    font-size: 20px;
    padding: 10px 20px;
    color: white;
    background: #7300e6;
    font-weight: bold;
    border-radius: 50px;
    float: left;
    text-align: right;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

.btnn:after {
	content: "\276f";
	padding: 0.5em;
	position: relative;
	right: 0;
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	-ms-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	transition: all 0.15s linear;
}

.btnn:hover:after, .btnn:focus:after, .btnn:active:after {
	right: -10px;
}

.promoCode .btnn {
	font-size: 0.85em;
	paddding: 0.5em 2em;
}
/* TOTAL AND CHECKOUT */
.subtotal {
	float: right;
	width: 50%;
}

.subtotal .totalRow {
	padding: 0.5em;
	text-align: right;
}

.subtotal .totalRow.final {
	font-size: 1.25em;
	font-weight: bold;
}

.subtotal .totalRow span {
	display: inline-block;
	padding: 0 0 0 1em;
	text-align: right;
}

.subtotal .totalRow .label {
	font-weight: 600;
	font-size: 30px;
	text-transform: uppercase;
}

.subtotal .totalRow .value {
	letter-spacing: -0.025em;
	width: 25%;
	font-size: 23px;
}

@media only screen and (max-width: 39.375em) {
	.wrap {
		width: 98%;
		padding: 2% 0;
	}
	.projTitle {
		font-size: 1.5em;
		padding: 10% 5%;
	}
	.heading {
		padding: 1em;
		font-size: 90%;
	}
	.cart .items .cartSection {
		width: 90%;
		display: block;
		float: left;
	}
	.cart .items .cartSection.qtyWrap {
		width: 10%;
		text-align: center;
		padding: 0.5em 0;
		float: right;
	}
	.cart .items .cartSection.qtyWrap:before {
		content: "QTY";
		display: block;
		font-family: 'Montserrat', sans-serif;
		padding: 0.25em;
		font-size: 0.75em;
	}
	.cart .items .cartSection.prodTotal, .cart .items .cartSection.removeWrap
		{
		display: none;
	}
	.cart .items .cartSection .itemImg {
		width: 25%;
	}
	.promoCode, .subtotal {
		width: 100%;
	}
	button.btnn.continue {
		width: 100%;
		text-align: center;
	}
}

.button { -
	-background: #7300e6; -
	-background-hover: #7300e6; -
	-text: #fff; -
	-icon: #fff;
	display: -webkit-box;
	display: flex;
	outline: none;
	cursor: pointer;
	border: 0;
	min-width: 113px;
	padding: 15px 20px;
	border-radius: 11px;
	line-height: 24px;
	font-family: inherit;
	font-weight: 600;
	font-size: 25px;
	overflow: hidden;
	color: var(- -text);
	background: var(- -b, var(- -background));
	-webkit-transition: background 0.4s, -webkit-transform 0.3s;
	transition: background 0.4s, -webkit-transform 0.3s;
	transition: transform 0.3s, background 0.4s;
	transition: transform 0.3s, background 0.4s, -webkit-transform 0.3s;
	-webkit-transform: scale(var(- -scale, 1)) translateZ(0);
	transform: scale(var(- -scale, 1)) translateZ(0);
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-mask-image: -webkit-radial-gradient(white, black);
}

.button:active { -
	-scale: 0.95;
}

.button:hover { -
	-b: var(- -background-hover);
}

.button .icon, .button span {
	display: inline-block;
	vertical-align: top;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.button .icon {
	width: 24px;
	height: 24px;
	position: relative;
	z-index: 1;
	margin-right: 8px;
	color: var(- -text);
}

.button .icon svg {
	width: 96px;
	height: 96px;
	display: block;
	position: absolute;
	left: -36px;
	top: -36px;
	will-change: transform;
	fill: var(- -icon);
	-webkit-transform: scale(0.254) translateZ(0);
	transform: scale(0.254) translateZ(0);
	-webkit-animation: var(- -name, var(- -name-top, none)) 2200ms ease
		forwards;
	animation: var(- -name, var(- -name-top, none)) 2200ms ease forwards;
}

.button .icon svg.bottom { -
	-name: var(- -name-bottom, none);
}

.button span {
	-webkit-animation: var(- -name-text, none) 2200ms ease forwards;
	animation: var(- -name-text, none) 2200ms ease forwards;
}

.button.delete { -
	-name-top: trash-top; -
	-name-bottom: trash-bottom; -
	-name-text: text;
}

@
-webkit-keyframes trash-bottom { 25%, 32% {
	-webkit-transform: translate(32px, 19px) scale(1) translateZ(0);
	transform: translate(32px, 19px) scale(1) translateZ(0);
}

70%,
80%
{
-webkit-transform


:

 

translate


(32
px
,
0)
scale


(0
.254


)
translateZ


(0);
transform


:

 

translate


(32
px
,
0)
scale


(0
.254


)
translateZ


(0);
}
100%
{
-webkit-transform


:

 

scale


(0
.254


)
translateZ


(0);
transform


:

 

scale


(0
.254


)
translateZ


(0);
}
}
@
keyframes trash-bottom { 25%, 32% {
	-webkit-transform: translate(32px, 19px) scale(1) translateZ(0);
	transform: translate(32px, 19px) scale(1) translateZ(0);
}

70%,
80%
{
-webkit-transform


:

 

translate


(32
px
,
0)
scale


(0
.254


)
translateZ


(0);
transform


:

 

translate


(32
px
,
0)
scale


(0
.254


)
translateZ


(0);
}
100%
{
-webkit-transform


:

 

scale


(0
.254


)
translateZ


(0);
transform


:

 

scale


(0
.254


)
translateZ


(0);
}
}
@
-webkit-keyframes trash-top { 25%, 32% {
	-webkit-transform: translate(38px, 4px) scale(1) rotate(-20deg)
		translateZ(0);
	transform: translate(38px, 4px) scale(1) rotate(-20deg) translateZ(0);
}

70%,
80%
{
-webkit-transform


:

 

translate


(32
px
,
0)
scale


(0
.254


)
translateZ


(0);
transform


:

 

translate


(32
px
,
0)
scale


(0
.254


)
translateZ


(0);
}
100%
{
-webkit-transform


:

 

scale


(0
.254


)
translateZ


(0);
transform


:

 

scale


(0
.254


)
translateZ


(0);
}
}
@
keyframes trash-top { 25%, 32% {
	-webkit-transform: translate(38px, 4px) scale(1) rotate(-20deg)
		translateZ(0);
	transform: translate(38px, 4px) scale(1) rotate(-20deg) translateZ(0);
}

70%,
80%
{
-webkit-transform


:

 

translate


(32
px
,
0)
scale


(0
.254


)
translateZ


(0);
transform


:

 

translate


(32
px
,
0)
scale


(0
.254


)
translateZ


(0);
}
100%
{
-webkit-transform


:

 

scale


(0
.254


)
translateZ


(0);
transform


:

 

scale


(0
.254


)
translateZ


(0);
}
}
@
-webkit-keyframes text { 25% {
	-webkit-transform: translate(-4px, -4px) rotate(-20deg) translateZ(0);
	transform: translate(-4px, -4px) rotate(-20deg) translateZ(0);
}

70%
{
opacity


:

 

1;
-webkit-transform


:

 

translate


(-12
px
,
48
px


)
rotate


(-80
deg
)

 

scale


(0
.2


)
translateZ


(0);
transform


:

 

translate


(-12
px
,
48
px


)
rotate


(-80
deg
)

 

scale


(0
.2


)
translateZ


(0);
}
71%
{
opacity


:

 

0;
}
72%,
90%
{
opacity


:

 

0;
-webkit-transform


:

 

translateZ


(0);
transform


:

 

translateZ


(0);
}
100%
{
opacity


:

 

1;
}
}
@
keyframes text { 25% {
	-webkit-transform: translate(-4px, -4px) rotate(-20deg) translateZ(0);
	transform: translate(-4px, -4px) rotate(-20deg) translateZ(0);
}
70%
{
opacity


:

 

1;
-webkit-transform


:

 

translate


(-12
px
,
48
px


)
rotate


(-80
deg
)

 

scale


(0
.2


)
translateZ


(0);
transform


:

 

translate


(-12
px
,
48
px


)
rotate


(-80
deg
)

 

scale


(0
.2


)
translateZ


(0);
}
71%
{
opacity


:

 

0;
}
72%,
90%
{
opacity


:

 

0;
-webkit-transform


:

 

translateZ


(0);
transform


:

 

translateZ


(0);
}
100%
{
opacity


:

 

1;
}
}